[2017-03-07 09:47] ameshkov commented on #1092
First of all, we should not decrypt HTTPS for ports different from 443.

[2017-03-07 09:53] nkartyshov commented on #984
Added in https exclusions

[2017-03-07 10:07] #984 closed

[2017-03-07 10:31] ameshkov commented on #1092
Also I've changed default filtered ports list to:
`80,443,3128,3130,3143,7275,8000:49151`

[2017-03-07 11:33] ameshkov commented on #1092
Fixed

[2017-03-07 11:33] #1092 closed

[2017-03-07 11:41] ameshkov commented on #1091
I wonder  could it be caused by #1092

[2017-03-07 14:04] nkartyshov commented on #1091
Yes, app uses on 7001 port. Task  #1092 solves problem.

[2017-03-07 14:05] #1091 closed

[2017-03-07 14:34] ameshkov commented on #1052
I guess for it to work properly you should also disable it for shared packages:
[code]

[2017-03-07 14:45] ameshkov opened #1095 "Issues with apps sharing the same UID"
This happens for System apps mostly.

Here is the recent example:
https://github.com/AdguardTeam/AdguardForAndroid/issues/1052

What can be done about it:

1. Sync settings/permissions for those apps
2. Have a "group" of apps sharing the same UID

Also it'd be great if we find a way to distinguish connections between apps with the same UID (which looks impossible, but who knows).

[2017-03-09 09:01] nkartyshov commented on #995
Рекламы нету.

[2017-03-09 09:01] nkartyshov commented on #962
Рекламы нету.

[2017-03-09 09:03] nkartyshov commented on #1052
Review AJC-CR-184

[2017-03-09 09:51] nkartyshov commented on #1089
Added in https exclusion

[2017-03-09 09:51] #1089 closed

[2017-03-09 09:52] nkartyshov commented on #1093
Added in https exclusion

[2017-03-09 09:52] #1093 closed

[2017-03-09 13:49] nkartyshov commented on #1024
Source: https://forum.adguard.com/index.php?threads/%D0%92%D1%81%D1%82%D0%B0%D0%B2%D0%BB%D1%8F%D0%B5%D1%82-%D0%BA%D1%83%D1%81%D0%BE%D0%BA-%D0%BA%D0%BE%D0%B4%D0%B0-%D0%BF%D0%BE%D0%B2%D0%B5%D1%80%D1%85-%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D1%8B-%D0%BD%D0%B0-%D0%BF%D0%BE%D1%87%D1%82%D0%B5.18676/

[2017-03-09 15:06] zebrum commented on #999
[debug (6).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/831388/debug.6.txt)

[2017-03-09 18:59] TPS commented on #1086
I don't know if this is same crash, but I just filed bug report (UserID should still be 1122984, I think) for today's update via Amazon Appstore:
![screenshot_20170309-133956 01](https://cloud.githubusercontent.com/assets/185902/23765815/7451941a-04d0-11e7-9e4e-99bbfce10321.png)

[2017-03-09 19:02] ameshkov commented on #1086
More likely to be an issue with downloaded file, it might be corrupted. Does it help to tap update second time?

[2017-03-09 19:13] TPS commented on #1086
The app downloaded & installed fine, but, when running it gives this & crashes.  Are you asking me to uninstall & redownload?

[2017-03-09 19:13] ameshkov commented on #1086
Wow, I then have no idea what's going on, really:)

[2017-03-09 19:14] ameshkov commented on #1086
I wonder could it be damaged somehow with the amazon DRM?

[2017-03-09 19:15] TPS commented on #1086
Does my bug report help @ all?

[2017-03-09 19:15] ameshkov commented on #1086
I am pretty sure it should be filed as a separate bug report. But only if it is reproducible:)

[2017-03-09 19:17] TPS commented on #1086
Well, I've had it happen 2× in 10 minutes, but I've no idea how I did it.  I'll play w/ it & see.

[2017-03-09 19:17] Bohdan-SUP commented on #1086
The log, just in case -
[debug (2).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/832058/debug.2.txt)

[2017-03-09 19:18] ameshkov commented on #1086
Found this:
https://www.amazon.com/gp/help/customer/forums/kindleqna/ref=cs_hc_k_tv?ie=UTF8&forumID=Fx1FI6JDSFEQQ7V&cdThread=TxMJCTY32PBJPI

[2017-03-09 19:27] TPS commented on #1086
@Bohdan-SUP Thanks!

@ameshkov Well, this isn't a Kindle nor any other kind of Amazon device, & my wifi's been solid, so it doesn't seem to apply. 🤷

[2017-03-10 06:39] nkartyshov commented on #1077
Done. Added an exception trap and redirect to the browser.

[2017-03-10 06:39] #1077 closed

[2017-03-10 09:42] ameshkov commented on #906
Done, review AJC-CR-186

[2017-03-10 09:57] ameshkov commented on #1056
Waiting for the full log

[2017-03-10 09:57] ameshkov commented on #1026
@seanl-adg is there any update on this issue with the new beta version release?

[2017-03-10 09:59] ameshkov commented on #1018
Requested the log file

[2017-03-10 10:02] ameshkov commented on #992
@mozkan007 could you please try the latest AG beta version and check if this issue exists there?

Download link: https://adguard.com/apkb

[2017-03-10 10:03] ameshkov commented on #983
Problem solved (forum)

[2017-03-10 10:03] #983 closed

[2017-03-10 10:03] ameshkov commented on #937
Guys? Do we still have this issue?

[2017-03-10 10:05] ameshkov commented on #910
Let's get back to this discussion.

Actually, I find a toast to be pretty annoying. What if we make Adguard's notification more "rich" and print the last update time there?

[2017-03-10 10:08] ameshkov commented on #657
@vozersky so, what with it?

[2017-03-10 10:09] ameshkov commented on #742
Dup for #1067

[2017-03-10 10:09] #742 closed

[2017-03-10 10:10] Alex-302 commented on #937
No. It is displayed in the foreground now.

[2017-03-10 10:10] #937 closed

[2017-03-10 12:22] mozkan007 commented on #992
@ameshkov Hi again. I appreciate you.Finally my problem is solved completely thanks to you.Thank you very much.

[2017-03-10 12:23] ameshkov commented on #992
Yay! Thanks for checking it!

[2017-03-10 12:45] nkartyshov commented on #1024
Done, review AJC-CR-187.

[2017-03-10 12:45] #1024 closed

[2017-03-10 12:54] TPS commented on #910
Hence, configurable, but defaulted how it is now…

… with that addition, it'd be _extra_ useful, but I'd still like the "every update" toast optionally. ☺

[2017-03-10 13:15] ameshkov commented on #1079
All good

[2017-03-10 13:15] #1079 closed

[2017-03-10 13:15] ameshkov commented on #1070
@Yana-SUP is there any update?

[2017-03-10 13:16] ameshkov commented on #1086
Done

[2017-03-10 13:16] ameshkov commented on #1003
@nkartyshov could you please check it?

[2017-03-10 13:17] ameshkov commented on #918
Nobody likes the idea, closing issue:)

[2017-03-10 13:17] #918 closed

[2017-03-10 14:08] vozersky commented on #657
@ameshkov  It was all good. And I have re-tested it with our new 2.9.17 beta, works fine together with KIS Web protection. Ads are being filtered.

[2017-03-10 14:09] ameshkov commented on #657
In a free version right?

[2017-03-10 14:14] vozersky commented on #657
@ameshkov  I've tried both with and without prem. license

[2017-03-10 14:25] Bohdan-SUP commented on #1070
No reply yet. I'll ask again.

[2017-03-10 14:35] TPS opened #1096 "Log Whitelisting UI Inconsistencies"
Since #11, whitelisting from the filtering log has some unclarity:

- [x] ~~Filters thus generated end up in `Settings/User Filter` rather than `Settings/Whitelist`, which'd be the obvious place to locate such.~~  Confusion resolved via https://github.com/AdguardTeam/AdguardForAndroid/issues/1096#issuecomment-286452834

- [ ] It's unclear whether such filters defined from log are applied immediate

[2017-03-10 14:37] nkartyshov commented on #1003
@ameshkov The apps works fine with last beta version.

[2017-03-10 15:33] #657 closed

[2017-03-10 17:33] Bohdan-SUP commented on #519
Another issue here:

activate AdGuard due to a pop up dialogue box which blocks the edit field.
Would it be possible for the devs to download a free demo version of JAWS
from the link below AND kindly address this issue.

http://www.freedomscientific.com/Downloads

[2017-03-10 20:10] Bluscream commented on #950
No issues so far :)

[2017-03-10 20:10] #950 closed

[2017-03-10 20:20] Bluscream commented on #930
Had no issues with SSL pinning after that.

[2017-03-10 20:20] #930 closed

[2017-03-10 20:29] Bluscream commented on #923
Can this get the Feature Request label?

[2017-03-10 21:49] Bluscream commented on #798
I'll close this now.

[2017-03-10 21:49] #798 closed

[2017-03-11 08:34] Bluscream commented on #1057
4.0? Is this so hard to implement? :(

[2017-03-11 08:39] Bluscream commented on #1057
somewhere in https://gitlab.com/AdguardTeam/AdguardForAndroid/blob/master/java/com/adguard/android/ui/SettingsActivity.java right?

[2017-03-12 14:18] ameshkov commented on #1052
Heh, I still see it. It seems, that the traffic is caused by the "MTP Host" app. I wonder, why don't I see that app in the "Apps Management" section.

[2017-03-12 14:19] ameshkov commented on #1052
Reassigned to myself.

[2017-03-12 14:22] ameshkov opened #1097 "Faq UI is broken on Android 5.1.1 when you highlight text"
http://images.vfl.ru/ii/1488717044/dee11f59/16337432.png

Just take a quick look, is it possible to fix quickly?

[2017-03-12 14:58] ameshkov opened #1098 "ChessPlanet app is broken by v2.9"
The app:
https://play.google.com/store/apps/details?id=com.convekta.android.chessplanet&rdid=com.convekta.android.chessplanet

Proxy part of the log:
[code]

VPN part of the log:
[code]

Please note, that the packet payload was 109 bytes, but on the proxy part it was split into two smaller packets. I bet that is what causing the issue.

[2017-03-12 15:04] ameshkov commented on #1098
@sfionov please note as we should take this into account in the Core Libs.

[2017-03-12 17:45] ameshkov opened #1099 "App details activity is very slow now"
Watch the video attached to the post:
http://4pda.ru/forum/index.php?s=&showtopic=601691&view=findpost&p=59270176

[2017-03-12 17:47] ameshkov commented on #1098
Review ID: AJC-CR-188

[2017-03-12 17:47] #1098 closed

[2017-03-12 18:15] ameshkov opened #1100 "The quick settings tile doesn't highlight/shade when you toggle protection on and off"
The issue exists on the new Android version (7.1.2+)

[2017-03-12 23:12] ameshkov commented on #906
Unfortunately, it breaks DNS filtering, should be improved further.

[2017-03-13 08:33] ameshkov commented on #906
Fixed, review ID: AJC-CR-189

[2017-03-13 08:33] #906 closed

[2017-03-13 10:02] ameshkov commented on #1085
It depends on type of pinning.

If this is Nougat-pinning, you shouldn't do anything, it'd be enough to move cert to the system storage.

If it is the app's own pinning, you'll have sort things out manually with each app. They all use different types of pinning and that's the problem.

Moreover, it'd be better to create separate issues about every app, so that we could back you up and check it on

[2017-03-13 10:50] #1003 closed

[2017-03-13 11:10] Revertron commented on #1099
I'm unable to see this on my device, but I've run method tracing.
It shows, that we run too much of `getDefaultRules()` - it can be cached without consequences (and it has an impact on SettingsFirewallFragment, when going back from FirewallPackageFragment), and `httpsFilteringService.isCaCertificateInstalled()` - it can be the main problem in FirewallPackageFragment. The checking of all installed

[2017-03-13 13:43] vbagirov opened #1101 "Incorrect protection status is shown in side menu"
When you access the side menu from anywhere but the main screen, it shows 'Protection is disabled', even if it is in fact enabled.

Original thread:
https://forum.adguard.com/index.php?threads/15037/#post-129334

[2017-03-13 14:22] Revertron commented on #1099
isCaCertificateInstalled() - speed up by x7,5.
getDefaultRules() - cached, will be much faster now.

[2017-03-13 14:22] #1099 closed

[2017-03-13 14:37] nkartyshov commented on #1100
Done, review AJC-CR-191.

[2017-03-13 14:37] #1100 closed

[2017-03-13 16:07] Revertron commented on #1101
Fixed, review: AJC-CR-192

[2017-03-13 16:30] Revertron commented on #1097
![screenshot_1489422392](https://cloud.githubusercontent.com/assets/105154/23864391/afa1a59c-0812-11e7-9aba-f13aed3580b7.png)
Fixed like this. Screen from emulator.

[2017-03-13 16:30] #1097 closed

[2017-03-14 09:40] ameshkov commented on #1096
The difference is that whitelist is for whitelisting whole websites, while user filter allows creating more specific rules. The rules created by the filtering log are quite specific and configurable, so they don't fit the whitelist.

Huh, don't you see the same popup in the filtering log? I've just tried adding a rule through it and "loading" popup was there.

[2017-03-14 10:06] ameshkov commented on #910
What I fear about toasts is that it shows up above any app you use, hence, people won't understand that this is Adguard's toast. So, it might be confusing people.

Configurable status notifications maybe? Like what Kaspersky and Avast do?

[2017-03-14 10:07] ameshkov commented on #519
@Bohdan-SUP let's move it to a separate issue tho

[2017-03-14 12:50] ameshkov commented on #923
Yep

[2017-03-14 13:04] ameshkov commented on #1057
Just copy to clipboard is not hard, but it won't help as people won't know about it. So we'll need to come up with something better.

[2017-03-14 13:17] #1101 closed

[2017-03-14 13:22] TPS commented on #1096
I _did_ notice that, but when whitelisting an entire site globally, which is much of what I've done, [User] Whitelist is more apropos, right?

Maybe my phone is too fast?  Just tried it, & something blinks by, almost too quickly to tell.…  Was _that_ it?  What did it say?!

[2017-03-14 13:49] TPS commented on #923
[IsUp.Me](HTTP://isup.me) would be 1 of my choices.

[2017-03-14 14:07] TPS commented on #910
*That*'s not bad (though I've no idea what those AV do — never used them):  Something like that AG update icon (AG shield w/ ♻️ in corner) appearing-&-then-automatically-disappearing from notification bar would be great!

Though simply putting that AG-colored toast as "AdGuard: No filterlists need updating now", "AdGuard: 5 filterlists updating", "AdGuard: Won't update filterlists on mobile data",

[2017-03-14 14:26] TPS commented on #908
While this is rolling out, would adding `*$important,app=com.adups.fota.sysoper|com.adups.fota` _guarantee_ blocking traffic that AG knows about through these apps? Or is it just `$important,app=com.adups.fota.sysoper|com.adups.fota` (w/o the `*`)?

[2017-03-14 14:33] TPS opened #1102 "AG-Android fails AG Test page 😱"
While I'm running AG VPN, all lists active (except `Useful ads) & up-to-date, http://static.adguard.com/test.html tells me, "Looks like Adguard is disabled:("

Is the bug AG or the page?

[2017-03-14 14:41] TPS commented on #1069
There are apps I _know_ I want to run offline *only*, so adding an option to notify whether blocking all traffic from a newly installed app (_before_ 1st run) would be excellent.

[2017-03-14 15:08] deLumren opened #1103 "Can't download media content in Viber"
Impossible to download media in Viber - infinite downloading sign.
Android beta version 2.8.76. Issue remains the same after update to 2.9.17.
Could be solved via turning off HTTPS filtering.

First complaint - user 1521993.

[2017-03-14 15:14] ameshkov commented on #1096
Adding `example.org` to the whitelist won't unblock ALL the requests to `example.org`, it will unblock all requests sent FROM `example.org`.

I admit there it might sound weird, though:)

Huh, even on Pixel I see it:) However, it is fast indeed:)

[2017-03-14 15:19] ameshkov commented on #908
`*` does not matter, both rules will block *everything* from these apps

[2017-03-14 15:20] ameshkov commented on #1102
Yeah, test pages appears to be outdated:)

I've updated it and the english filter, check it in an hour or so

[2017-03-14 15:20] #1102 closed

[2017-03-14 15:24] ameshkov commented on #1103
@zebrum can you reproduce it?

[2017-03-14 15:30] TPS commented on #1096
In that case, maybe you might need to make that box (very short-) timed,  ½-sec @ least.  After that, I can count this fixed. ☺

[2017-03-14 15:31] #947 closed

[2017-03-14 15:57] ameshkov commented on #1096
But why, if it works so fast that you don't see it, it is even better.

It's just you're for too long with the program to suspect an issue here:) Regular users won't even think that rule was not applied:)

[2017-03-14 15:58] TPS opened #1104 "More pre-installed System malware discovered"
A large list @ http://blog.checkpoint.com/2017/03/10/preinstalled-malware-targeting-mobile-users/ .  Could _all_ of these be blocked like #908?  Should there be new list specifically for malware system apps/packages?

[2017-03-14 16:02] TPS commented on #1096
That's possibly true, but visual feedback is better, right?  Besides, in all other aspects of UI, it _does_ have a recognizable notification when a setting is changed/applied.

[2017-03-14 16:28] ameshkov commented on #1096
What about a toast? Do you see it there?

[2017-03-14 16:30] ameshkov commented on #1104
Instead of blocking app traffic, we'd better find out what URLs did they use. Is there any info about it?

[2017-03-14 16:39] ameshkov opened #1105 ""Removed apps" package icons should look inactive in the apps list"
Screenshot is here:
http://4pda.ru/forum/index.php?s=&showtopic=601691&view=findpost&p=59283264

[2017-03-14 19:09] deLumren commented on #1103
User 1115588 also complains that he can't **upload** media on Beta version 2.9.17

[2017-03-14 20:05] Bluscream commented on #1057
To make them know about it just show a toast notification like ```
"http://127.0.0.1:12345/root.crt" has been copied to your clipboard. Just paste the url in any Firefox based browser ```

[2017-03-15 00:28] war59312 commented on #1102
Still says "Looks like Adguard is disabled:(" 9 hours later.

And looks like you need a space after disabled ;)

Running AdGuard 6.1.**322**.1698, to fix the local adguard bug with chrome 58.

All filters report up to date.

[2017-03-15 04:50] TPS commented on #1102
@war59312 You must be running an AG other than Android, but, @ameshkov, I agree that the page is still broken exactly as it was before. 😞

[2017-03-15 05:24] TPS commented on #1104
As in #908, I think it'd be prudent to block ___both___, so that existing apps can't update to change URLs!

I've found no better details than that post, but there's mention of Tor (!) being used by some of the malware, so just a URL approach is unlikely to work, anyhow.  Though Check Point is a security firm (& therefore might consider AG a competitor), it _might_ be worth leaving the question as

[2017-03-15 05:31] TPS commented on #1096
Yep, I see the toast saying, "Rule added successfully."  Maybe that should read, "Rule _applied_ successfully"?  That, to me, would mean "added _& activated_," so that'd work, too.

[2017-03-15 08:22] ameshkov opened #1106 "Add an annotation to "Google Play services" app details"
This app is used to load Google ad network ads. We'd better warn people about it explicitly.

We should add a warning for all the apps sharing the same UID as "com.google.android.gms".
The warning should be placed under the "General" settings section.

Text:
[code]

[2017-03-15 09:04] ameshkov commented on #1102
My bad guys, should be good in a few minutes

[2017-03-15 09:07] ameshkov commented on #1104
We'd better check how many people have already upgraded to v2.8, as this rule will be quite problematic for v2.7 users.

[2017-03-15 09:08] ameshkov commented on #1096
Btw, just in case, wanna help us with English proofreading?:)

[2017-03-15 12:05] dpropp commented on #800
I had the same problem with Meizu M2, and I installed Opera Max V2, and stopped the default Opera Max V1 in app running as suggested in http://forum.flymeos.com/thread-19525-1-1.html. That helped for a few minutes, but then Opera Max V1 starting running again, and then disconnected the VPN (this keeps happening if I stop it). Any idea how I can cause it not to keep starting up again?
And is there

[2017-03-15 12:10] ameshkov commented on #800
@dpropp as I recall, they have finally resolved this issue in the latest Meizu firmware: 5.1.12.1 (at least for Meizu M3S).

So, the easiest way would be to find and install the latest firmware.

The other option would be to acquire root access and freeze Opera Max app. It should be relatively easy on Meizu.

[2017-03-15 12:22] dpropp commented on #800
Thanks!

However, I don't see any newer version than 5.1.12.0 in Meizu's site (http://www.flymeos.com/firmwarelist?modelId=33&type=1), neither for M2 (which I have) nor for M3S. Is there anywhere else I may find the 5.1.12.1 version, hopefully with fix?

Also, could you point to any guide on how to acquire root access and to freeze the app?

[2017-03-15 15:27] war59312 commented on #1102
@TPS, whoops yeah, just realized I posted in Android section. Was on Windows machine.

@ameshkov, thank you Sir. Success, "Adguard is enabled!".

[2017-03-15 16:03] TPS commented on #1096
Absolutely yes! 😁  You all don't generally need it, but I'll file when I see it.

[2017-03-15 16:05] ameshkov commented on #1096
It is really easy to do:) Just sign up on https://adguard.oneskyapp.com/ and change or comment on any string there.

[2017-03-15 17:04] ameshkov commented on #1105
@Revertron one more easy thing to do: do not show "Removed Apps" item unless it contains at least one package data.

[2017-03-15 17:10] Revertron commented on #1105
Done.

[2017-03-15 17:10] #1105 closed

[2017-03-15 17:27] ameshkov commented on #1052
Ok, I've done a research and now I know what is going on.

First of all, it is not "Media Storage", in fact, this is about download manager. The problem is that download manager shares UID with "Media Storage", thus it was detected instead.

Second, the only way to "fix" it is to exclude the app, that starts the download process. For instance, if we exclude "Play Store", it's downloads will no mor

[2017-03-15 17:32] ameshkov commented on #1052
What I suggest:

1. Exclude "Play Store" by default (too heavy, no need to filter all those updates/downloads).
2. Change app detection algorithm, so that it was detecting "Downloads" instead of "Media Storage". At least people will understand what's that all about.

[2017-03-15 17:57] ameshkov commented on #1052
Review ID: AJC-CR-195

[2017-03-15 17:57] #1052 closed

[2017-03-15 18:15] ameshkov commented on #1103
Problem:
`Cannot read HTTP request Http request method is invalid ALLOC`

[2017-03-15 18:18] ameshkov commented on #1103
Added `media.api.viber.com` to default SSL whitelist.

[2017-03-15 19:21] ameshkov commented on #25
I am a bit sick of adding https exclusions all the time, so we'll do https whitelist update earlier than it was planned:
https://github.com/AdguardTeam/AdguardForAndroid/issues/368

[2017-03-15 19:22] ameshkov commented on #368
Assigned to v2.10.

[2017-03-15 22:02] ameshkov commented on #1026
Reassigned to v2.10

[2017-03-15 22:02] ameshkov commented on #1005
Reassigned to v2.10

[2017-03-15 22:04] ameshkov commented on #1004
Seems to be a duplicate of #1005

[2017-03-15 22:04] #1004 closed

[2017-03-15 22:04] #1059 closed

[2017-03-15 22:05] ameshkov commented on #1070
Reassigned to v2.10 for now, waiting for the response

[2017-03-15 22:28] ameshkov opened #1107 "Crash: NoSuchMethodError: No virtual method getRemoteAddress()Ljava/net/SocketAddress"
[code]

[2017-03-15 22:30] ameshkov commented on #1107
Added in API level 24
:(

[2017-03-15 22:41] ameshkov commented on #1107
Resolved

[2017-03-15 22:41] #1107 closed

[2017-03-15 22:52] ameshkov commented on #979
I've tested it on Android 5.1 using Move Certs app and found&fixed a couple of issues: AJC-CR-196

Please test it on Nougat now, what we need to check is if HTTPS filtering actually works for apps targeting API 24 when the certificate is moved to the system store.

[2017-03-16 01:43] emanuelrv opened #1108 "firefox"
a bug i see if install firefox any version said no internet connection but i put in app management i uncheck filtering ads firefox works fine

[2017-03-16 06:56] TPS commented on #1096
The way 1Sky ia setup, once the translation is approved (like English) , no more strings oe edits are shown or allowed. 🤦

[2017-03-16 08:43] ameshkov commented on #800
Here they are:
https://www.google.com/search?q=meizu+5.1.12.1+site:forum.meizufans.eu

Please note, that the website uses anti-adblocking script, we have not yet handled it (but we will soon).

[2017-03-16 08:44] ameshkov commented on #800
You can acquire root access on Meizu in a few clicks:
http://www.phonearena.com/news/How-to-root-any-Meizu-Android-phone-one-click-Flyme-root-tutorial_id75673

Regarding freezing apps, people often use titanium backup app to do it.

[2017-03-16 09:04] dpropp commented on #800
It seems there is no 5.1.12.1 image for m2 (not note). Am I missing something? If not available yet, any idea when it will be available for m2?

[2017-03-16 09:26] ameshkov commented on #1108
Do you have HTTPS filtering enabled?
Have you installed AG certificate into it?

[2017-03-16 09:34] ameshkov commented on #800
Not sure, really, I hope they will make it available as soon as possible.

[2017-03-16 09:57] emanuelrv commented on #1108
yes installed the certificate and https enabled

On Thursday, March 16, 2017, Andrey Meshkov <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-03-16 09:59] ameshkov commented on #1108
Have you installed it into the Firefox? There's an option for installing certificate specifically into the Firefox browser.

Also, please note, that you should check all three checkboxes while installing the certificate.

[2017-03-16 11:40] emanuelrv commented on #1108
i do and nothing

On Mar 16, 2017 5:59 AM, "Andrey Meshkov" <notifications@github.com> wrote:

[2017-03-16 11:49] Alex-302 commented on #1108
@emanuelrv please open Settings -> HTTPS filtering. Then select `Install certificate into Firefox` and select Firefox in the browsers list After that select all checkboxes and allow to install certificate..

[2017-03-16 11:59] emanuelrv commented on #1108
i unistall the certificate then i reinstall the certificate and reinstall
Firefox and work thank

On Mar 16, 2017 7:49 AM, "Alex" <notifications@github.com> wrote:

[2017-03-16 12:59] #1108 closed

[2017-03-16 12:59] ameshkov commented on #1094
Cannot yet reproduce, reassigned to v2.10

[2017-03-16 13:22] Revertron commented on #979
Works without any problem, mitm and filtering is going well.

[2017-03-16 13:23] #979 closed

[2017-03-16 13:38] ameshkov commented on #1096
@TPS yeah, for some reason strings were finalized. Fixed it.

[2017-03-16 14:29] ameshkov commented on #990
Review ID: AJC-CR-197

[2017-03-16 14:29] #990 closed

[2017-03-16 14:33] TPS commented on #1096
1Sky's mobile interface is aggravating, & using the desktop 1 via mobile's bugged, so I'll get to my laptop eventually & play around.

Thanks for opening it up, @ameshkov.  I'll probably close this after I submit there. ☺

[2017-03-16 16:01] TPS commented on #1104
_Slightly_ more relevant info @ https://news.drweb.com/show/?i=9822 , mostly to do w/ the Loki variants:
- >using a special link that indicates a user account of some affiliate program focused on generating income
- > installs different applications on the infected device and displays advertisements
- > acts as a spyware program as it collects and sends information

A lot of this _might_ be helped

[2017-03-16 16:17] TPS opened #1109 "Toggle in Log View to show only entries matching filter"
I.e, option to show _solely_ green/red lines.  I often search to see what AG _did/didn't_, rather than ignored.

P.S.: I'm sure accessibility suffers from use of green/red.  How about use of ✅ /✖️, also?

[2017-03-17 10:23] deLumren commented on #762
So, how it should be working atm?
Do you need to manually add yota.ru domain to the whitelist in order to access the app without trouble?
User 1311060 suggests adding this domain to our default whitelist.

[2017-03-17 11:41] OlegSUP commented on #661
User ID: 1064370

Cortana (app for Android) can't hear me unless I add it to exceptions
on adguard (on firewall) I activated 'Logging level' to 'Record HTTP
requests' and reproduce the error about 22h28 - 22h29

[debug (12).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/850419/debug.12.txt)

[2017-03-17 13:41] vbagirov opened #1110 "Separate all apps in 'Apps management' in two groups: system/non-system apps"
Original thread:
https://forum.adguard.com/index.php?threads/19881/#post-129709

[2017-03-18 01:40] KozelElena opened #1111 "Add long press app shortcuts"
Opportunity to choose an option by touching and holding the app to pop up few useful shortcuts.

<details>

![image](https://cloud.githubusercontent.com/assets/17320558/24067983/9cc837c4-0b8c-11e7-856d-9abdd835c801.jpeg)

</details>

Ticket ID:1144878

[2017-03-19 07:41] evgeniy-ADG opened #1112 "[2.9] An attempt to get a license from within the app makes Adguard crash when there's no browser installed"
Например если на телефоне не окажется не одного браузера,а ты жмёшь
получить лицензию на сайте, или вводишь ключ, а пишет ключ не действует
перейдите на сайт, ты жмёшь перейти и вылазит ошибка адгуард и он крашится
и не включается,если браузера стоит например гугл хром,он спокойно
перебрасывает на оф сайт

![screenshot_2017-03-18-15-03-06](https://cloud.githubusercontent.com/assets/15856304/240790

[2017-03-19 07:47] evgeniy-ADG opened #1113 "[2.9] 'Learn more' button link resolves to an undefined page"
It resolves here: https://m.adguard.com/ru/%7B0%7D/purchase.html

STR:

1. Try to activate the app with and expired key:

![image](https://cloud.githubusercontent.com/assets/15856304/24079089/ed8ed0b2-0c88-11e7-8543-4b726a34838b.png)

2. Click Learn more:

![image](https://cloud.githubusercontent.com/assets/15856304/24079094/036d27bc-0c89-11e7-8bad-2ea3f7b94e59.png)

 3. See this:

![image](https:

[2017-03-19 20:44] ameshkov opened #1114 ""Android OS" cannot be found in the "Apps Management" section"
I've used the regular "search" box and it simply cannot be found.

Also, "Nothing found" placeholder should be vertically aligned "top", not "center", as it is hidden by the keyboard.

[2017-03-20 10:43] ameshkov commented on #762
For now - just disable HTTPS filtering for this app. Will be resolved in v2.9.

[2017-03-20 10:45] ameshkov commented on #661
@OlegSUP does it help to disable HTTPS filtering for the app?

[2017-03-20 11:38] OlegSUP commented on #661
sent, waiting for reply from user

[2017-03-20 14:43] Revertron commented on #1114
Done, review AJC-CR-198

[2017-03-20 17:12] Revertron commented on #1113
Fixed, review AJC-CR-199

[2017-03-20 17:15] Bohdan-SUP opened #1115 "Consider changing Premium to Mobile in License screens"
Some users find it confusing that they need either a Premium or a **Mobile** license to have those nice features in the app.
Maybe consider wording change?

<details>

![photo_2017-03-20_19-06-30](https://cloud.githubusercontent.com/assets/14153331/24112129/30b3d982-0da1-11e7-9372-ceceb6ac887a.jpg)

![photo_2017-03-20_19-12-07](https://cloud.githubusercontent.com/assets/14153331/24112130/30fd266e-

[2017-03-21 05:58] deLumren commented on #661
User 1064370 states that HTTPS filtering exception solves the problem, but he's not satisfied with this fix and wants a more permanent solution working from the get-go with default settings.

[2017-03-21 10:21] ameshkov opened #1116 "Update default HTTPS exclusions list"
Here is the current list:
https://github.com/AdguardTeam/HttpsExclusions

[2017-03-21 10:22] ameshkov commented on #999
@TPS how it goes with the latest AG beta? There was a change regarding this issue, should've helped.

[2017-03-21 10:22] ameshkov commented on #960
I guess there're no problems after all?

[2017-03-21 11:32] evgeniy-ADG opened #1117 "Use locale-specific number format on the main screen"
It would be better to have it like 364.500 rather than how it's now:

![image](https://cloud.githubusercontent.com/assets/15856304/24145626/b048bf52-0e3a-11e7-8a65-5fcc645d0a7e.png)

[2017-03-21 12:01] vbagirov opened #1118 "[Feature request] Switch tabs inside 'Apps management' by horizontal scrolling"
Currently, it is only possible by tapping on 'Day', 'Month', 'All time' tabs.

Original thread:
https://forum.adguard.com/index.php?threads/19881/#post-130226

[2017-03-21 12:02] Revertron commented on #1118
This will be in 3.0 out of the box. Already done.

[2017-03-21 12:02] #1118 closed

[2017-03-21 14:49] TPS commented on #999
Huh, I didn't notice anything in changelog about this, else I'd paid more attention.  I tried an update ~1 hour ago, & that came up w/ many (>10, don't remember precisely) updates after overnight wifi, so I'm not convinced.

Another note: Did any1 verify whether `Update over Wi-Fi only ☑️` has any effect on this?  I always have this ✔️ed.  Or whether if the phone's in standby?  Maybe that `Watchdo

[2017-03-21 16:52] Revertron commented on #1116
Done.

[2017-03-21 16:52] #1116 closed

[2017-03-22 04:23] KozelElena opened #1119 "TechMedia app - missing ads"
Ads leftover on my side and our customer has this issue.

Screenshot:

<details>

![image](https://cloud.githubusercontent.com/assets/17320558/24182029/6ad5461a-0ec7-11e7-948f-d767afdcb0fe.png)

</details>

Steps to reproduce the issue:

1. Open TechMedia (Habrahabr)
https://play.google.com/store/apps/details?id=ru.habrahabr
2. Check feeds

Adguard filters: English, Russian, Spyware, Social media,

[2017-03-22 06:58] deLumren commented on #999
Similiar complaint from user 1527483.

[2017-03-22 07:04] TPS commented on #999
Just now verified this _not_ working: continuous wifi for 6 hours, but manual update had 16 updates.

[2017-03-22 11:19] Bohdan-SUP opened #1120 "Accessibility enhancement with JAWS screen reader"
User 1221653 reported:

http://www.freedomscientific.com/Downloads

[2017-03-22 11:19] Bohdan-SUP commented on #519
https://github.com/AdguardTeam/AdguardForAndroid/issues/1120

[2017-03-22 11:19] #519 closed

[2017-03-22 13:34] TPS commented on #1117
Umm, be quite careful with this: different languages/dialects/regions use very different schemes for # division.  Please use [Android's own `NumberFormat`](https://developer.android.com/reference/java/text/NumberFormat.html) or equivalent (instead of making your own) in ___all___ # fields throughout UI.

[2017-03-22 13:34] ameshkov commented on #999
@TPS could you please send a log file again?

[2017-03-22 13:37] ameshkov commented on #1117
Yeah, we use it already except main view:)

[2017-03-22 13:41] TPS commented on #999
Just sent after a 12-filterlist update now; should be user 1122984.

[2017-03-22 13:54] nkartyshov commented on #999
@TPS When updating filters from the server, their current version is requested, and if it differs from the current one, an update is performed. Because of this, not all filters can be updated.

[2017-03-22 14:02] ameshkov commented on #999
@nkartyshov the problem is that there're too many filter updates for 6 hours.

[2017-03-22 14:03] ameshkov commented on #1117
Done

[2017-03-22 14:03] #1117 closed

[2017-03-22 15:20] ameshkov opened #1121 "Amazon license check hangs while doing the background check"
That's what was causing filters update issues:
https://github.com/AdguardTeam/AdguardForAndroid/issues/999

[2017-03-22 15:21] ameshkov commented on #999
@TPS we have finally found the culprit:
https://github.com/AdguardTeam/AdguardForAndroid/issues/1121

[2017-03-22 15:21] #999 closed

[2017-03-22 15:52] TPS commented on #1121
It checks license every filterlist update?  Why?

[2017-03-22 15:53] ameshkov commented on #1121
We use the same thread for all update checks, and that thread was blocked by amazon license check.

[2017-03-22 16:00] TPS commented on #1121
Oh, yeah, that reminds me: The `🔑 License Status > Manage Your Licenses` menu option pull up licenses only for AG-site version, not the Amazon subscription, though using Amazon version.  I'm actually not sure how to check on Amazon subscription from AG UI anymore, though I can obviously check via the _Amazon_ apps or site directly.

[2017-03-22 16:20] seanl-adg commented on #960
Adding
[code]
seems to be resolving most of the problems.

Last 3 domains were appeared in the log with `Internal TLS error` text.
I couldn't find such lines for `gift.kakao.com`, but unless it was added a certain menu of the app was broken.

The total list of exceptions will be
[code]

[2017-03-22 16:29] Revertron commented on #1121
Fixed, review AJC-CR-201

[2017-03-22 17:36] Revertron commented on #1121
Test build is here: https://www.dropbox.com/s/jyfjjlbcnajqk3i/adguard-fix1121.apk?dl=1
Please, @TPS, test it thoroughly :)

[2017-03-22 17:40] ameshkov commented on #1121
What I am concerned about is Amazon license check and refresh process.

[2017-03-23 13:35] #1113 closed

[2017-03-23 13:35] Revertron commented on #1112
Fixed.

[2017-03-23 13:35] #1112 closed

[2017-03-23 13:35] #1114 closed

[2017-03-23 13:37] ameshkov commented on #960
@Revertron please update HTTPS exclusions:
https://github.com/AdguardTeam/HttpsExclusions

[2017-03-23 13:52] Revertron commented on #960
Done.

[2017-03-23 13:52] #960 closed

[2017-03-23 15:30] TPS commented on #1121
@Revertron Please, can you publish through Amazon ß?  The build isn't upgrade compatible, & there's no method to export User Filters, which I don't want to lose.

[2017-03-23 15:33] Revertron commented on #1121
Hm, okay, we will release RC today.

[2017-03-23 21:42] deLumren commented on #1110
User 1439308 also suggested this idea.

[2017-03-24 05:23] Bluscream commented on #1110
D also

[2017-03-24 08:32] Michael23456 opened #1122 "missed ads in the app Themes for Plus Messenger https://play.google.com/store/apps/details?id=es.rafalense.themes"
missed ads in the app Themes for Plus Messenger
https://play.google.com/store/apps/details?id=es.rafalense.themes
![image](https://cloud.githubusercontent.com/assets/25711093/24286235/e7632b96-107c-11e7-8fa2-1b5747687de5.png)

![image](https://cloud.githubusercontent.com/assets/25711093/24286240/ea29e59a-107c-11e7-8d84-f9296d23b1a6.png)

Adguard filters: English, Russian, Spyware, Social media, An

[2017-03-24 08:42] ameshkov opened #1123 "Android O: check if running VpnService is foreground or background"
According to https://developer.android.com/preview/features/background.html we might need to keep AG notification visible.

However, maybe they already keep running VpnService in foreground, we'd better check it.

[2017-03-24 08:52] ameshkov commented on #1086
Guys, let's add ACCESS_ALL_DOWNLOADS after all, there are more reports on this issue

[2017-03-24 10:40] ameshkov opened #1124 "Rule added through Filtering log is not applied immediately"
We should make it rebuild filtering engine after rule was added.

[2017-03-24 10:41] ameshkov commented on #1096
@TPS huh, you were right after all:)
https://github.com/AdguardTeam/AdguardForAndroid/issues/1124

[2017-03-24 12:54] Revertron commented on #1124
There is no problem in applying rules.

[2017-03-24 12:54] #1124 closed

[2017-03-24 13:06] ameshkov opened #1125 "Change "Filtering log" status label text"
Should be either "On" or "Off", just like in Wi-Fi settings.

[2017-03-24 13:15] TPS commented on #1096
@ameshkov: @Revertron [doesn't believe so](https://github.com/AdguardTeam/AdguardForAndroid/issues/1124#issuecomment-289015075), though.…

[2017-03-24 13:17] Revertron commented on #1096
Yep, I've proved that the rules are applied normally.

[2017-03-24 13:17] ameshkov commented on #1096
Yup

[2017-03-24 13:21] TPS commented on #1096
Thanks! 🙇

[2017-03-24 13:26] TPS commented on #1121
Preliminary check shows this might be resolved!  Let me keep an eye on it for another day or 2, though.

[2017-03-24 13:54] ameshkov opened #1126 "Disabling auto-pause on Android Nougat may cause significant slowdown"
The problem is that when autopause is disabled, we add IPv6 routes even when IPv6 network is not really available.

Having IPv6 routes without real IPv6 access might cause some websites and apps misbehavior.

What should we do:
1. Add `pref.vpn.disable.reconfigure` flag, that will be disabled by default.
2. When this flag is disabled, even when auto-pause is disabled, AG will keep an eye on the cu

[2017-03-24 16:55] Alex-302 opened #1127 "Add Adguard French filter"
https://github.com/AdguardTeam/AdguardFilters/issues/4588

[2017-03-24 18:00] Bluscream opened #1128 "Can these numbers be real?"
Is skype really causing that much traffic? :o
![](https://puu.sh/uX3U2/6003a06b96.png)

[2017-03-24 18:05] Alex-302 commented on #1128
Please upload the log of HTTP requests.

[2017-03-24 18:15] Bluscream commented on #1128
Where do i find them?

[2017-03-24 18:17] Alex-302 commented on #1128
https://kb.adguard.com/en/android/solving-problems/log

Which filters are you using?

[2017-03-24 18:24] Bluscream commented on #1128
I sent a report with the link of this issue as description

[2017-03-24 18:32] Bohdan-SUP commented on #1128
@Alex-302 the log in question:
[debug.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/868841/debug.txt)

[2017-03-24 18:52] Alex-302 commented on #1128
@Bluscream it is too small. Also, it is not a log of HTTP requests, it is full log.

[2017-03-24 18:58] Bluscream commented on #1128
I just followed the steps on the website you provided

[2017-03-24 22:46] ameshkov commented on #1126
Review ID: AJC-CR-203

[2017-03-24 22:56] vmalyuta commented on #41
1529154
1214655
1529108
open again

[2017-03-24 22:57] ameshkov commented on #41
I am quite sure we should file a report to AdguardFilters.

Also, I am sure we will need a recorded HAR file.

[2017-03-26 05:22] TPS commented on #1121
So, this works sufficiently for Nougat/7.1.1, but not Kitkat/4.4.2. Bug reports for each OS sent under user 1122984.

[2017-03-26 06:14] Bluscream opened #1129 "[Request] Add firewall widgets"
Id like to see some firewall related AG widgets, like "Toggle WIFI for all apps", etc

Also Firewall widgets on a "per app" base would be nice (example: Lucky Patcher)

[2017-03-26 06:40] #1128 closed

[2017-03-26 06:45] Bluscream opened #1130 "Can't login to Firefox Sync"
![](https://puu.sh/uYKlx/116d520c06.png)

Detailed system info can be found at the report with a link to this gh issue

[2017-03-26 06:50] Bluscream commented on #1130
Adding ```
oauth.accounts.firefox.com
accounts.firefox.com
[code]

[2017-03-26 07:22] Bluscream commented on #1057
This request is becoming more and more important to me, now Firefox Beta and Firefox aurora are not even showing up in the list

![](https://puu.sh/uYLXf/534f72a5df.png)
![](https://puu.sh/uYLXS/6ed3236161.png)

[2017-03-26 07:25] Bluscream opened #1131 "[Bug] Stuck on "Please wait" when "tabbing" back into https settings."
When tabbing out and back into the https settings i always get stuck on this popup:

![](https://puu.sh/uYM0s/4bd75e99db.png)

Its minor but still worth mentioning IMO

[2017-03-26 11:59] ameshkov opened #1132 "Supermario compatibility issue"
https://play.google.com/store/apps/details?id=com.nintendo.zara&hl=en

People report that AG breaks loading of the game.

[2017-03-26 13:54] TPS commented on #1121
Nevermind, I just had 10 filters manual update on Nougat/7.1.1, so I don't think this fix solves #999 entirely; report resent.

[2017-03-26 14:06] TPS commented on #1110
@All If you mean `System` as part of the OS, yes, absolutely!  But, if you mean `Builtin` as in part of the ROM, & therefore uninstallable outside of rooting, much less useful.  Bloatware ≠ System, please!

[2017-03-26 14:11] TPS commented on #1115
I'd think the other way around: Change all "Mobile" → "Premium", because 1 can already run Mobile as Free, but Premium license = extra features.

[2017-03-26 14:19] Bluscream opened #1133 "[Suggestion] Restrict Beta Tester licenses to beta versions only"
https://github.com/AdguardTeam/AdguardForWindows/issues/1636

[2017-03-26 14:24] TPS commented on #1133
AFAICT, this is automatic on Android, @ least w/ Amazon (#102) versions.

[2017-03-26 14:25] TPS commented on #1120
Does #957 help w/ this @ all?

[2017-03-26 14:26] Bluscream commented on #1133
![](https://puu.sh/uZ1zA/09fd8e5c33.png)

[2017-03-26 14:28] TPS commented on #1133
Yep, I don't have that toggle via the Amazon ß.

[2017-03-26 16:56] ameshkov opened #1134 "Improve DNS settings"
Instead of just a low-level pref.vpn.dns, we could improve DNS settings and provide people with an option to choose from a pre-defined list of DNS servers.

Eventually, we could add DNSCrypt support.

## UI

Raw mockups:
https://app.moqups.com/ameshkov/lfmli7Cikw/view/page/a68657938

Icons:
[dns_icons.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/1124689/dns_icons.zip)

### DNS Filte

[2017-03-26 18:06] ameshkov commented on #1127
Let's do it in AG v2.9

[2017-03-26 18:18] Bohdan-SUP commented on #1115
The thing is we have both Mobile and Premium license on the website - that may be confusing.

[2017-03-26 18:18] ameshkov opened #1135 "Cortana app compatibility issue"
https://github.com/AdguardTeam/AdguardForAndroid/issues/661#issuecomment-287333365

[2017-03-26 18:18] ameshkov commented on #661
Yep, we'll add it to the default list then:

[2017-03-26 18:43] ameshkov commented on #1119
It seems that it can't be removed with a simple requests blocking:(

[2017-03-26 18:43] #1119 closed

[2017-03-26 19:24] ameshkov commented on #1122
It should be reported to AdguardFilters

[2017-03-26 19:25] Michael23456 commented on #1122
will re-open it in AdguardFilters

[2017-03-26 19:29] Michael23456 commented on #1122
https://github.com/AdguardTeam/AdguardFilters/issues/4676

[2017-03-26 19:29] #1122 closed

[2017-03-26 22:59] ameshkov commented on #1129
Assigned to v4.0. We'd better reconsider the widgets we have after the redesign.

[2017-03-26 23:00] ameshkov commented on #1128
Why closing, what was it after all?

The numbers are just crazy, how's that possible?

[2017-03-26 23:02] ameshkov commented on #1130
We should update default https exclusions list:
https://github.com/AdguardTeam/HttpsExclusions/commit/5304127b06627f9d42ec132b6aa7efabd40670ba

[2017-03-26 23:07] ameshkov commented on #1057
@Revertron what if we filter installed browsers and let user choose from this list instead of relying on Android?

Something like that?
http://stackoverflow.com/questions/9730243/how-to-filter-specific-apps-for-action-send-intent-and-set-a-different-text-for

[2017-03-26 23:10] ameshkov commented on #1133
It makes sense, thank you!

[2017-03-26 23:11] ameshkov commented on #1120
@Revertron could you please check it?

[2017-03-26 23:55] Bluscream commented on #1133
Also disable opt-out of participation programs.

[2017-03-27 00:01] Bluscream commented on #1128
@ameshkov haven't you seen the email conversation?

[2017-03-27 04:36] TPS commented on #1115
Is Mobile & Premium licensing actually 2 different things?  If so, make it clear what's meant by each, preferably everyplace 1 is mentioned, specify what the other means, also (in _that_ context).  Else, IMHO, stick w/ Premium consistently.

[2017-03-27 08:07] ameshkov commented on #1115
Yeah, Mobile covers android only, while Premium covers Android+Desktop.

However, I don't think we should change the naming here in light of the changes to the licensing that we have in mind (we'd like to go the same way as 1Password eventually -- have a one-for-all-devices subscriptions instead of a strict devices limit).

[2017-03-27 08:07] ameshkov commented on #1128
Nope, missed it

[2017-03-27 08:17] Bluscream commented on #1128
If there would be a ticket id i could send it to you :c

[2017-03-27 11:01] Bohdan-SUP commented on #1115
@ameshkov I'd appreciate more details then :)

[2017-03-27 11:34] TPS commented on #1134
#1053, #1006, &c?

[2017-03-27 11:39] TPS commented on #1086
Further update from my side (sorry for not reporting earlier):  Had same problem w/ last ß update, too.  Killing app & clearing app cache _might_ have fixed it, but it definitely worked after reboot. ☺

[2017-03-27 11:45] TPS commented on #999
Is there an Intent for filter updates like [for AG Start/Stop](https://kb.adguard.com/en/android/solving-problems/tasker)?

[2017-03-27 12:04] Revertron commented on #1057
![device-2017-03-27-140058](https://cloud.githubusercontent.com/assets/105154/24355352/dc8d5dc4-12f5-11e7-823d-4d9e9b34a3de.png)
What did you do with your system, @Bluscream? On my device all the browsers are in the list. I've just installed Beta & Aurora, didn't even run them, an here they are.

The question is: if we are going to make some workaround, how will we check it if we have "normal devi

[2017-03-27 12:08] Bluscream commented on #1057
Why so complicated? Just throw the url in the clipboard and it will work with any FF based browser that you can run, even apps that just have a installed FF based brpwser in them.

Or atleast keep the port always the same so you can enter the url by reminding it.

@revertron i have no idea what could even possibly cause that.

[2017-03-27 12:22] TPS commented on #1115
@ameshkov So, something like current Amazon model, but over all device _types_?

[2017-03-27 13:07] Revertron opened #1136 "Android 4.0 can not use DirectByteBuffers in DatagramChannel.receive()"
https://stackoverflow.com/questions/22063681/datagramchannel-receive-causes-an-indexoutofboundsexception

[2017-03-27 13:32] ameshkov commented on #1121
@Revertron are you sure the fix was merged? I see the very same stack trace there in the log, it is simply not possible with the fix:
[code]

[2017-03-27 13:33] ameshkov commented on #1086
@TPS something is really not okay with Amazon DRM:)

[2017-03-27 17:05] ameshkov opened #1137 "Unknown rule options"
[code]

[2017-03-27 17:43] ameshkov commented on #1121
@TPS could you please restart AG, wait for 10 minutes and send us a new log?

I'd like to check what's going on with the amazon subscription check.

[2017-03-27 18:29] Revertron commented on #1120
And where is JAWS reader for Android?

[2017-03-27 21:01] Revertron commented on #1136
Fixed.

[2017-03-27 21:01] #1136 closed

[2017-03-27 21:54] ameshkov commented on #1130
Added

[2017-03-27 21:54] #1130 closed

[2017-03-27 21:55] ameshkov commented on #1120
@Bohdan-SUP are you sure this is about Android?

[2017-03-27 22:14] ameshkov commented on #1135
Disabled https filtering for Cortana by default

[2017-03-27 22:14] #1135 closed

[2017-03-27 22:28] ameshkov commented on #1132
Cannot confirm it, works just okay.

[2017-03-27 22:28] #1132 closed

[2017-03-27 22:56] ameshkov opened #1138 "Update translations before publishing the next release candidate"

[2017-03-28 04:27] TPS commented on #1121
@ameshkov Just sent.

[2017-03-28 09:41] ameshkov opened #1139 "Add PT-PT language support"
I see it is now ready in oneskyapp.

[2017-03-28 10:43] Revertron commented on #1127
Done.

[2017-03-28 10:43] #1127 closed

[2017-03-28 11:01] Bohdan-SUP commented on #1120
There was a confusion indeed, updated https://github.com/AdguardTeam/AdguardForWindows/issues/352

[2017-03-28 11:01] #1120 closed

[2017-03-28 13:30] Revertron commented on #1086
Fixed.

[2017-03-28 14:15] Revertron commented on #1121
Fixed.

[2017-03-28 14:15] #1121 closed

[2017-03-28 14:41] vbagirov commented on #1128
@Bluscream when you send a message to support, there should be an autoreply that contains your helpdesk ID. You can use it to reference your ticket without exposing any private information.

[2017-03-28 14:47] Bluscream commented on #1128
![](https://puu.sh/v1dm4/8afbf4a22f.jpg) i dont see any id

[2017-03-28 14:48] Bluscream commented on #1128
Nvm i found it thanks, 1326210

[2017-03-28 16:35] Bluscream opened #1140 "Slow update responses"
What is being used to check for updates?
Github reminds me of updates hours before the app even finds one after manual checking sometimes, aren't you using the github api to check for and download updates?

[2017-03-29 01:54] TPS commented on #1121
Sent another report via today's ß, but same negative result, & additional problem of licensing issue (my ß license wasn't active in-app on update, & was only activated w/ difficulty).

[2017-03-29 02:56] TPS commented on #1126
Is this suppose to cause `pref.vpn.disable.pause` to be ignored?  I'm getting the notification of AG _disabling_ everytime my wifi connection blinks.… Report sent under user 1122984

[2017-03-29 08:45] deLumren commented on #969
In 2.9. "Clear statistics" button is harder to reach than now:
You need to go to Apps Management - top-right corner - Clear Statistics.
WiIl this be changed before going live?

[2017-03-29 10:10] ameshkov commented on #1126
That's a mistake indeed.

[2017-03-29 10:15] ameshkov commented on #1126
Fixed, wait for the next RC plz.

[2017-03-29 10:15] #1126 closed

[2017-03-29 10:20] deLumren opened #1141 "[Question/Request] Add cloud sync for user filters on Android"
Is there a plan to add user filter syncing for Android devices like it is planned for implementation for Windows? (See https://github.com/AdguardTeam/AdguardForWindows/issues/439)
If no - I think it would be a great idea!

[2017-03-29 10:21] ameshkov commented on #1141
Moreover, it is planned to be cross-platform.

[2017-03-30 01:49] TPS commented on #775
Just received this e-mail alert from a commercial provider of external VPN support (which is a lot of what this issue's morphed into):

… & then it goes on to extol the virtues of their product.

Still, food for thought, & shows the critical necessity for this. 😐

[2017-03-30 07:51] ameshkov commented on #775
Yeah, VPN servers will be thriving on this.

My condolences on your privacy, this senate decision is outrageous.

[2017-03-30 08:47] ameshkov opened #1142 "Notification delay problem for Google services"
Description:
https://forum.adguard.com/index.php?threads/notification-delay-problem-for-google-services.20280/

I suppose, it's not a bad idea to disable filtering for `com.google.android.gsf.login` by default.

[2017-03-30 08:52] ameshkov commented on #1142
The list of apps I'd like to check:
`com.google.android.gms`
`com.google.android.gsf`
`com.google.android.gsf.login`
`com.google.android.backuptransport`

[2017-03-30 08:58] Michael23456 opened #1143 "HTTPs filtering breaks some functionality in OLX/slando app"
HTTPs filtering breaks some functionality in OLX/slando app
if you set some filters in the app and press search it shows error
link in google play https://play.google.com/store/apps/details?id=ua.slando
![image](https://cloud.githubusercontent.com/assets/25711093/24496071/e914ca0e-153f-11e7-8924-926713bf9cb0.png)
If HTTPs is disabled it's working fine
the issue is on both release and beta android

[2017-03-30 09:32] ameshkov commented on #1142
Admob is integrated into `com.google.android.gms` (Google Play services).
https://android-developers.googleblog.com/2013/10/google-play-services-40.html

So, disabling for `com.google.android.gsf.login` and `com.google.android.backuptransport` shouldn't be a probelm. Not sure about the other two.

[2017-03-30 10:31] ameshkov commented on #1142
I've made a quick check: created a new app with AdMob and checked which apps are used to download the ads metadata.

After all, both are involved:
`com.google.android.gms`
`com.google.android.gsf`

So, we'll leave them filtered, and disable AG for the other two.

[2017-03-30 11:57] ameshkov commented on #1142
Ok, not that fast. It appears, that unblocking any of these packages leads to unblocking some of the doubleclick requests. Rolled it back.

[2017-03-30 12:25] TPS commented on #775
Well, the new administration said they'd boost the economy by promoting industry growth, so _that_ fits.… It just may not have occurred to them _which_ industry! 🙃

[2017-03-31 10:49] ameshkov commented on #1142
After all, I was able to reproduce this issue with Gmail. We'd better take a closer look now.

[2017-03-31 12:13] dtitbd opened #1144 "Wrong behavior in sports.ru app because of https filtering"
При включенной https-фильтрации для [приложения sports.ru](https://play.google.com/store/apps/details?id=ru.sports) при попытке перехода по любой ссылке (в новостях, статьях, статусах) открывает веб-страницу, вместо открытия этих ссылок в самом приложении.
[Пример статьи](https://www.sports.ru/tribuna/blogs/memfut/1226792.html), практически в самом начале ссылка на другую.
Статусы (прямойсейчас) л

[2017-03-31 12:20] ameshkov commented on #1144
Хм, надо же, а я еще удивлялся, зачем они так сделали:)

[2017-03-31 12:21] ameshkov commented on #1144
Но мне кажется так всегда было, не только в RC

[2017-03-31 12:29] dtitbd commented on #1144
Да, я просто на всякий случай указал.
Уже их поддержку затерроризировал, почему ссылки открываются в браузере, а вон оно как оказалось.

[2017-03-31 12:50] ameshkov commented on #1142
Might be caused by different low-level settings.

[2017-03-31 12:56] ameshkov commented on #1144
А, не, некоторые ссылки у них реально в браузере открываются. На Android 7 хттпс фильтрация для их приложения не работает же, так что я без нее пользуюсь.

Пока, в качестве временного решения, можно спокойно отключить хттпс фильтрацию для их приложения, ничего лишнего не пролезет.

[2017-03-31 13:09] dtitbd commented on #1144
Да, так и сделал.
Не открываются в принципе ссылки в комментариях (но они обещали скоро сделать их поддержку) и профили пользователей. Их я в описание и не включил.

[2017-03-31 13:15] TPS commented on #1134
Since miscellaneous DNS RFEs are collecting here, could there be a way to determine what app/site/whatever *made* a DNS request & have that put into the `Filtering Log` details?

[2017-04-01 19:35] dennisfong86 commented on #134
Please implement this function!

[2017-04-01 21:00] TPS commented on #1141
#134?

[2017-04-01 21:03] TPS commented on #690
Any further reports of this?  Everything works fine for me on Android 4.4.2 ___&___ 7.1.1ß.

[2017-04-01 21:06] TPS commented on #1115
#436?

[2017-04-01 21:29] TPS commented on #34
Just a thought:  Shouldn't this also allow us to do URL conversions of other types, e.g.,  http://www.Amazon.com/ → https://smile.Amazon.com/ or more advanced sorcery à la [HTTPS Everywhere](https://github.com/EFForg/https-everywhere/tree/master/src/chrome/content/rules)?

[2017-04-02 09:21] OlegSUP opened #1145 "Adding NFC app to whitelist"
Please add these ING banking apps to whitelist:
https://play.google.com/store/apps/details?id=com.ing.mobile&hl=nl <https://play.google.com/store/apps/details?id=com.ing.mobile&hl=nl>

https://play.google.com/store/apps/details?id=com.ing.mobilepayments&hl=nl <https://play.google.com/store/apps/details?id=com.ing.mobilepayments&hl=nl>

[2017-04-02 12:59] dennisfong86 commented on #533
Please implement this. This is a very much needed function!

[2017-04-02 13:11] dennisfong86 commented on #533
If this takes time to implement, can adguard at least sort the list with latest at the top. Hence we do not need to scroll all the way to the bottom list

[2017-04-02 15:00] TPS commented on #533
@AdGuardTeam It'd be helpful if this were milestoned, so we users could know when to expect it.

[2017-04-02 15:08] ministr91 opened #1146 "Выбор загрузки файла"
У меня предложение по улучшению. Когда я захожу в настрйоки adguard, собственный фильтр и нажимаю выбрать файл с телефона. У меня очень маленький выбор загрузки файла (скрин 1), но почему-то на других сайтах, когда я гружу, то выбор больше - скрин 2. Я не могу загрузить правило, т.к. его просто не могу найти. Можете сделать выбор такой же, как на скрине 2?
https://ru.files.fm/u/yevheqbr
http://fil

[2017-04-02 15:38] TPS opened #1147 "Meta-RFE: Please add milestones or clarifying labels to all open issues"
Recently, thanks to @dennisfong86 [bumping it](https://github.com/AdguardTeam/AdguardForAndroid/issues/533#issuecomment-290984873), I was reminded of #533.  I realized part of the problem for the issue (which seems simple enough, given #201 has been implemented) is that, though _likely_ accepted (it has <kbd>UI</kbd> label, after all), [it _hadn't_ been `Milestone`d](https://github.com/AdguardTeam

[2017-04-02 16:19] Bluscream opened #1148 "F-Droid Repository"
I'd like to see adguard in some F-Droid repository. This can be either achieved by maintaining a own repo (https://guardianproject.info/2013/11/05/setting-up-your-own-app-store-with-f-droid/) (https://f-droid.org/manual/fdroid.html#Simple-Binary-Repository) or having someone else mainting it for you :3

[2017-04-02 19:45] ameshkov commented on #999
Nope

[2017-04-02 19:59] ameshkov commented on #1057
Anyway, @Revertron if it's easy to add custom apps to that intent, we can plan this feature on v3.0 or even on v2.10.

[2017-04-02 20:19] ameshkov commented on #1140
AG just checks for updates once in 24 hours.

[2017-04-02 20:21] ameshkov commented on #1121
@TPS what with 2.9.60? It should've been better now.

I still don't understand why in your case license check is so unstable, but at least it shouldn't cause licensing issues now.

[2017-04-02 20:22] ameshkov commented on #969
@deLumren nope, why? Context menu is a good for place for this kind of actions.

[2017-04-02 20:44] ameshkov commented on #1134
Unless an app actually does this request. Nobody does it, though. Instead they "ask" an OS for the host's IP address and OS makes a DNS request to find it out.

[2017-04-02 21:11] ameshkov commented on #134
we're on it

[2017-04-02 21:11] ameshkov commented on #1141
Yep, duplicate

[2017-04-02 21:11] #1141 closed

[2017-04-02 21:13] ameshkov commented on #1115
@TPS yeah, something like what 1Password does (they did a transition from license keys to a subscription model).

[2017-04-02 21:17] ameshkov commented on #533
There're some changes planned for user filter in v3.0, we'll take this feature request into account.

[2017-04-02 21:19] ameshkov commented on #1146
@Revertron ?

[2017-04-02 21:20] ameshkov commented on #1146
![1](https://cloud.githubusercontent.com/assets/5947035/24591149/445164ac-1803-11e7-943b-59cb18678ac6.png)
![2](https://cloud.githubusercontent.com/assets/5947035/24591150/44536aae-1803-11e7-8ee3-846ba75e83fb.png)

[2017-04-02 21:21] ameshkov commented on #1148
Heh, that's impossible for a closed source app:)

We can do it for https://github.com/AdguardTeam/ContentBlocker though

[2017-04-02 21:24] ameshkov commented on #1147
Going through all 250 issues will take quite some time:)

Although, the idea is great and I completely support it! @vozersky i need you to assist me on this:)

[2017-04-02 21:38] TPS commented on #1147
Honestly, going through the 74 that are currently open is plenty, though, if you want to go through the closed 1s for historical reasons for whatever reason, be my guest. 😁

[2017-04-02 22:11] Bluscream commented on #1140
That's a answer to a different question :D

[2017-04-02 22:13] ameshkov commented on #1140
It's just we roll it out on github first, and then add it to our server:)

[2017-04-02 22:14] TPS commented on #1134
IC: So, in general, the _OS_ would show as the source.  Anyway to track via different mechanism who's asking the OS?  &, whenever it can be determined by whatever method, to note that in logs?  Problem is, DNS requests "leak," even from apps that are ostensibly blocked from mobile/wifi data, & that _can_ be used for tracking via, e.g., [specially crafted host/DNS requests](https://www.grc.com/dns/

[2017-04-02 22:15] Bluscream commented on #1140
Why don't use Github' releases API endpoint to check for updates?

[2017-04-02 22:29] TPS commented on #1121
It's noticeably better (@ least on Nougat/7.1.1ß, I think), but I'll keep an eye on it, & send a report soon if it seems off.

[2017-04-02 22:31] ameshkov commented on #1140
Why bother, we already have our own API used for all the apps.

It's just we don't want to rely on a third-party API for such a sensitive thing.

[2017-04-02 22:33] ameshkov commented on #1134
Nope, unfortunately.

It will anyway be a request for a subdomain, so it should be easy to block such.

[2017-04-02 22:35] Bluscream commented on #1140
True :)

[2017-04-02 22:35] #1140 closed

[2017-04-02 22:53] TPS commented on #1134
How, if DNS address is custom generated, per app/page context?

[2017-04-02 23:35] TPS commented on #596
_(Just FYI: Pt#2 is #578.)_

[2017-04-02 23:48] TPS commented on #351
Now that I'm on 7.1.1, I've _never_ had this message.  Is this the OS or manufacturer addition?

[2017-04-02 23:51] TPS commented on #310
#215/#578?

[2017-04-03 00:04] TPS commented on #145
Maybe this a feature, rather than bug, as per last Q&A from  https://github.com/AdguardTeam/AdguardForAndroid/issues/196#issuecomment-160109535?

[2017-04-03 08:15] ameshkov opened #1149 "Certificate installation is not detected unless you re-enter HTTPS filtering activity"

[2017-04-03 08:18] vozersky commented on #1149
2.8.76 is fine, only affects 2.9.60 beta

[2017-04-03 08:22] ameshkov opened #1150 "Trim string when user enters new domain or rule into Whitelist/User filter"

[2017-04-03 08:25] Revertron commented on #1146
May be we need to use Intent.ACTION_GET_CONTENT instead of Intent.ACTION_OPEN_DOCUMENT.
Need some testing.

[2017-04-03 09:17] ministr91 commented on #1146
@ameshkov, ревертон англичанин?
@Reverton, ну так давай я протестирую. Скажи что надо куда добавить

[2017-04-03 13:50] KozelElena commented on #1046
We have got several complaints about the compatibility with Dr.Web's firewall:

Adguard works fine in VPN mode, but after enabling HTTP proxy mode in Adguard and VPN in Dr. Web the internal error occurs.

Adding Adguard to exceptions of Dr.Web didn't help
We have logs for both cases.

Ticket IDs: 1531838, 1534510

[2017-04-03 15:11] OlegSUP opened #1151 "[Feature request] Check for duplicate entries from the default list and custom list"
Does Adguard check this and can it be implemented if not?

[2017-04-03 17:01] Revertron commented on #1149
Fixed.

[2017-04-03 17:01] #1149 closed

[2017-04-03 17:14] vozersky commented on #1151
Even if there are duplicates in Userfilter, Adguard will not try to apply the same rule twice

[2017-04-03 17:14] #1151 closed

[2017-04-03 17:39] ameshkov commented on #1134
By blocking all subdomains of a given second-level domain name

[2017-04-03 17:41] ameshkov commented on #578
https://blog.adguard.com/en/ad-blocking-and-battery-usage/
https://blog.adguard.com/en/great-battery-saving-mode-of-adguard-for-android/

[2017-04-03 17:41] #578 closed

[2017-04-03 17:41] ameshkov commented on #596
https://blog.adguard.com/en/ad-blocking-and-battery-usage/
https://blog.adguard.com/en/great-battery-saving-mode-of-adguard-for-android/

[2017-04-03 17:41] #596 closed

[2017-04-03 17:42] ameshkov commented on #351
Yeah, seems to be Samsung addition. Although I've never heard of this issue besides this single complaint.

[2017-04-03 17:42] #351 closed

[2017-04-03 17:43] ameshkov commented on #215
https://blog.adguard.com/en/ad-blocking-and-battery-usage/
https://blog.adguard.com/en/great-battery-saving-mode-of-adguard-for-android/

[2017-04-03 17:43] #215 closed

[2017-04-03 17:43] ameshkov commented on #310
That's a firmware bug, I've seen this issue once already.

[2017-04-03 17:43] #310 closed

[2017-04-03 17:44] ameshkov commented on #145
Frankly, I suppose this issue is outdated and no more relevant.

[2017-04-03 17:44] #145 closed

[2017-04-03 17:54] ameshkov commented on #1146
@ministr91 это на нашей стороне, в следующих бетах потестим.

[2017-04-03 18:05] ameshkov commented on #1046
You should also disable filtering for DrWeb completely (in the apps management), have you done it?

[2017-04-04 02:20] TPS commented on #1134
Shrewd trackers would simply block that by making that part of important domain — so, e.g., image.example.com, www.example.com, whatever.example.com, imageS.examples.com & myriad other _useful_ subdomains, interspersed w/ fgkgsdhy.example.com, ahg.example.com jtdgjtgghftyy.example.com, *random-letter-conglomerate*.example.com, &c for nefarious purposes.

I've _seen_ something quite like this for a

[2017-04-04 02:45] TPS commented on #1150
Example?  I don't quite understand, but I feel this is something I'd find useful. 🤔

[2017-04-04 11:08] ministr91 opened #1152 "Перевод и расширение FAQ"
Я зашел в раздел фильтры и был удивлен, что некоторые фильтры не переведены. Можете их перевести? https://ru.files.fm/u/gj8fxf4z
Также хотелось бы более расширенное FAQ, взять хотя бы те скрины, которые я кинул. Что такое killer reek? Тут два варианта: или занести это в FAQ или описание дополнить непосредственно в фильтрах, чтобы было понятно

[2017-04-04 11:09] ministr91 commented on #1152
Да и еще вопрос, как загрузить фото сюда?

[2017-04-04 12:23] OlegSUP commented on #1103
Another trouble with Viber
User:
"в приложение viber если включена защита
по умолчанию, то невозможно получать
фотографии в чате и перейти в магазин
вайбера"

Logs, time 14.21:
[debug (11).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/893060/debug.11.txt)

Ticket ID: 1331840

[2017-04-04 14:23] TPS commented on #1119
Possible whenever #34 lands?

[2017-04-04 15:36] TPS commented on #1121
This works well. Thanks a bunch! 😁👏

[2017-04-05 10:58] ameshkov commented on #1134
Something like that.

Blocking subdomains:
`*.example.org`

Unblock useful domain:
`@@||www.example.org`

[2017-04-05 10:58] ameshkov commented on #1150
When you enter a new rule into the user filter, it won't work if you add extra spaces in the beginning of the rule.

[2017-04-05 10:59] ameshkov commented on #1152
Аа, ну грузи хотя бы на imgur.com:)

[2017-04-05 10:59] ameshkov commented on #1152
Наши фильтры все переведены, а всякие сторонние - их не на что переводить:)

[2017-04-05 10:59] #1152 closed

[2017-04-05 11:02] ameshkov commented on #1103
@OlegSUP ask user to update to the latest Adguard release candidate.

[2017-04-05 11:06] ameshkov commented on #1119
@TPS nah, it's just the banner place is hardcoded and we simply cannot change the app styles.

[2017-04-05 11:52] ameshkov opened #1153 ""Blocked" page is visible for a moment when I open links in the twitter app"

[2017-04-05 12:00] OlegSUP commented on #1103
@ameshkov Done

[2017-04-05 12:03] ameshkov commented on #1153
Resolved, review ID: AJC-CR-214

[2017-04-05 12:03] #1153 closed

[2017-04-05 12:54] TPS commented on #1119
Cheaters. 😉 @ least they don't keep wasting bandwidth.

[2017-04-05 14:04] vozersky opened #1154 "Cannot block ads in Moscow subway wi-fi network"
Since auth.wi-fi.ru и static0.wi-fi.ru are excluded from filtering as local domains

[2017-04-05 14:08] ameshkov commented on #1154
They are not excluded. It's just wi-fi.ru is located inside of the LAN.

[2017-04-05 19:55] ministr91 commented on #1152
Почему нельзя их перевести? Я же кинул скрины. Там англ.язык, можно же рус сделать, да и пояснить, для чего они
![_20170404_140445](https://cloud.githubusercontent.com/assets/22351242/24724179/dd340642-1a52-11e7-986c-cf82f9d7fb84.JPG)
![_20170404_140459](https://cloud.githubusercontent.com/assets/22351242/24724181/dd36e060-1a52-11e7-9940-55716370bd86.JPG)
![_20170404_140513](https://cloud.githubus

[2017-04-05 20:39] ministr91 commented on #1152
Это же не трудно, всего-лишь пояснить для чего они нужны и перевести. Эти 3 выше

[2017-04-05 20:39] ministr91 commented on #1152
@ameshkov

[2017-04-05 23:34] cadoan opened #1155 "Ads not blocked in Flipboard"
Hi,

I hope this is the right place to report this issue.  I wanted to give feedback as a beta tester.

Ads aren't blocked inside Flipboard.  This applies to both inside the main app and inside articles.

Cheers,
Chris

[2017-04-06 10:20] ameshkov commented on #1154
Suggested solution: make a new advanced preference with network names, for which we filter LAN.

[2017-04-06 11:57] ameshkov commented on #1154
Done

[2017-04-06 11:57] #1154 closed

[2017-04-06 12:03] ameshkov commented on #1145
Done

[2017-04-06 12:03] adbuker opened #1156 "Extend $network modifier - let it be an exception rule as well"
related to https://github.com/AdguardTeam/AdguardForWindows/issues/1631

[2017-04-06 12:05] adbuker opened #1157 "Do not apply cosmetic filters to the pages whitelisted by a $document exception"
related to https://github.com/AdguardTeam/AdguardForWindows/issues/1574

[2017-04-06 12:43] ameshkov opened #1158 "Do not suppress update notifications after the first time"
Currently, we show "Update available" notification ONE time and that's all.

We shouldn't suppress it next time. The only thing we should do is ensure that we don't show that notification more than once in 24 hours.

[2017-04-06 13:11] ameshkov commented on #1158
Done, review ID: AJC-CR-217

[2017-04-06 13:11] #1158 closed

[2017-04-07 09:22] Bohdan-SUP commented on #1103
Still happens even with 2.9.64 for user 713686:
[debug (1).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/905106/debug.1.txt)

@ameshkov please have a look

[2017-04-07 09:33] Michael23456 commented on #133
I would to like see function to Import
& Export the settings configured. Or anything which is customize
manually not set in default or be able to split by default & users
section. e.g. LOW LEVEL SETTINGS, https blacklist and whitelist.
Understand that if anyone report issue on https issue, adguard will
add and release it on update, but there maybe more which we can
customize it yourself hence spli

[2017-04-07 10:40] ministr91 opened #1159 "Punctuation mistake in settings"
Забыли точку поставить в настройках. Везде стоят точки, а в портах нет

<details>

![280a0172-1e26-11e7-8143-f39a28753ba2](https://cloud.githubusercontent.com/assets/17472907/24872480/43db39a2-1e26-11e7-9fbb-b609b6c6eca5.png)

<details>

[2017-04-07 12:48] ameshkov commented on #1152
Ну вот мне кажется, что их переводом должны авторы этих фильтров озаботиться.

Но они почему-то этого не делают.

[2017-04-07 12:50] ameshkov commented on #1155
Thank you and sorry for the late reply!

You're almost right, ads should be reported to AdguardFilters repo.
Moved it there:
https://github.com/AdguardTeam/AdguardFilters/issues/4757

[2017-04-07 12:50] #1155 closed

[2017-04-07 13:01] ameshkov commented on #1103
@Bohdan-SUP does it help to disable https filtering for viber? Can you reproduce it yourself?

[2017-04-07 13:26] TPS commented on #133
I suppose this would be preparatory for #108/#134, as well as making debug (pre-ß) builds easier to test.

[2017-04-07 13:32] TPS commented on #1157
Conversely, other adblockers allow 1 to independently toggle cosmetic/network blocking for a site/request/whatever.  Is that possible w/ AG?

[2017-04-07 13:41] ameshkov commented on #1157
Of course, it's done by $elemhide modifier.

The point of this issue is a bit different, it's about applying rules to iframes nested inside of a whitelisted page.

[2017-04-07 13:58] Bohdan-SUP commented on #1103
I can't reproduce it at all (both media and sticker shop open up), yet 1331840 and 713686 have it.

Disabling HTTPS filtering helps. Anything useful in logs?

[2017-04-07 14:06] ameshkov commented on #1103
Nah, not really. Let's put Viber to https exclusions in v2.10 then.

[2017-04-07 14:35] KozelElena commented on #639
We've got a complaint about hard times to reach the statistics reset in our Beta.
1537648

[2017-04-07 15:55] ministr91 commented on #1152
@ameshkov здесь же не сложно, может сделаете перевод?

[2017-04-08 17:26] Michael23456 opened #1160 "Reddit app comments sometimes are not loaded with https filtering enabled"
Reddit comments sometimes are not loaded with https filtering enabled
the link in play store:
https://play.google.com/store/apps/details?id=com.reddit.frontpage&hl=en
Customer's message: "Latest beta of Adguard and Reddit official app results in comments not being loaded at all, or not in a timely manner. Turning Adguard protection off immediately solves the problem. If Adguard is disabled and re-

[2017-04-08 22:06] ameshkov commented on #1160
@Michael23456 ask him to check filters updates in an hour or try this rule manually:
`@@||api.branch.io^$app=com.reddit.frontpage`

[2017-04-08 22:06] #1160 closed

[2017-04-09 13:18] Michael23456 commented on #1160
forwarded to the customer

[2017-04-09 13:54] Michael23456 commented on #1046
forwarded to the customers 1531838 and 1534510. Waiting for results

[2017-04-09 15:35] TPS commented on #775
_When recommending VPN services, _do_ keep in mind AA's articles on [rogue](http://www.androidauthority.com/vpn-scammers-761908/) & [recommended 1s](http://www.androidauthority.com/best-android-vpn-apps-577594/)._

[2017-04-09 18:49] ameshkov commented on #1160
One more rule could've caused issues,  removed it:
https://github.com/AdguardTeam/AdguardFilters/commit/1afa09975868150bb981570a74c8007f1c7202e0

[2017-04-09 19:03] Michael23456 commented on #1160
Just tested it on my Meizu m3s( android 5.1) seems to work fine now. Will see results from the customer.

[2017-04-09 22:01] ameshkov opened #1161 "ru.recordrussia.record - does not work with manual proxy"
https://play.google.com/store/apps/details?id=ru.recordrussia.record

Report:

[2017-04-09 22:06] ameshkov opened #1162 "VK messages - cannot send photo"
**More info:**
http://4pda.ru/forum/index.php?s=&showtopic=601691&view=findpost&p=60249316

@nkartyshov please check it, we may need to update the app if there is a bug with it.

[2017-04-10 09:05] KozelElena commented on #1160
For me, it worked fine now (Meizu m2 android 5.1).
Forwarded the last rule to our customer.

[2017-04-10 09:06] ameshkov commented on #1160
@KozelElena the rule is in the mobile filter already, so it should be enough for him to check filters updates.

[2017-04-10 09:07] nkartyshov commented on #1162
@ameshkov I haven't problem with upload photos in vk app on last Adgaurd version.

[2017-04-10 09:51] ameshkov commented on #1152
В любом случае мы этим займемся после того как работу по категоризации фильтров проделаем.

Сейчас они одним списком выводятся, это очень неудобно.

[2017-04-10 09:52] ministr91 commented on #1152
Хорошо, но можешь как-нибудь пометить эту тему, чтобы не забыть? Тэг там поставить ну м открыть ее @ameshkov

[2017-04-10 09:54] ameshkov commented on #1152
Ага, записал

[2017-04-10 10:29] nkartyshov opened #1163 "FAQ language issue on Android N"
STR:
1. Change language in Adguard
2. Open FAQ

Expected result: FAQ language has been changed as well.
Actual result: FAQ language remains the same as before.

You have to open any FAQ article or restart the app to make it actually change to correct language.

[2017-04-10 16:13] Alex-302 opened #1164 "Объявления - «Из рук в руки» app"
Application doesn't work even without HTTPS filteing and with disabled filters.
An error: "Сеть недоступна"
https://play.google.com/store/apps/details?id=com.arvifox.hibiny&hl=en
Adguard 2.9.64
Original issue:
https://github.com/AdguardTeam/AdguardFilters/issues/4774

[2017-04-10 16:35] vozersky opened #1165 "Filtering log rules highlighting issue"
You can't see the rule text after selecting it.

STR:

1. Enable filtering log and open any website.
2. Open filtering log, open any request and press "Block" or "Unblock"
3. Long tap any symbols in the "rule text" field.

<details>

<summary>screenshot</summary>

![image](https://cloud.githubusercontent.com/assets/17472907/24872145/feb57668-1e24-11e7-8286-e6a46e7372eb.png)

</details>

[2017-04-10 22:15] Darina655 commented on #1160
Got the answer from the client "Performance has certainly improved, but in some cases, comments still won't load (at all). The app is overall definitely slower than without Adguard.

[2017-04-11 16:48] OlegSUP commented on #1046
User 1531838:
Отключил как вы и советовали полностью фильтрацию для доктор веб, не
помогло. конфликт так и остался.

[2017-04-11 22:57] ameshkov opened #1166 "Blackmart causes Android crash"
Report:
http://4pda.ru/forum/index.php?s=&showtopic=601691&view=findpost&p=60325019

[2017-04-12 10:21] ameshkov opened #1167 "Unexpected OutOfMemory exception"
Got a dump:
https://www.dropbox.com/s/ybwtxtxadoy5l1m/adguard-oom-1491855262876.zip?dl=0

http://4pda.ru/forum/index.php?s=&showtopic=601691&view=findpost&p=60353983

[2017-04-12 12:52] Darina655 commented on #1046
User 1531838: Disabled HTTPS filtering for Dr. Web
Nothing has changed.

[2017-04-13 06:51] TPS commented on #172
RFE/C: Block IPv4 & IPv6 individually per app, e.g., if ads get loaded on v6, while app uses v4?

Also, can #1031 be merged into _this_ issue?

[2017-04-13 11:28] Bluscream commented on #172
Also please have a option to only allow foreground app to use 3g/wifi

[2017-04-13 23:31] KozelElena opened #1168 "Applications are hanging while Adguard is on"
Our customer has complained about some applications are hanging while Adguard is on (like Chrome or SMS backup program).
He noticed it only began doing this after the latest update.
Icon is active
He had troubles with sending logs, we suspect some cleaning application
disabling pref.vpn.disable.pause didn't help

Logs are here: 1448020

[2017-04-14 00:56] whatinthenameofgod commented on #1168
Hi! Yes. It's weird. The Internet connectivity will basically hang. Google maps, music, play store, etc. It won't say its offline, but it won't load. If I toggle Adguard protection in and off, the whatever was hanging will load instantly.

I can't find any other culprit which is frustrating. I've been using Adguard since November without issue. This began within the last few weeks.

Happy to test

[2017-04-14 11:59] nkartyshov commented on #1164
Adding an application to the https exclusion solved the problem.

[2017-04-14 11:59] #1164 closed

[2017-04-14 12:56] ameshkov opened #1169 "Add support for domain.* TLD matching"
It is really easy to do, so why not?

[2017-04-14 12:58] TPS commented on #23
Since I've pretty much mothballed this tablet (I use my phablet 99% of the time, & laptop most of the rest), I'd like this marked <kbd>Incomplete</kbd> or equivalent.

[2017-04-14 12:58] #23 closed

[2017-04-14 14:00] ameshkov commented on #1160
@Darina655 does it help to disable https filtering for the app?

[2017-04-14 16:03] vozersky commented on #1168
[debug.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/922418/debug.txt)
[state.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/922419/state.txt)

[2017-04-15 05:37] Darina655 commented on #1160
@ameshkov on my side all the comments are visible even if https is on

[2017-04-15 18:34] Michael23456 opened #1170 "can't access eu.battle.net and hearthstone app"
can't access eu.battle.net  and hearthstone app
![image](https://cloud.githubusercontent.com/assets/25711093/25066020/2dab9414-2223-11e7-973c-2e8aaeeed6b5.png)

the issus with eu.battle.net is reproduced 20:58
CustomerID:1093966
[debug (9).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/923799/debug.9.txt)
[state.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/923801/state.

[2017-04-15 19:55] ameshkov commented on #1170
Duplicate, resolved in v2.9

[2017-04-15 19:55] #1170 closed

[2017-04-15 19:55] ameshkov commented on #1160
@Darina655 same on my side, what I meant is performance issues, maybe without https filtering user won't have that slowdown?

[2017-04-16 13:58] deLumren opened #1171 "Change Finnish default filter list from Wiltteri to Juvander's"
According to User 1543777 default Adguard filter for Finnish Language - Witteri is outdated.
Their GH page - https://github.com/wiltteri/ - was not updated for 2 years. And the filter itself was not updated since last December.

Instead they suggest we start using List by Ilpo Juvander available here:
http://adb.juvander.net/Finland_adb.txt
Which is being actively updated (Current version is from

[2017-04-16 14:31] Alex-302 commented on #1171
I think, `Juvander's Adblock List for Finland` should be added as separated filter.

[2017-04-16 19:27] ameshkov commented on #1046
@vozersky need you to test it.

[2017-04-16 19:41] ameshkov commented on #172
@TPS we should first find out what's the problem with #1026 and why it is not routed through AG.

[2017-04-16 20:04] ameshkov commented on #1168
@whatinthenameofgod as I see, you're on one of the older beta versions. Could you please check the app updates? The latest version is 2.9.64

[2017-04-16 20:05] ameshkov commented on #1168
There were some major bugs fixed between 2.9.53 and 2.9.64, so it might be important.

[2017-04-16 21:15] ameshkov commented on #23
Marked as `Wontfix` as we anyway don't know what exactly to fix here:)

[2017-04-16 21:24] ameshkov commented on #1171
@Alex-302 please move this issue to AdguardFilters then.

[2017-04-16 21:27] Alex-302 commented on #1171
@ameshkov but this issue is actual for Android only. These both filters are available for all other products.

[2017-04-16 21:28] ameshkov commented on #1171
Ah, sorry, now I get it.

[2017-04-16 21:30] ameshkov commented on #1161
The issue was resolved in the app itself.

[2017-04-16 21:30] #1161 closed

[2017-04-16 21:34] Joss opened #1172 "cityguide.probki.net - Adguard breaks maps downloading"
2.9.64 (all setting by default, VPN, +DNS filtering)

Apps affected by this bug:
net.probki.bgeo
net.probki.geonet
cityguide.probki.net

Users can't download maps from cityguide ftp servers.

[fulllog.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/924589/fulllog.zip)

[2017-04-16 21:38] ameshkov commented on #1172
Duplicate for https://github.com/AdguardTeam/AdguardForAndroid/issues/995

The only solution: disable AG completely for these apps.

Moreover, filtering is disabled for these apps by default.

[2017-04-16 21:38] #1172 closed

[2017-04-16 21:40] Joss commented on #1172
Yes, it was disabled, but it didn't helped (probably because DNS filtering). Only Adguard shutdown helps with the issue.

[2017-04-16 22:36] ameshkov opened #1173 "Reinitialize VpnService when newly installed app should not be filtered"
Let's imagine that traffic filtering is disabled by default for the PayPal app.

So, here's how the issue looks like:
1. Start AG protection
2. Install PayPal app
3. Open it

Expected result:
App should've been excluded from VPN.

Actual result:
App's traffic goes through VPN

[2017-04-17 03:57] TPS commented on #172
@ameshkov If logging is enabled for the requests that are wholesale-blocked (e.g., IPv6 is global/app-blocked, or app is completely blocked from network), then per-IPv× blocking _will_ help debug it, as well as provide a quick-&-dirty test.

[2017-04-17 05:27] TPS opened #1174 "RFC/E: Evaluate & implement potentially "new" (¿¡!?) adblocking techniques"
Reading through the press, they seem like hype to me, but you folks are the experts. Both are under MIT license:
- https://github.com/storey/fbAdHighlighter/
- https://github.com/citp/ad-blocking/

[2017-04-17 10:22] ameshkov commented on #172
It occurs to me that the issue is more about routing. For instance, ad servers might be located in the cellular provider's LAN (which AG excludes by default to not mess with it). Note that the issue affects Korean users, so it has something to do with their cellular providers features.

[2017-04-17 10:24] ameshkov commented on #1174
Yep, I've seen it. Here is my comment on this:
https://forum.adguard.com/index.php?threads/the-future-of-ad-blocking-an-analytical-framework-and-new-techniques.20950/#post-133769

[2017-04-17 13:36] TPS commented on #1174
So, more of a v99.× iteration of #249 for when Google releases the [Quantum](https://research.google.com/pubs/QuantumAI.html) [Pixel](https://madeby.google.com/phone/) ≈ GQubit? 😂  Don't forget to send me that ß in 2100 or so: _I_ should be uploaded to my GDrive by then. 🙃

[2017-04-17 13:46] TPS commented on #172
[Netflix does it](https://openconnect.netflix.com/en/delivery-options/); why shouldn't Google?  Or ISPs using caching proxies to serve them to decrease _their_ external bandwidth.  The possibilities are virtually endless.…

[2017-04-17 22:16] ameshkov commented on #1174
Given how fast things are developed nowadays it might happen earlier:)

[2017-04-17 22:18] ameshkov commented on #172
@TPS in the Netflix case traffic might be routed through ISP indeed, but it does not really become part of the private subnet, which I suspect is the case in #1026

[2017-04-18 13:18] ameshkov opened #1175 "Disable HTTPS filtering for Yandex Disk"
It's problematic as they do check the certificate.

[2017-04-18 13:27] ameshkov opened #1176 "Unnecessary exception in the log file"
[code]

[2017-04-18 23:03] deLumren opened #1177 "Adguard Traffic Management does not count Play Market updates"
User 1544271 wants to know why traffic from updating applications via Play Market is not counted in Adguard statistics.

You can find numbers in his ticket.

[2017-04-18 23:05] ameshkov commented on #1177
Play app is in the list apps for which filtering is disabled by default.

We do it to solve possible issues with DNS filtering and apps updates downloads. However, user may easily enable it back in the apps management section.

[2017-04-18 23:05] #1177 closed

[2017-04-18 23:17] Alex-KS02 commented on #1177
Really.. Thanks a lot! I was sure that all apps are filtered by default and even didn't check it :-)
Have a nice day!

[2017-04-19 00:56] TPS commented on #760
<Summary>I think this should be reopened, as Android 7/Nougat opens this up for VPN apps, given correct configuration via <a target="_tab" href="https://goo.gl/yyKLWQ">`setAlwaysOnVpnPackage` (⚠️ Warning! Giant confusing webpage!  Click into new tab & let it load!) </a> & related functions, which AG doesn't (yet 🤞) have:
<Details>
![ag always-on-vpn fail](https://cloud.githubusercontent.com/assets

[2017-04-19 00:58] TPS commented on #760
![ag always-on-vpn fail](https://cloud.githubusercontent.com/assets/185902/25158882/a71476d8-2479-11e7-987a-104a86ed3456.png)

There, that should work!

[2017-04-19 04:25] TPS commented on #774
Quoting myself from https://github.com/AdguardTeam/AdguardForAndroid/issues/760#issuecomment-295030130 & https://github.com/AdguardTeam/AdguardForAndroid/issues/760#issuecomment-295030352:

![ag always-on-vpn fail](https://cloud.githubusercontent.com/assets/185902/25158882/a71476d8-2479-11e7-987a-104a86ed3456.png)

[2017-04-19 16:01] ameshkov opened #1178 "Fix SHA-1 intermediate issue"
https://github.com/AdguardTeam/AdguardForWindows/issues/1702

[2017-04-19 18:16] vozersky commented on #1046
was able to reproduce:

[adguard (4).log.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/937065/adguard.4.log.zip)

STR:
1. Install Adguard and activate protection (VPN mode).
2. Install [Dr. Web](https://play.google.com/store/apps/details?id=com.drweb.pro&hl=en), activate trial license and enable firewall.
3. Now configure manual proxy and try to enable protection in Adguard.

Expecte

[2017-04-19 23:05] ameshkov commented on #760
@TPS nice catch!

But this method is usable by the system apps only:

[2017-04-19 23:07] ameshkov commented on #760
Oh, it's usable by device admin apps, interesting.

[2017-04-19 23:37] ameshkov commented on #1046
Assigned to v2.10

[2017-04-19 23:42] TPS commented on #760
[Yep, reportedly, OpenVPN _does_ have this included.](https://android.stackexchange.com/questions/163316/always-on-vpn-in-android-nougat-does-not-prevent-traffic-leakage)

[2017-04-19 23:55] TPS commented on #760
@ameshkov You forgot to re-open.… 🤔

[2017-04-20 22:41] ameshkov opened #1179 "Constant requests to a tracking server causes CPU overuse"
The easiest way to reproduce this issue is to block `api.segment.io`, install LastPass and monitor the filtering log. It constantly tries to contact that server. Also `mixpanel.com` is rather aggressive.

For now I've changed the rule to `||api.segment.io/v1/` so that it didn't work when HTTPS filtering cannot be used to emulate server's response.

**Possible solutions**

In any case, we should im

[2017-04-20 22:43] ameshkov commented on #1179
Again, mixpanel detects response code 500 and does not make another try:
https://github.com/mixpanel/mixpanel-android/blob/bf7cdd554ae8e2ab8dd2954472e697f8efdc2a22/src/main/java/com/mixpanel/android/util/HttpService.java#L147

[2017-04-21 10:17] ameshkov opened #1180 "Fix filtering log toolbar layout"
Screenshot:
![photo - google photos 2017-04-21 13-16-16](https://cloud.githubusercontent.com/assets/5947035/25273535/d0a20d72-2694-11e7-854f-499651f0ced5.png)

[2017-04-21 11:40] ameshkov commented on #1134
Here is the very first mockup of the DNS module page:

<details>

![adguard for android - dns c2 b7 moqups f0 9f 94 8a 2017-04-21 14-38-47](https://cloud.githubusercontent.com/assets/5947035/25275911/56dfe688-26a0-11e7-8138-7a70aea02084.png)
</details>

@nkartyshov please start with the UI part, this mockup should be enough for the first days.

[2017-04-21 18:51] ameshkov opened #1181 "Check request filter memory optimization flag"
It is currently disabled, but I guess we can enable it with no issues.

[2017-04-21 23:30] KozelElena commented on #1145
там в 975678 все равно остались проблемы со входом в приложение на бете.
Логи в тикете

[2017-04-22 01:02] TPS commented on #1179
Are you saying these requests are generated by the app/browser _itself_ or just whatever site that's being hosted?  E.g., _I_ regularly run Lastpass as my primary browser, but I don't see these requests in my filtering log.  Did I miss something?

Anyway, I'd like to volunteer to test whatever you'd like me to, here.  Will my lack of HTTPS filtering be a problem?

[2017-04-22 01:34] KozelElena opened #1182 "Separate cellular and wi-fi data for apps"
We've got a feature request about separating cellular and wi-fi data for applications.

Ticket ID: 1546512

[2017-04-23 07:53] evgeniy-ADG commented on #1145
там не бета.

[2017-04-23 13:03] sz4bi opened #1183 "Adguard 2.9.64 Proxy mode failure with custom OpenVPN server"
Hi

I am using Adguard 2.9.64 on my Nexus 6 (LineageOS 14.1, Android 7.1.2). The phone is rooted, so Adguard is running in Proxy mode. My router is running an OpenVPN server on port 443 to fool my mobile phone ISP's traffic filtering policy. So with Adguard On with automatic Local Http Proxy mode the connection is made to the VPN server, but after the connection established something cause a soft

[2017-04-23 18:10] ameshkov opened #1184 "Compatibility issues with TutoTOONS apps"
Source:
http://4pda.ru/forum/index.php?s=&showtopic=601691&view=findpost&p=60750689

Apps:
https://play.google.com/store/apps/dev?id=6493980387780624296

It might be enough to add tutotoons.com to the SSL whitelist.

[2017-04-23 21:11] ameshkov commented on #1179
Talking about LastPass app only, not the browser. Yeah, if you block `api.segment.io`, it'll repeat request to it all the time.

[2017-04-23 21:11] ameshkov commented on #1182
Planned for v3.0

[2017-04-23 21:11] #1182 closed

[2017-04-23 21:18] ameshkov commented on #1183
Hi! What if you disable Adguard for the `de.blinkt.openvpn` app, does the issue go away?

[2017-04-23 21:18] ameshkov commented on #1183
You can do it in the apps management settings section

[2017-04-24 05:38] TPS commented on #1182
#202, for the record, @KozelElena, if you want to point said user to the tracking issue. ☺

[2017-04-24 08:43] ameshkov opened #1185 "Increase range of the $$ rules"
https://github.com/AdguardTeam/AdguardForWindows/issues/1464

[2017-04-24 09:35] sz4bi commented on #1183
Sorry for bothering, that was the problem. I am new to Adguard and I have never used that menu before... Thank you.

[2017-04-24 12:51] ameshkov commented on #1183
No worries, I guess we should disable AG for the openvpn app by default.

[2017-04-24 15:25] ameshkov opened #1186 "Filtering log --> Filtering Log"

[2017-04-24 15:42] TPS opened #1187 "Clarification: Unblocking specific requests for blocked app?"
It occurs to me that I've _never_ seen discussion on:

If I've an app mobile-/wifi-blocked via firewall, is it possible to whitelist specific requests from that app?  If so, what syntax would be necessary (e.g., `$important,app=`, or just 1 or the other)?  Else, I'd like to request the capability to do so.

Here's a real world example: I've no need for [CleanMaster](http://play.google.com/store/ap

[2017-04-24 15:51] TPS commented on #827
Maybe AG, instead of just deactivating (or blocking everything 😱), maybe should do [DNS-blocking _only_](https://blog.adguard.com/en/great-battery-saving-mode-of-adguard-for-android/)?

[2017-04-24 16:01] TPS commented on #597
Just FYI: I _almost_ never have this bug anymore.  The _only_ time I remember is whenever I've an OTA ROM update for my phone, which, since I'm w/ the ß-test group _(also 😉)_, I get about 1× monthly, but most other folks, probably max 3× over the entire life of their device.

[2017-04-24 16:07] TPS commented on #556
Solved; tracked via #626.

[2017-04-24 16:15] #556 closed

[2017-04-24 17:34] Itsnothectic commented on #1169
Would be a good reason to ditch iOS for Android :)

[2017-04-24 17:46] Itsnothectic opened #1188 "Features listed on the website are not listed clearly"
So I will ask my questions here.

1) Can the http proxy mode be used along with a separate system hosts file and also a VPN to block ads in Apps?

2) Lets say I have some hosts blocked in etc/hosts will adguard also use this along with the DNS Filter and the hostname.* rules?

3) If Adguard for Android uses Adguards DNS do these get routed through the VPN so my IP is hidden from the DNS server?

I

[2017-04-24 21:58] ameshkov opened #1189 "Add Persian language support"
We should add it to v2.10

[2017-04-25 13:19] ameshkov opened #1190 "Suggest enabling "HTTPS filtering" on the main screen"
People do not realize what capabilities are provided by the HTTPS filtering.

We should at least inform them about it on the main screen.

One it's done, we no more need the warning message on the navigation sidebar.

[2017-04-25 13:36] vozersky opened #1191 "Subscription status description is misleading"
Adguard 2.9.70

Go to "License Status" and press "Refresh license status"
this wording (about subscription renewal) has to be changed:

<details>

![screenshot_2017-04-25-17-30-00](https://cloud.githubusercontent.com/assets/17472907/25387923/07d64efa-29d5-11e7-9f91-2de5915fd9a4.png)

</details>

[2017-04-25 14:24] TPS commented on #1191
@vozersky Why?  It seems _very_ clear & precise to me.

[2017-04-25 14:31] vozersky commented on #1191
@TPS
Because apparently it makes people think there is some kind of automatic sub renewal after the week of trial period.
The previous screen (License status) has a correct phrase: "License is valid until ..."

[2017-04-25 14:38] TPS commented on #1191
Ahh, the _trial_ language got lost, IC. 🤦

[2017-04-26 02:12] ameshkov commented on #1142
There're some similar complaints on XDA.

What's common: they all have Samsung

[2017-04-26 02:41] ameshkov opened #1192 "Speedtest app ping is now +100ms"
Problem: speedtest uses port 8080 for checking ping.
This port is now filtered by AG.
Adguard's tunnel implementation adds 100ms to the very first packet processing (which should be fixed).

[2017-04-26 15:12] Darina655 opened #1193 "AquaMail app error"
In AquaMail app, when HTTPS is enabled, the app won't connect to exchange server.

A link to the app https://play.google.com/store/apps/details?id=org.kman.AquaMail&hl=en
This app is paid on the customer's side.

Logs are attached to the ticket.

Ticket number(1549008)
Adguard version: 2.9
Filters: 2, 3, 4, 1, 11
HTTPS filtering: on
filteringQuality" : SPEEDY

[2017-04-27 08:58] ameshkov opened #1194 "Rework the HTTPS filtering settings section"
Mockup:
https://app.moqups.com/ameshkov/lfmli7Cikw/view/page/a599a916a

**Main changes**

1. If HTTPS filtering is disabled, all the settings should be grayed out.

2. "On/Off" switch now installs the certificate.
If the certificate is installed, it just changes the "Filter HTTPS" flag value.
If the certificate is not installed, it generates & installs it first.

3. Certificate status now shows a

[2017-04-28 15:14] Alex-302 opened #1195 "Adguard does not filter HTTPS connection with TLS 1.0 servers"
<details>

![image](http://i91.fastpic.ru/big/2017/0428/31/8f60410c68db80650e181da8862d8031.jpg)
</details>

Log:
https://rocld.com/y2wtw
or
[adguard.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/964731/adguard.txt)

[2017-04-28 15:28] evgeniy-ADG commented on #1192
Does it affect other speed test results?

[2017-04-28 15:28] ameshkov commented on #1192
It shouldn't, only the ping value.

[2017-04-28 16:25] evgeniy-ADG opened #1196 "Adguard crashes and restarts on a launch of Chrome or other data-consuming apps"
Logs and the conversation history: 1542731

"androidVersion" : "5.0.1 (sdk=21)",
 "deviceName" : "asus Z00D",
"versionName" : "2.9.64",
"proxyMode" : false

Doesn't happen with other VPN apps, only with Adguard.

[2017-04-28 17:27] vozersky commented on #1195
reproduced

[2017-04-28 19:28] evgeniy-ADG opened #1197 "Wi-Fi calling doesn't work (T-Mobile)"
"deviceName" : "samsung SM-G950U",
  "dnsFilteringEnabled" : true,
  "enabledFilterIds" : [ 2, 3, 4, 14, 11 ],
  "iconType" : "LOW_PRIORITY",
  "proxySetupManualMode" : false,
  "sslMitmConfiguration" : "{\"certificateInstalledToSystemStorage\":false,\"mitmList\":\"1024 domains\",\"mitmListMode\":\"WHITELIST\"}",
  "upstreamProxySettings" : null,
  "versionName" : "2.8.76",

ID, logs: 1224805

[2017-04-28 21:45] BooBerry commented on #1169
Assuming AG for Windows, Mac and the browser extensions don't support it already, why not them too? ;)

There's sites with multiple domains, sadly. Google's an example, as are more "shady" sites I've heard about like Avax, which seems to change domains a lot.

[2017-04-28 22:08] medoiq opened #1198 "local http proxy problem"
after update to 2.9  use local http proxy mode protection stooped when connect or discoonect data
android 4.4.2 Rooted

[2017-04-28 22:35] seba2282 opened #1199 "MiniMiniplus.pl"
Adquard blocks videos on miniminiplus.pl . Can you add fix ? AQ should block adds, but player without ads should be unblocked. Is it possible ?

[2017-04-29 02:23] KozelElena commented on #1168
Our customer updated the info and it still doesn't work

[2017-04-29 14:49] KozelElena opened #1200 "Free version - add a choice of the main browser to use"
We have a request to add an option to choose one main browser to be filtered. For example, Google Chrome is marked as filtered by default, but if I am using Opera Mini, this feature is almost useless.

Ticket ID: 1549624

[2017-04-30 00:04] vozersky commented on #1200
@KozelElena
The thing is, Opera Mini is not supported since it routes all traffic through Opera servers.
All normal browsers are filtered even in free version, you don't have to choose anything.

[2017-04-30 00:04] #1200 closed

[2017-04-30 13:23] seanl-adg opened #1201 "nh.smart.nhallonepay - https filtering issue"
The app does not launch.
If I exclude the app from https filtering, the app launches.
Play store link: https://play.google.com/store/apps/details?id=nh.smart.nhallonepay
 - This app is a banking app.
 - To launch this app, it requires installing another app com.ahnlab.v3mobileplus

[2017-04-30 14:07] seanl-adg commented on #784
The issue is still occurring on me with 2.9.70 version.

[2017-04-30 14:34] TPS commented on #1196
I'm suddenly having similar to this for last week or so, too, but I thought perhaps I added a user filter that's overwhelming AG.  Also, after restart, filtering log is wiped (@ least per UI), so I'm not sure what I can send.  Anyway, next time I notice, I'll send what I have.

[2017-04-30 20:09] ameshkov commented on #973
Got a new bug report:
https://forum.xda-developers.com/showpost.php?p=72034241&postcount=2373

[2017-04-30 20:38] ameshkov opened #1202 "Nougat auto-pause issue (overall slowdown after a few days of being up)"
It appears, that having autopause enabled is still necessary (at least for OnePlus devices):
https://www.reddit.com/r/Android/comments/67kb8w/devsale_adguard_no_root_ad_blocker_major_update/dgyhmwx/?context=10000

The similar issue was reported on XDA by milojoseph.

I don't yet understand why does it happen, though.

[2017-04-30 22:21] seba2282 commented on #1194
I don't know. If it is the same, I have monit in Android notifications about differrent certificate without Android system cerificates. And I clear it and after reboot telephone I have the same.

[2017-05-01 13:06] ameshkov commented on #1032
Something seems to be wrong with the current implementation:
https://forum.adguard.com/index.php?threads/rapidvideo-com-android.21262/

[2017-05-01 13:15] ameshkov commented on #1187
Firewall rules are applied independently, so you can't unblock it that way.

I guess instead of using the firewall, you can use a different approach.

Block all CleanMaster requests:
`*$app=com.cleanmaster.mguard`

Unblock those you want to still work:
`@@||example.org^$app=com.cleanmaster.mguard`

[2017-05-01 13:16] ameshkov commented on #827
Oh, actually this issue is already resolved in newer Samsung devices.

[2017-05-01 13:16] #827 closed

[2017-05-01 13:28] ameshkov commented on #1188
Yeah, it can.

Nope, but it will be applied anyway. There will be no DNS request for a host blocked in the hosts file.

There is no way to hide your requests from a DNS server, otherwise, it couldn't respond to them.  You might want to hide your DNS requests from other parties, though, for instance, from your ISP. This can be achieved by using encrypted DNS (DNSCrypt).

Could you please explain mo

[2017-05-01 13:28] ameshkov opened #1203 "Make "Filter DNS requests" work on rooted devices"
We should find a way to apply DNS filtering on the rooted device.

Here is the easiest way: start up a UDP server and set Android to use it as a DNS server.
What's important, we can actually reuse this approach for the VPN-based DNS filtering (redirect DNS requests to this local UDP server).

[2017-05-01 13:36] TPS commented on #1187
I'll hafta try it.

I think [you mentioned before](https://github.com/AdguardTeam/AdguardForAndroid/issues/908#issuecomment-286454622) that `$app=com.cleanmaster.mguard` = `*$app=com.cleanmaster.mguard`, correct?  _(Just cleaner in the list.)_

Will `@@||example.org^` w/o `$app=` work, or would it need `$important`?  _(CM apps overlap in blocked/whitelisted items, & it's just convenient.)_

[2017-05-01 13:39] ameshkov commented on #1187
Yep.

Exception rules generally have higher priority than basic blocking rules.

Something like that:
`exception rule with $important` > `basic rule with $important` > `exception rule` > `basic rule`

[2017-05-01 13:44] TPS commented on #1187
Thanks.  I just wasn't sure of order-of-operation of `@@` vs. `$app`.

I'm assuming, based on [what you mentioned earlier](https://github.com/AdguardTeam/AdguardForAndroid/issues/1187#issuecomment-298331753), that `Firewall data block` > `exception rule with $important`?

[2017-05-01 13:58] ameshkov commented on #1187
Yeah, you can say that.

[2017-05-01 23:48] TPS commented on #1197
#233, originally, but it's back, I guess. 😖

[2017-05-02 06:44] evgeniy-ADG commented on #1070
1062749

[2017-05-02 08:12] evgeniy-ADG opened #1204 "ivideon app - https filtering issue"
https://play.google.com/store/apps/details?id=com.ivideon.client&hl=ru

ID: 1372866

[2017-05-02 12:10] Alex-302 opened #1205 "Show filter names in state.txt instead their IDs"
because some users use too many filters
"enabledFilterIds" : [ 2, 3, 14, 10, 1, 6, 7, 8, 9, 13, 5, 11, 15, 102, 103, 104, 105, 108, 109, 111, 112, 113, 114, 121, 116, 222, 216, 217, 211, 218, 223, 226, 224, 227 ],

[2017-05-02 12:48] ameshkov commented on #1191
Trial period was always 7 days for Android app.

[2017-05-02 13:09] vozersky commented on #1191
@ameshkov the wording is still misleading, it's not about duration

[2017-05-02 13:11] ameshkov commented on #1191
It looks as if Adguard is activated with Amazon subscription. Isn't it?

[2017-05-02 13:14] vozersky commented on #1191
Nope, it's not. Just a free trial.

[2017-05-02 13:42] vozersky commented on #1199
@seba2282

can't reproduce, for example,  http://www.miniminiplus.pl/filmy/z/rybka-minimini is played fine
which video is blocked for you?
what filters do you use?

[2017-05-02 13:49] vozersky commented on #1199
btw, we usually discuss filtering related issues here: https://github.com/AdguardTeam/AdguardFilters/issues

[2017-05-02 13:58] seba2282 commented on #1199
With filtering DNS, without is ok. But I added one user filter for adocean and blocked ads on this site : ||adocean.pl/*ad.xml$replace=/(<VAST[\s\S]*?>)[\s\S]*<\/VAST>/\$1<\/VAST>/,important

[2017-05-02 14:36] Alex-302 opened #1206 "Grab app - can't connect to the server"
Screenshot:
<details>

![image](https://cloud.githubusercontent.com/assets/17320558/25580204/85c1ff88-2e87-11e7-9eda-1f130a63c999.png)

</details>
Tried to disable all filters, HTTPS filtering, switching filtering mode and quality - without result.
Log without HTTPS filtering:

[adguard.log.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/970759/adguard.log.txt)

Original issue:
https:/

[2017-05-02 14:46] vozersky commented on #1168
@KozelElena ask user to communicate on GitHub please

`199 active TCP connections left.` Looks like there is an app that creates a lot of TCP connections on the device. It would be great to know which one is that.

What we have to ask him to do:

- activate a debug logging (record everything level)
- use the device until the problem is reproduced
- send the log to us _manually_ (it's important).

[2017-05-02 14:51] vozersky commented on #1199
"Filter DNS requests" doesn't affect those videos for me, can you send us logs?

@Alex-302 assist please

[2017-05-02 15:17] seba2282 commented on #1199
How can I add this logs, if with filtering dns AQ blocks videos ; without filtering DNS + user filter ||adocean.pl/ad.xml$replace=/(<VAST[\s\S]?>)[\s\S]*</VAST>/$1</VAST>/,important - AQ blocks ads, but videos work fine without ads in players ?

[2017-05-03 13:22] nkartyshov commented on #1193
@Darina655  Can you ask user add the url **pet-net.ru** in https white list, please?

[2017-05-03 13:25] nkartyshov commented on #1201
@seanl-adg The com.ahnlab.v3mobileplus is banking app?

[2017-05-03 13:26] nkartyshov commented on #1206
Added domain **grabtaxi.com** in https white list.

[2017-05-03 13:26] #1206 closed

[2017-05-03 13:26] nkartyshov commented on #1204
Added app in https exclusion

[2017-05-03 13:26] #1204 closed

[2017-05-03 18:18] Snake87r opened #1207 "I can't navigate this site with adguard protection enabled"
Hello, after 5 second you open the page appear an advice,  "it look like your using an adblocker" and i can't read the page..
This is the webpage:
http://www.lesyt.xyz/novels/tsa/tsa-ch-66/

This is the protection they use:
https://blockadblock.com
https://blockadblock.com/blockadblock_basic_script.php

They say they block adguard and other program..

[2017-05-04 00:18] Itsnothectic commented on #1188
Doesnt adguard already use DNSCrypt though?

Magisk is a systemless-root I dont know what that is exaxctly but it allows Googles SafetyNet to pass so you can use AndroidPay and you can still modify the system files and have SU.

Not all root apps are compatible with systemless root.

[2017-05-04 01:45] whatinthenameofgod commented on #1168
So I have 4 logs in my file and all of them are reasonably-sized except the most recent one... that's ~430 mb which was not exactly what I expected. SO I am uploading them to my Dropbox and I'll share a link so you can download them.

The time I hit an error is 2:11 PM today, 5/3/17, although it did happen multiple times besides that. That was just one of the times I noted.

Sorry for the size? I

[2017-05-04 01:59] TPS commented on #1168
@whatinthenameofgod For @AdGuardTeam's sake, maybe you want to 7-Zip or @ least Zip before uploading?!  It should compress extremely well!

[2017-05-04 02:05] TPS commented on #1168
According to https://www.dropbox.com/help/desktop-web/download-entire-folders, they can be _downloaded_ compressed after the fact, so don't worry, I guess.

[2017-05-04 08:09] evgeniy-ADG opened #1208 "speedtest app - Adguard distorts the speedtest results"
Скорость по Wi-Fi до 80 М/бит, с adguard 40-45 М/бит. Других программ фильтрации нет.
Когда отключаю все фильтры - скорость не меняется. Алгоритм фильтрации изначально стоит Быстрый алгоритм.
Попробовал закачку через uTorrent с вкл Adguard - скорость нормальная.

Лог в тикете 1128606, см. письма от 27 и 28 апреля.

  "versionName" : "2.9.70",
  "deviceName" : "THL thl 5000",
  "enabledFilterIds" :

[2017-05-04 09:29] seanl-adg commented on #1201
no, it is a 'security' app.

[2017-05-04 11:08] theseanl opened #1209 "Samsung Pay in South Korea won't work when any VPN is running"
Samsung Pay in South Korea won't work when any VPN is running. We need to find a way to handle this situation specifically for Korean users.

Here's an app that does it:
https://play.google.com/store/apps/details?id=com.haewon.samsungpay_adguard&hl=en

What we need to detect in order to solve this issue:

1. Check if the user is in South Korea (don't use geo location, we can simply check the cellu

[2017-05-04 12:37] vozersky commented on #1209
@seanl-adg
What version of Samsung Pay app is there on s8?

Can't rep with 2.7.15 on s7

[2017-05-04 12:41] seanl-adg commented on #1209
Currently I have no information about the version of Samsung Pay app, but this issue is known to be reproducible only on Galaxy S8.

[2017-05-04 13:25] vbagirov commented on #1110
Other suggestions:
- Only show apps that have network connection
- Only show apps blocked by user

[2017-05-04 13:55] TPS commented on #1110
- Apps that have current `$app=` filters, user &/or filterlist
- *Un*filtered apps

[2017-05-04 13:57] Revertron commented on #1110
And one million more filters for that list, right?

[2017-05-04 14:10] vbagirov commented on #1110
@Revertron Those are just requests, we aren't obliged to add them all, but we can at least discuss if there are some good ones and a way to implement them.

[2017-05-04 14:26] TPS commented on #1110
[My comment from an entirely unrelated issue seems relevant here:](https://github.com/AdguardTeam/AdguardForAndroid/issues/108#issuecomment-149283877)

[2017-05-04 14:36] TPS commented on #1110
@Revertron _There's_ an idea: have some of these groups be dynamically-detected/-generated, i.e., only shown whenever AG can determine whether there _are_ unfiltered, user-blocked, _&c_, apps.  _(Thanks for the idea. 😇)_

[2017-05-04 17:26] seanl-adg commented on #1207
Next time please post such issues in https://github.com/AdguardTeam/AdguardFilters :)

[2017-05-04 17:27] #1207 closed

[2017-05-04 22:29] KozelElena opened #1210 "Add editing option to the Android version"
We've got a request about adding an editing option to the mobile version instead of deleting and adding the mistyped domain, for example.

Ticket ID:1550230

[2017-05-05 02:24] KozelElena commented on #1168
The issue appeared again and we have logs in 1448020
Kindly check

[2017-05-05 10:35] Alex-302 opened #1211 "com.zenstudios.alienpinball - network issue"
Can't start the game.
Current behaviour:

<details>

![image](http://i47.fastpic.ru/big/2017/0505/a1/2c574eca52354fe794e3d84400ee21a1.jpg)
</details>

Expected:
<details>

![image](http://i89.fastpic.ru/big/2017/0505/7d/0d9b652e6b9ef21cfe19e2d08d42f77d.jpg)
</details>

Adding `zenstudios.com` th HTTPS exclusions seems to be helps, but this domain is not HTTPS, alco $document exclusion doesn't help

[2017-05-05 11:33] Alex-302 commented on #1195
the same issue
https://www.gtavicecity.ru/gta-san-andreas/gta-san-andreas-cheats-pc.html

<details>

![image](http://i46.fastpic.ru/big/2017/0505/2d/571e5bd97dcf93ed60bc320251d1192d.jpg)
</details>

[2017-05-05 23:19] TPS commented on #1210
Related to #308 & #828.

[2017-05-05 23:58] TPS commented on #1208
Related to #1192 & #741.

Is HTTPS filtering active? Does turning it off help?  I suppose #501 _might_ need re-examining.

GTranslate of the above, for those of us who can't Russian:

When I turn off all filters - the speed does not change. The algorithm of filtering is initially worth a fast algorithm.
Tried to download via uTorrent from on Adguard - the speed is normal.

Is that mostly right?  T

[2017-05-06 04:25] uBlock-user commented on #1210
Yes, a very needed option apparently.

[2017-05-06 17:22] seba2282 commented on #1199
I have monit :
![screenshot_2017-05-06-18-30-27](https://cloud.githubusercontent.com/assets/16944478/25774513/78278642-3290-11e7-9b60-c6cf352eb4c8.png)

And options filtering dns and https. I know, AQ blocks AdOcean and Gemius. I have question. Can AQ Team add anti adblocker for AQ products (Android, Extensions for Browsers, Windows) ? I want, AQ should definitely block all ads.

[2017-05-07 17:49] ministr91 opened #1212 "Сделать нормальный поиск"
Adguard версия 2.9, настройки приложения и далее поиск. Искать что либо вообще неудобно, скрины ниже я прикрепил. Я ввожу текст и напрочь отсутствует черная линия, непонятно, то ли я ввожу, то ли прога зависла. Последний скрин - это как должно быть
![screenshot_2017-05-07-20-43-48](https://cloud.githubusercontent.com/assets/22351242/25783552/82eb862e-3366-11e7-928f-53c3fe5bde28.png)
![screenshot_2

[2017-05-08 13:23] ameshkov commented on #784
@seanl-adg how come? you should always add these 3 characters?

Can you reproduce it reliably?

[2017-05-08 13:25] ameshkov commented on #1196
Just before AG is crashed, I see this in the log:
[code]

[2017-05-08 13:26] ameshkov commented on #1196
@evgeniy-ADG we need to get the system log (logcat) in order to find out what's wrong with it

[2017-05-08 13:29] ameshkov commented on #1194
@seba2282 that's okay, Android just notifies you that you have a custom certificate installed.

[2017-05-08 13:39] ameshkov commented on #1197
@evgeniy-ADG please ask him to install 2.9 first and then report back if Wi-Fi calling is still an issue

[2017-05-08 13:42] ameshkov commented on #1070
@evgeniy-ADG I need debug log with version 2.9.70.

[2017-05-08 13:43] ameshkov commented on #1070
Oh, and one more thing. Check the obvious first -- does he have "Restrict Background Data" enabled?

[2017-05-08 14:05] ameshkov commented on #1191
That's really bad, we should fix it in the patch for v2.9

[2017-05-09 05:33] whatinthenameofgod commented on #1168
May have a possible culprit. The app Join (https://joaoapps.com/join/) is my go-to for keeping my devices connected to my phone. It's like Pushbullet in nature.

[2017-05-09 08:20] evgeniy-ADG opened #1213 "Viber and WhatsApp file transferring speed slows down"
File transferring via Viber and WhatsApp is slow due to Adguard. It drops from 100 Mbps to 14-17 Mbps according to the customer. The ping increases from 2-3 ms to 98-102 ms. The issue occurs with both HQ and Speedy modes.

You can find a debug log here: 1237702

  "versionName" : "2.9.70
  "deviceName" : "asus ASUS_Z00AD",
  "deviceSpeedRank" : 92,
  "dnsFilteringEnabled" : false,
  "enabledFilter

[2017-05-09 08:22] evgeniy-ADG commented on #1208
@TPS The customer uses the Speedy filtering mode, he doesn't have any other apps for traffic filtering and disabling filters changes nothing. The only thing that helps is quitting Adguard.

There's another complaint that might be related (not sure though): https://github.com/AdguardTeam/AdguardForAndroid/issues/1213

[2017-05-09 10:10] ministr91 commented on #1212
@ameshkov

[2017-05-09 10:18] seba2282 commented on #1199
I added
@@||tvn.adocean.pl
@@||cdntvn.pl
||redcdn.pl
to my filters and temporally I fixed my problem. :) All videos now works without ads. :)

[2017-05-09 10:23] 4222 commented on #1133
Referred to this thread by support as I've submitted a feature request related to this open issue.

Ideally it should just prompt the user to switch to the beta release cycle upon entry of a beta key. There will be cases where one needs to roll back to a stable release (e.g. latest beta release introduces a critical issue), as such the software must not prevent the user from reverting to a stable-

[2017-05-09 10:26] Bluscream commented on #1133
I woukd nit want anyone to use paid software for free if he would not want to help testing.

[2017-05-09 18:45] ameshkov commented on #1188
It is possible to use AG DNS through DNSCrypt, but on Android you cannot simply use DNSCrypt itself.

Furthemore, AG for Android does not use AG DNS at all, we'd like to provide such an opportunity: #1134

[2017-05-09 21:00] ameshkov commented on #1168
@whatinthenameofgod according to the log, CityMapper creates thousands UDP connections and it might be the culprit.

Try disabling AG for CityMapper (in AG settings -> Apps Management -> CityMapper -> uncheck Enabled)

[2017-05-09 21:06] ameshkov commented on #1168
Connection example:
[code]

It's weird that we the source IP is different for two UDP packets received, we might be on something here.

[2017-05-09 22:48] ameshkov commented on #1213
It's possible on a slow device (plus #1192 issue is what's responsible for ping).

Will be better once https://github.com/AdguardTeam/CoreLibs/issues/9 is finished

[2017-05-09 22:48] #1213 closed

[2017-05-09 22:50] ameshkov commented on #1208
@evgeniy-ADG we cannot do anything with that.

The situation will improve once new tcp stack library is ready:
https://github.com/AdguardTeam/CoreLibs/issues/9

[2017-05-09 22:50] #1208 closed

[2017-05-09 22:52] ameshkov commented on #1212
А это какая версия андроида?

[2017-05-09 23:09] ameshkov commented on #1133
I've just examined the backend code and it appears that if an app is activated with a beta-key, it will receive beta versions updates whichever channel you select in the app. However, in the case of the Android version, you can simply ignore newer versions and not install them.

[2017-05-09 23:09] ameshkov commented on #1133
So I guess we can mark this as resolved?

[2017-05-10 00:26] ministr91 commented on #1212
Nexus 5 Android 4.4.4

[2017-05-10 00:27] ministr91 commented on #1212
Я бы обновил свой Android до 6 версии, но интерфейс что 5, что 6 просто ужасен, поэтому остаюсь на 4.4.4

[2017-05-10 04:03] Bluscream commented on #1133
Hmm, what about the progams to help you finding bugs and improving the whole service?

[2017-05-10 04:06] Bluscream commented on #1133
![](https://puu.sh/vLh8y/494d8b5fd7.png)

[2017-05-10 08:17] ameshkov commented on #1212
В четвертом дроиде уже мало что сделать, интерфейсные библиотеки на них не особо расчитаны. И так там костылей стоит под четверку достаточно:)

[2017-05-10 08:17] #1212 closed

[2017-05-10 08:19] ameshkov commented on #1133
@Bluscream

You mean "help us" opt-in? It is completely voluntary and, frankly, we have enough volunteers already:)

[2017-05-10 08:22] Bluscream commented on #1133
Why do you even give out beta licenses anymore then?

[2017-05-10 08:24] ameshkov commented on #1133
Why not? Beta testers help worth it:)

[2017-05-10 08:30] Bluscream commented on #1133
If they are not using any of the "help adguard" features, where are they useful for you?

[2017-05-10 08:32] ameshkov commented on #1133
To test beta versions and reports bugs apparently:)

[2017-05-10 08:36] Bluscream commented on #1133
If that's enough for you, sure :)

[2017-05-10 08:53] 4222 commented on #1133
@ameshkov

Given this, happy to close the issue

[2017-05-10 08:56] #1133 closed

[2017-05-10 10:46] seanl-adg commented on #1026
The same user have sent another set of logs.

Configurations were the same, the tested app is `com.dcinside.app` and the mobile carrier's name is SK Telecom.

----
**Local HTTP proxy mode** - ads were not blocked, there is no sign of blocking in the filtering log too.
[1.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/989491/1.txt)

**Local HTTP proxy mode & pref.proxy.block.ipv6 enabl

[2017-05-10 11:53] Revertron commented on #1212
Самое интересное то, что мы специально задаем цвет курсора в том поле. Почему-то он не применяется системой.

[2017-05-10 15:18] vozersky commented on #1142
I've actually spent pretty much time Samsung Galaxy s7 hoping to reproduce it, but no luck.

[2017-05-10 15:21] ameshkov commented on #1142
@vozersky need you to come up with the mixed DNS/default approach instruction.

I suppose it should be a neat workaround for people suffering from this issue.

[2017-05-10 15:42] Yana-SUP commented on #1070
@ameshkov asked the user, waiting for the reply

[2017-05-10 15:52] ministr91 commented on #1212
@Reverton, вот именно, почему так? Можешь исправить? Или скажи что мне сделать надо, чтобы исправить, я могу потестить

[2017-05-10 21:26] whatinthenameofgod commented on #1168
Thank you for filtering through all those logs! This seems weird. I sent CityMapper support a message as well as disabled it from being routed through AdGuard. We'll see what happens and I'll keep you posted. Thank you!!!

[2017-05-11 14:46] ameshkov opened #1214 "Add firewall events to the filtering log"
When connection is blocked by the firewall rules, we'd better add a record to the filtering log.

[2017-05-11 15:22] zebrum opened #1215 "Need to limit number of udp connections which are opened at the same time"
ticket id 1554251
2.9.70

<details>

[debug (1).txt.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/993463/debug.1.txt.zip)

</details>

[code]

[2017-05-11 15:23] whatinthenameofgod commented on #1168
Bad news... Even with CityMapper traffic not being routed through AG, I ran into the issue again. I was attempting to load a YouTube video and it just hung for over a minute. I reset AG service by turning on and off and like magic, it worked. I suspect the app Join that I mentioned earlier, so going to try to disable that like CityMapper and see what happens...

[2017-05-11 15:25] ameshkov commented on #1168
@whatinthenameofgod bad:( it'd be better if I could take a look in the log file again, there should be something else I guess

[2017-05-11 15:50] vozersky commented on #1215
might be related to #1168

[2017-05-11 16:02] whatinthenameofgod commented on #1168
I didn't have the track everything on, but here are all the logs. Email me if you need anything else.

[logs.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/993636/logs.zip)

[2017-05-12 00:53] whatinthenameofgod commented on #1168
Caught it in action with "everything" being logged. YouTube wouldn't work at loading anything. It happened between 545 and 548. You'll see when I turned protection on and off and then YouTube began working instantly.

[2017-05-12 00:53] whatinthenameofgod commented on #1168
[logs-1.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/994762/logs-1.zip)

[2017-05-12 21:05] ameshkov opened #1216 "When critical error happens it might not be logged in time"
We should make a slight delay before closing the app to ensure that it is in the log.

[2017-05-13 21:16] KozelElena opened #1217 "Create a filter for redirects from mobile providers"
Create a separate filter in with sites with mobile operator subscriptions.
Ad websites make a redirect to such paid mobile subscriptions.

Ticket ID: 1557763

[2017-05-13 21:25] Bluscream commented on #1217
A new face in the team? Welcome ;)

[2017-05-13 23:00] ameshkov opened #1218 "Kinopoisk app and blocking appsflyer issue"
Blocking appsflyer leads to kinopoisk app slow down. I guess we should take a closer look at the appsflyer sdk, how do they handle it?

[2017-05-14 03:57] TPS commented on #34
Another project that'd benefit from this is @jspenguin2017's [AdBlockProtector](https://github.com/jspenguin2017/AdBlockProtector), based on @reek's work, & consists of a blockscript & a filterset (which I request @AdguardTeam consider for inclusion).

[2017-05-14 04:05] jspenguin2017 commented on #34
@TPS Hi, thanks for the hard work of everyone here 😄
But unfortunately, we are currently dropping support of all proprietary software, step by step, except Windows. My project may not stay as Userscript forever, or it may become an Userscript with custom extended API.

[2017-05-14 04:19] TPS commented on #34
@jspenguin2017 Will *filterlist* remain publicly accessible, @ least?

[2017-05-14 04:20] jspenguin2017 commented on #34
@TPS Everything will stay open source and publicly accessible, there is no worries about that 😄

[2017-05-14 09:48] Steve2Go commented on #813
Would releasing a version "Adguard for business" (in reality a bulk licencing of the same product or something of the sort not make you a B2B company?

All it would cost you is a web page on your site.
Just thinking outside the square.

[2017-05-14 16:56] ministr91 commented on #1212
@ameshkov и @Revertron есть идеи?

[2017-05-15 04:34] TPS commented on #34
*Un*related to AdBlockProtector, https://greasyfork.org/en/scripts/19993-ru-adlist-js-fixes/code (from https://github.com/gorhill/uBlock/issues/2609#issuecomment-301318201) seems like a fascinating thing to try, as well.

[2017-05-15 09:13] vozersky commented on #1217
We used to discuss it some time ago. Not sure if this could be done with filtering rules though.
I think, this kind of websites should go directly to Safebrowsing database.

[2017-05-15 11:52] Alex-302 opened #1219 "Don't ask for root access when crashed"
How to reproduce:
- try to import large file(few GB). VPN mode.
[adguard (5).log.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1000955/adguard.5.log.txt)

[2017-05-15 11:52] Alex-302 opened #1220 "Limit the size of the imported filter"
https://github.com/AdguardTeam/AdguardForAndroid/issues/1219

[2017-05-15 12:02] zebrum commented on #173
just in case id 1506880

[2017-05-15 12:26] Alex-302 opened #1221 "Rules constructor ignores referer"
For example, go to echo.msk.ru and try to unblock st.top100.ru
Current behaviour:
<details>

![image](http://imagizer.imageshack.com/img922/2199/aoBzPl.jpg)
</details>
Expected:

[code]
Filtering log record:
`TCP id=1000522 GET ads=1 "http://st.top100.ru/top100/top100.js" 500 24 2ms "http://echo.msk.ru/" `

[2017-05-15 14:02] ameshkov opened #1222 "Cannot apply specific rules to the AMP websites"
The page URL looks like this:
[code]

Even though the site is mobile.reuters.com, AG sees it as google.com. I guess we should introduce special rules for the AMP websites.

[2017-05-15 15:19] seanl-adg commented on #1222
The main content is contained in an iframe of domain `mobile-reuters-com.cdn.ampproject.org`, so `domain` modifiers and such can still be used. We just need new rules for the website.

[2017-05-15 15:19] #1222 closed

[2017-05-15 17:35] Elenve opened #1223 "Feature for "Send a feedback""
We've got a request to add an option for sending a copy for senders.
It is a convenient way to check whether you used the correct email address.

Ticket ID: 1557976

[2017-05-16 04:35] TPS commented on #1217
@vozersky #80?

[2017-05-16 04:47] TPS commented on #1187
Just FYI. this worked amazingly well.  If you want me to list what I did, let me know. 😁

[2017-05-16 04:47] #1187 closed

[2017-05-16 14:47] vbagirov opened #1224 "Firewall UI inconsistency"
When Firewall is disabled, its settings are grayed out. However, if you go to the main screen and then back to Firewall settings, they are active again.

Also, per-app settings in App Management are still active when the Firewall is disabled - a bug or 'by design'?

[2017-05-16 15:46] seanl-adg commented on #1209
A user made an app that disables vpn on Samsung Pay launch.
http://llamalab.com/automate/community/flows/12287

[2017-05-16 15:53] vozersky commented on #1224
reproduced

[2017-05-17 08:20] seba2282 commented on #1199
Without exclussions on user's filters.
Turn on :
![screenshot_2017-05-17-10-10-40](https://cloud.githubusercontent.com/assets/16944478/26144571/a30da236-3ae9-11e7-9e43-9f79496a6a2b.png)
and :
![screenshot_2017-05-17-10-10-53](https://cloud.githubusercontent.com/assets/16944478/26144589/b5aba5d2-3ae9-11e7-8208-1a9db0052499.png)

miniminiplus.pl/filmy and turn on some video. And you should see it :

[2017-05-17 10:31] vozersky commented on #1199
Please add filters from certificate it for Adquard Android (example KAD)

@Alex-302 could you please assist with filtering rules here? can we add those exclusions?

@seba2282 thanks for letting us know! and about anti adblock scripts: please use our [Annoyances](https://blog.adguard.com/en/annoyances-filter/) filter

[2017-05-17 10:54] seba2282 commented on #1199
@vozersky Without DNS filtering we don't need any rule. I think, AQ Team should block all domain with ads (adocean, redcdn, etc) and they should integrated hiding and scripting anti adblock protection for AQ in filter for all versions AQ (extension, android, windows, etc). They should remove aak (reek), because it isn't continuing. It is my sugest. I try generally block adocean, gemius, and more,

[2017-05-17 11:56] TPS commented on #1224
It _might_ be useful to have firewall settings accessible, even when disabled (to change, &c), but it'd ve nice to have a banner on each screen, _saying_ "Firewall is disabled. Enable?"

[2017-05-17 14:36] vozersky commented on #1197
@evgeniy-ADG any updates?

[2017-05-17 14:39] Alex-302 opened #1225 "Add Juvander's Adblock List"
https://adb.juvander.net/Finland_adb.txt

[2017-05-17 16:02] evgeniy-ADG opened #1226 "CM Security caused an Aadguard restart"
com.cleanmaster.security;version=4.0.0
Adguard 2.9.70

Please check logs: 1122984

[2017-05-17 17:08] vozersky commented on #1226
@nkartyshov could you please assist with this?

[2017-05-17 17:08] ameshkov commented on #1226
@vozersky can you reproduce it?

[2017-05-17 17:19] vozersky commented on #1226
@ameshkov I wasn't.

`00:46:35.602 [main] INFO  c.a.a.f.vpn.FilteringVpnService - On trim memory to 10
00:46:35.603 [main] INFO  com.adguard.android.ServiceManager - Trim memory 10 called`

This is the reason Adguard was restarted, I think

@evgeniy-ADG what exactly were the customer doing with `com.cleanmaster.security` when he experienced it?

[2017-05-18 01:56] TPS commented on #1226
I'm the customer, @AdGuardTeam, so AMA! 😁

I'd just updated to latest version of CMAV (now called "CM Security Master" 😶), & was in process of opening it when this happened.

[2017-05-18 06:48] Alex-302 commented on #1199
It is not a good idea to remove adocean.pl from DNS filter.
Added to Mobile filter
[code]
check these rules

[2017-05-18 08:04] seba2282 commented on #1199
![screenshot_2017-05-18-10-02-49](https://cloud.githubusercontent.com/assets/16944478/26192263/483518d0-3bb1-11e7-98e9-fcd805ab1339.png)

![screenshot_2017-05-18-10-02-28](https://cloud.githubusercontent.com/assets/16944478/26192280/52c0832a-3bb1-11e7-932a-d7b426c2f422.png)

[2017-05-18 08:06] Alex-302 commented on #1199
try without $domain:
`@@||tvn.adocean.pl`

[2017-05-18 08:55] seba2282 commented on #1199
??
![screenshot_2017-05-18-10-52-33](https://cloud.githubusercontent.com/assets/16944478/26194355/6b710df2-3bb8-11e7-815a-8fb52c789c7e.png)
![screenshot_2017-05-18-10-53-27](https://cloud.githubusercontent.com/assets/16944478/26194366/76354780-3bb8-11e7-8671-5f9190ac5daf.png)

or wait few minutes

[2017-05-18 08:58] seba2282 commented on #1199
![screenshot_2017-05-18-10-57-04](https://cloud.githubusercontent.com/assets/16944478/26194506/e72e2b64-3bb8-11e7-992d-f0b872f6394c.png)
![screenshot_2017-05-18-10-57-37](https://cloud.githubusercontent.com/assets/16944478/26194519/ee6bc15c-3bb8-11e7-83fc-c702e2e45185.png)

[2017-05-18 12:44] ameshkov opened #1227 "Android O compatibility issues"
Here is the main issue:

So, in VPN mode Android O won't support the "no icon" mode.

Next, if we want to have target SDK level equal to 25, we should consider broadcast receivers restriction. For instance, this one (about CONNECTIVITY_ACTION):

[2017-05-18 13:57] seba2282 commented on #1199
@Alex-302 , did you added any rules for miniminiplus.pl ? I delete all rules and testing without user's filters and videos are blocking. I wrote, if I enable dns filtering, rules type @@||tvn.adocean.pl and @@||cdntvn.pl work for me. But I don't know when will plan show me ad as short popup. I think, if domain connected with redcdn.pl, popup will show. With analyze code site, player with video is

[2017-05-18 14:44] Alex-302 commented on #1199
tvn.adocean.pl is used for a lot of sites without issues. With DNS filtering it is impossible to make domain specific exclusion, so I can't add that exclusion.
But you can disable DNS filtering.

[2017-05-18 15:06] seba2282 commented on #1199
Hmmm... User's filters work. I added two rules (tvn.adocean.pl and cdntvn.pl) and minimini+ working with dns. Did you never analyze site with activing dns filtering in AQ Android ?

[2017-05-18 15:09] TPS commented on #1226
It just happened again. Y'all should be receiving report momentarily.

[2017-05-18 15:41] seba2282 commented on #1199
Without dns filtering I have it always :
![screenshot_2017-05-18-17-38-08](https://cloud.githubusercontent.com/assets/16944478/26210755/f3b47284-3bf0-11e7-9b94-e58cb0192699.png)
and
![screenshot_2017-05-18-10-57-37](https://cloud.githubusercontent.com/assets/16944478/26210783/071e21a8-3bf1-11e7-8f3e-d986c8a9f61a.png)
I am waiting on anti adblocker protector by AQ.

[2017-05-19 06:25] mozkan007 opened #1228 "Adguard does not block app ads on mobile data mode again"
Hi @ameshkov I am sorry to reopened this issue [issue992](https://github.com/AdguardTeam/AdguardForAndroid/issues/992) you have solved it but it happens again.I am using Adguard v2.9.70 and it blocks app ads and website ads on chrome successfully on wifi mode.However when I use Adguard on mobile data mode, it blocks website ads on chrome in the same way but it does not block any app ads.I enabled

[2017-05-19 11:08] OlegSUP commented on #1226
New logs attached in ticket 1122984.

[2017-05-19 14:24] zebrum opened #1229 "Https filtering breaks yandex apps"
so far we know about: yandex.Maps and yandex.Transport

ticket id 1544081, 1561239, 1561605, 1029341

Adg 2.9.70

disable https filtering helps.

[2017-05-19 14:25] ameshkov commented on #1229
Major

[2017-05-20 01:14] KozelElena opened #1230 "Show filters which blocked an element in the Filtering log"
**Original request**
We've got a request to show filter name with the rule that blocked an ad or element
Ticket ID: 1203834

**What should be done**

First of all, you should change FilterService.getAllEnabledRules so that it returned Map<Integer, List<String>> instead of a plain list. Pass the list down to the nativeUrlFilter which provides `addRule(ruleText, filterId)` method. For the DNS filter

[2017-05-20 01:35] Elenve opened #1231 "Create a small dragging widget"
Screenshot:

<details>

![image](https://cloud.githubusercontent.com/assets/17320558/26271942/ba76e422-3d15-11e7-9171-d12bf1c45180.png)

</details>

Ticket ID: 1558554

[2017-05-20 05:07] TPS commented on #1231
I personally find these _less_ clear than the existing style, so I vote for this to be an _additional_, than _replacement_, widget.

[2017-05-20 05:23] TPS commented on #1210
@ameshkov Really, _anyplace_ we can add (freeform) to a list, present & future.

[2017-05-20 09:02] Michael23456 opened #1232 "no adguard icon on VPN notification"
no adguard icon on VPN notification (android 5.1)

![image](https://cloud.githubusercontent.com/assets/25711093/26274503/ef088bee-3d53-11e7-81d1-8e495c824d34.png)
[debug (90).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1016035/debug.90.txt)
[state.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1016036/state.txt)
CustomerID:1325165

[2017-05-20 16:42] TPS commented on #1226
… &, again, just now.  This time, I was CM Private Browsing (#18) BestBuy.com

[2017-05-20 17:03] TPS commented on #1226
I just realized that my connection seems faster since AG auto-reconnect.  Is it possible this is connected to #1202?

[2017-05-20 17:04] vtargonskyi opened #1233 "Feature request: split internet consumption statistics for wifi and Mobile internet"
Do you have any plans for implementing this feature?

From user: "Привет! В Андроид 7 в Контроле трафика
прекратили отражать информацию о
ежедневном расходе трафика в целом по
всем приложениям и по каждой
программе отдельно. В качестве
улучшения предлагаю дополнить вашу
программу статистикой расхода
трафика как за 1 день, так и выбранный
период раздельно по мобильной сети и
WiFi, как например это

[2017-05-21 02:50] TPS commented on #266
#202?

[2017-05-21 02:51] TPS commented on #1233
#202?

[2017-05-22 09:27] vozersky commented on #1233
yep, duplicates #202

[2017-05-22 09:27] #1233 closed

[2017-05-22 09:48] vozersky commented on #1228
@mozkan007 I've reopened #992 , please discuss the issue there

[2017-05-22 09:48] #1228 closed

[2017-05-22 09:51] mozkan007 commented on #992
Hi @ameshkov I am sorry to reopened this issue.You have solved it but it happens again.I am using Adguard v2.9.70 and it blocks app ads and website ads on chrome successfully on wifi mode.However when I use Adguard on mobile data mode, it blocks website ads on chrome in the same way but it does not block any app ads.I enabled Adguard DNS on pref. setting and also I use filtering log to block domai

[2017-05-22 10:03] Revertron commented on #992
May be your mobile operator is routing all DNS requests to his own DNS servers?

[2017-05-22 10:48] vozersky commented on #1232
Can't reproduce on Meizu M3s Flyme 5.1.12.1G, Android 5.1
@Michael23456
STR?
Does customer have some kind of custom theme\launcher etc.?

[2017-05-22 13:06] KozelElena commented on #994
При использовании  http proxy фильтрации и адреса серверов часто меняются. Это поможет? И можно ли прописать диапазон типа 192.168.xxx.xxx в
исключения? И еще используется https фильтрация, это не может влиять?

[2017-05-22 17:50] vozersky commented on #1229
any updates?

[2017-05-22 22:32] ameshkov commented on #1026
The log is so freaking weird, as if the whole 121.* subnet was not filtered.

[2017-05-22 22:54] ameshkov commented on #1026
Okay, I've got an idea.

Here are some key points:

1. By default, we add the following IPv6 route: `2000::/3` which covers all the public IPv6 addresses.
2. I see 6-4 and 4-6 tunnel network interfaces in the log (`ip6tnl0` and `sit0`).
3. I see that `m.dcinside.com` is resolved to `121.125.60.186`
4. I don't see any connections to `121.*` subnet in the log as if nothing was routed through the VPN

[2017-05-23 08:34] ameshkov commented on #1070
Closed as "cannot repro"

[2017-05-23 08:34] #1070 closed

[2017-05-23 09:09] ameshkov commented on #1168
@whatinthenameofgod sorry for the late reply:( Now I am back, will look into it.

[2017-05-23 09:14] ameshkov commented on #1168
The TCP state is not okay that's for sure, but I don't yet understand what's causing it.

You know what, we will soon migrate Adguard to the new network stack implementation: https://github.com/AdguardTeam/CoreLibs/issues/9

It is MUCH faster and better than the current one. Let's wait a bit and re-test it then on a newer version.

Assigned this issue to v2.10 so that I didn't forget about it.

[2017-05-23 09:46] evgeniy-ADG commented on #1209
com.samsung.android.samsungpay.gear;version=1.3.1703

ID: 1561649

[2017-05-23 10:27] ameshkov commented on #813
@Steve2Go as I understand from their answer, they accept requests from "a B2B-focused corporation". I don't think we can fool them to think that we're all about B2B with a single page :(

[2017-05-23 10:31] ameshkov commented on #1212
Если бы было легко исправить, мы бы давно сделали. Но раз стандартные подходы не работают, мы забили, нет возможности тратить несколько дней на мелкий фикс для 4.X когда у нас и так завал с более серьезными задачами.

[2017-05-23 11:18] vozersky commented on #1209
@evgeniy-ADG this is a different issue

[2017-05-23 11:19] evgeniy-ADG opened #1234 "Samsung Pay Gear - unable to add a card"
com.samsung.android.samsungpay.gear;version=1.3.1703

TRNSLT: Cannot bind a credit card to Samsung Pay on Gear S3 Frontier watch, the "Error, please try again later" message appears. Disabling Adguard fixes it.

ID: 1561649

[2017-05-23 11:29] vbagirov opened #1235 "Allow multiple filters to be enabled as language-specific at once"
Related task: https://github.com/AdguardTeam/AdguardFilters/issues/5066

[2017-05-23 11:58] ameshkov commented on #1209
@seanl-adg config for Automate, right?

I guess it can be also automated with Tasker: https://kb.adguard.com/en/android/solving-problems/tasker

Also, it makes sense to detect Samsung Pay startup and pause AG for a moment.

[2017-05-23 12:11] ameshkov commented on #1229
Assigned to v2.9 R2

[2017-05-23 12:18] ameshkov commented on #994
А какие проблемы с http proxy фильтрацией? Она не должна мешать использвовать FTP.

Да, вот так:
`192.168.0.0/16`

[2017-05-23 12:20] ameshkov commented on #992
@mozkan007 I'll need to take a look at the log

[2017-05-23 13:07] mozkan007 commented on #992
@ameshkov    here it is the log file

[adguard.log.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1022199/adguard.log.txt)

[2017-05-23 13:18] ameshkov commented on #992
@mozkan007 everything seems to be okay in the log.

How do the ads look like?

[2017-05-23 13:44] mozkan007 commented on #992
@ameshkov  The ads look just like that below

![quickmemo _2017-05-23-16-24-57](https://cloud.githubusercontent.com/assets/16270347/26357159/1dbe43fe-3fd7-11e7-8e93-a38f13dfe883.png)
![quickmemo _2017-05-23-16-26-26](https://cloud.githubusercontent.com/assets/16270347/26357160/1dbf0a82-3fd7-11e7-9c85-b6be8a7a4c4a.png)

[2017-05-23 13:53] mozkan007 commented on #992
@ameshkov  This is really interesting problem but actually I do not want to bother you anymore for this silly problem because you did everything that you could do.Thank you for everything.From now on if I come across any other real problem, I will report to you.Have a nice works.

[2017-05-23 14:04] ameshkov commented on #992
@mozkan007 huh, it might be important, though.

I see that you have AG disabled for `com.google.android.gms` again, could it be the culprit?

[2017-05-23 14:09] mozkan007 commented on #992
I have not changed  anything. I just installed the latest adguard.apk file.I already do not know how to disable com.google.android.gms.

[2017-05-23 15:07] mozkan007 commented on #992
@ameshkov  I guess my problem is solved completely.Google play services which installed on my phone had not been up-to-date.My phone gave me a warning and updated it to the its latest version a few minutes ago.Then I reboot my phone and everything is working fine especially my bleeding problem disappeared.Also my phone is working so much fast.I think this was the culprit.But I am very happy so muc

[2017-05-23 15:12] #992 closed

[2017-05-23 17:57] Alex-302 opened #1236 "Seven Knight game gets a connection error with Adguard enabled"
Screenshot:

<details>

![image](https://cloud.githubusercontent.com/assets/17320558/26004083/43903ed6-373d-11e7-9c6f-44ab0a7c9295.png)
</details>
How to reproduce:
install, sign in, wait for update, then launch the game.
Original issue:
https://github.com/AdguardTeam/AdguardFilters/issues/4997

Tried to exclude from HTTPS filtering, but it did not help:
[code]
Filters are disabled.

[2017-05-23 21:27] vozersky commented on #1234
Waiting for more details

[2017-05-23 22:34] shaman4ik commented on #994
У меня почему-то мешает. Без https фильтрации все равно мешает.

[2017-05-23 22:59] ameshkov commented on #1178
Review ID: AFA-CR-5

[2017-05-23 22:59] #1178 closed

[2017-05-24 12:02] ameshkov commented on #1192
Review ID: AFA-CR-6

[2017-05-24 12:02] #1192 closed

[2017-05-24 12:10] nkartyshov commented on #1180
Fixed.

[2017-05-24 12:10] nkartyshov commented on #1186
Fixed.

[2017-05-24 12:10] #1186 closed

[2017-05-24 12:17] nkartyshov commented on #1159
Исправил для Английской и Русской локализации.

[2017-05-24 12:17] #1159 closed

[2017-05-24 12:34] nkartyshov commented on #1229
Added apps in https exclusions. Review AFA-CR-7.

[2017-05-24 13:38] nkartyshov commented on #1211
Added domain zenstudios.com in https whitelist.

[2017-05-24 13:38] #1211 closed

[2017-05-24 14:09] nkartyshov commented on #1225
added, review AFA-CR-8

[2017-05-24 16:07] ameshkov commented on #1181
Done: AFA-CR-9

[2017-05-24 16:07] #1181 closed

[2017-05-24 18:20] ameshkov commented on #1179
Same issue with Kinopoisk app:
https://github.com/AdguardTeam/AdguardForAndroid/issues/1218

[2017-05-24 18:20] ameshkov commented on #1218
Dup of https://github.com/AdguardTeam/AdguardForAndroid/issues/1179

[2017-05-24 18:20] #1218 closed

[2017-05-24 18:54] ameshkov commented on #1179
Here is what I did:

1. If HTTPS connection is blocked at the handshake stage, we add the pair of app name and remote endpoint address to the cache of blocked endpoints.
2. Next time when this app tries to contact that endpoint, we won't spend time on parsing ClientHello and block it right away.
3. This "blocking" looks different from the side of the app -- instead of SSL error, it now receives a

[2017-05-24 20:11] Yana-SUP opened #1237 "Use swipe gestures to update filters"
Ticket ID: 1079388

[2017-05-24 21:59] ameshkov opened #1238 "Implement session resumption using session IDs"
We currently do not use it at all which is not very good from the performance point of view. I first wanted to wait for the new network library to be ready (https://github.com/AdguardTeam/CoreLibs), but apparently, there are some things that can be easily done right away.

Tests show that it significantly improves HTTPS filtering performance.

[2017-05-24 22:23] ameshkov commented on #1238
Done, review ID: AFA-CR-11

[2017-05-25 02:45] TPS commented on #1179
Oddly, for me, DNS blocking seems sufficient, as I rarely see the requests mentioned in the Filtering Log.  However, if I'd like to test this via LastPass, how would I proceed?

[2017-05-25 08:33] whatinthenameofgod commented on #1168
Sounds good! Ping me via email and let me know when you want me to test!

[2017-05-25 08:36] nkartyshov commented on #1189
Added, review AFA-CR-12

[2017-05-25 09:45] ameshkov commented on #1179
DNS blocking solves the issue completely, indeed. That solution we need for the case when DNS blocking is not used.

[2017-05-25 09:45] ameshkov commented on #1179
Reopened issue because of a bug -- requests blocked by "cache" aren't recorded to the app stats.

[2017-05-25 10:44] ameshkov commented on #1179
Done

[2017-05-25 10:44] #1179 closed

[2017-05-25 12:28] Bluscream opened #1239 "Firewall profiles"
I'd love to see a feature that lets you set profiles for the firewall, so if you connect to you home wlan it enables wifi for all apps and if you use some hotspot it only allows specific apps to use wifi

[2017-05-25 14:08] ameshkov commented on #1226
I guess we'll need to get logcat log

[2017-05-25 14:58] vozersky commented on #1239
It will also be nice to have profiles for sets of filters

[2017-05-25 15:29] vozersky commented on #1236
@zebrum please check if disabling adblocking\https filtering helps

[2017-05-25 23:24] ameshkov commented on #1202
Done, review ID: AFA-CR-14

On Nougat we now reconfigure VPN on any network change including simple wifi<->mobile switching (before we'd only do it if IPv6 connectivity is different).

[2017-05-25 23:24] #1202 closed

[2017-05-26 09:56] ameshkov commented on #1216
Done, f7f9707fffda854303878cf7dcf4b9d59e30723b

[2017-05-26 10:04] zebrum commented on #1236
@vozersky disabling https filtering doesn't help. Game works only if protection disabled.

[2017-05-26 10:15] ameshkov commented on #1215
I can't say that in this particular case the problem is with the connections count.

The problem here is that gateway IP address is added to VPN routes.

DNS request goes to the gateway IP -> intercepted by AG -> sent to the same IP by AG -> intercepted again.

The whole situation is quite weird as the socket is explicitly protected from VPN...

[2017-05-26 11:50] BooBerry commented on #621
Just an update, the OGYouTube app has ceased development, so it's not a dependable workaround anymore.

I've experimented with this a little but, but even with root access (and the cert moved to system on Android 7.0), ads in the YouTube app do keep happening. I rarely reboot my phone, so pref.root.clear.youtube isn't much help. What would help is if the pref had a timer to automatically close and

[2017-05-26 13:20] ameshkov commented on #1215
@zebrum please ask the user to enable DNS filtering in AG settings. Does it help?

[2017-05-26 14:02] nkartyshov commented on #1221
Done, review AFA-CR-15

[2017-05-26 14:05] ameshkov commented on #1229
This is good old "we cannot detect underlying protocol properly" issue.

[2017-05-26 14:49] nkartyshov commented on #1191
@ameshkov @vozersky
Fixed to 'Your license is valid until {day_month_year}. Thank you for being our customer!'

[2017-05-26 15:20] ameshkov commented on #1191
@nkartyshov the problem is not in the phrase

[2017-05-26 15:30] ameshkov commented on #1229
Resovled by https://github.com/AdguardTeam/HttpsExclusions/commit/8ab3f66b8337648736390ee7734acacf4c6dfdd2

[2017-05-26 15:30] #1229 closed

[2017-05-26 16:11] ameshkov commented on #760
Just installed Android O Beta.

So, it appears that from now on you can now manually set it up:
![screenshot_20170526-190857](https://cloud.githubusercontent.com/assets/5947035/26502830/07c1a54c-4247-11e7-9a1e-89e17aacf623.png)

[2017-05-26 16:39] ameshkov opened #1240 "Support "VPN Always-on" feature in Android O"
Starting from Android O users can enable "Always-ON" feature for any given VPN connection including Adguard.

<details>

![](https://cloud.githubusercontent.com/assets/5947035/26502830/07c1a54c-4247-11e7-9a1e-89e17aacf623.png)
</details>

Upon changing VPN properties Adguard's VPN service receives some commands from Android which at the moment it cannot parse.

[2017-05-26 16:39] ameshkov commented on #760
It is not exactly the same feature as requested, so I created a new issue:
https://github.com/AdguardTeam/AdguardForAndroid/issues/1240

[2017-05-26 17:42] ameshkov commented on #1240
Reassigned to v2.10 as implementing what I want requires some translators work.

The only problem I have is that when I switch that option on or off, AG goes to pause with a message like "Paused due to third-party VPN".

**What should we do:**
1. Change the message text, it should be just "due to a third-party VPN" (not sure what should we do).
2. Add a "Start" button to that notification.

[2017-05-26 17:43] ameshkov commented on #1227
Startup delay should be set to zero for Android O.

[2017-05-26 18:47] ameshkov opened #1241 "Change Adguard notification text so that it looked better on Andoird 6.0+"
The problem is more or less described on the screenshot:

<details>

![photo - google photos 2017-05-26 21-46-14](https://cloud.githubusercontent.com/assets/5947035/26508297/e3328e88-425c-11e7-9613-aa2ee97baa0a.png)
</details>

**Please note, that you should not reuse old strings for new notifications. Let people translate it properly**.

Depending on the current protection status, we should show

[2017-05-26 18:56] ameshkov commented on #1238
The current implementation is rather problematic because I am trying to re-verify certificate chain.

[2017-05-26 19:49] ameshkov commented on #1238
Fixed, review ID: AFA-CR-16

[2017-05-26 19:49] #1238 closed

[2017-05-26 21:40] ameshkov commented on #1227
If app targets Android O:

[2017-05-26 21:42] ameshkov opened #1242 "Use NetworkRequest for retrieving DNS servers"
https://developer.android.com/preview/behavior-changes.html

[2017-05-26 21:48] ameshkov commented on #1240
This clause is actually about the "always-on" feature only:

So, I guess if "always-on" VPN feature is enabled, we should react on the empty intent Android sends us and start it immediately. We need to test it though.

[2017-05-26 21:52] ameshkov commented on #1227
So, after all, what's done:

* Receiver that handles connectivity change removed from the app manifest and registered with `Context.registerReceiver`
* Startup delay is now 0 for Android O (which resolves the startup on boot issue)

Other compatibility changes will be handled in v2.10.

Review ID: AFA-CR-17

[2017-05-27 06:06] TPS commented on #760
Amazon ß still stuck @ v2.9.70.  Did _AG_ RE: always-on VPN change from then 'til v2.9.98 (above), or is that purely #1240 (_Android O_ feature)?  I'm likely to be on N for foreseeable future, so I'm still hoping for a solution I can use.… :bow:

[2017-05-27 12:02] ameshkov opened #1243 "AG cannot parse a $replace rule"
Here is an error I see in the log:
[code]

[2017-05-27 13:11] Alex-302 commented on #1243
the rule contains a mistake - `$,important`
but
`||e.mail.ru/api/v1$important,replace=/{\"status\"\:200\,\"body\"\:{.*}/{\"status\"\:200\,\"body\"\:{}}/`
causes an error too.
[code]

[2017-05-27 14:06] Alex-302 commented on #1243
the correct rule:
[code]

[2017-05-27 14:07] ameshkov commented on #1243
yeah, that's one is okay

[2017-05-27 14:07] #1243 closed

[2017-05-27 14:12] ameshkov commented on #1240
One more thing -- if an app filtering is disabled in AG, this app won't have network access when you have the "always-on" enabled.

[2017-05-27 14:26] TPS commented on #1242
I'm assuming this pertains only to those of us who _don't_ set custom DNS?

[2017-05-27 14:27] ameshkov commented on #1242
Yeah, just for the case when dns filtering is enabled and system default dns are in use

[2017-05-27 14:29] TPS commented on #1226
Next time I have it happen, I'll try that.  (I haven't attempted logcat on this phone yet.)

[2017-05-27 14:38] TPS commented on #1240
Alway-on has same behavior in Android < O? Anyway *that*'s a bit of a deal-breaker:  Those apps (often system) are usually 1s that only _function_ when AG filtering is _disabled_, right?
  Hopefully, https://github.com/AdguardTeam/CoreLibs/issues/9 will solve _that_, too.

[2017-05-27 15:01] ameshkov commented on #1240
We disable it by default for the apps that are broken by mere VPN presence, so the new TCP stack won't fix it. Examples: all kinds of MMS apps (this issue is specific to some US cellular providers), apps that use FTP protocol, etc. Another option -- by default we disable it for other VPN apps so that they could be used along with AG in Proxy+Root mode.

 You sure can enable it back in the apps man

[2017-05-27 15:30] TPS commented on #1240
I guess I'll hafta wait & see if anything breaks for me when #760 lands.

[2017-05-27 15:35] TPS commented on #1240
["Block connections without VPN" toggle](https://github.com/AdguardTeam/AdguardForAndroid/issues/760#issuecomment-304323352) is somewhat of workaround for this, maybe.

I guess I'll hafta wait & see if anything breaks for me when #760 lands.

[2017-05-27 16:07] ameshkov commented on #1227
Android O detection does not work properly yet (they didn't yet add the API level 26?)

[2017-05-28 09:05] KozelElena opened #1244 "VPN Master compatibility"
The case is:
* no root
* manual proxy setting (as in the instruction)
* was checked with Wi-Fi
* everything works fine with VPN Master disabled
* as soon as VPN Master is enabled - ads cannot be filtered.

https://play.google.com/store/apps/developer?id=VPN+Master

Ticket ID: 1104069

[2017-05-28 13:29] Michael23456 commented on #1232
waiting for an answer from the customer

[2017-05-28 15:50] Michael23456 commented on #1232
@vozersky the customer is using Classic Theme from Next Launcher
https://play.google.com/store/apps/details?id=com.gtp.nextlauncher

[2017-05-28 19:41] ameshkov commented on #994
@shaman4ik да хттпс или нет это без разницы, главное, что VPN как таковой мешает работе FTP-протокола.

Тут мало что поделаешь - только отключать фильтрацию полностью для приложения (будет работать в Android 5+) либо исключать подсеть FTP-сервера.

[2017-05-28 20:09] ameshkov commented on #1225
@nkartyshov according to @TommiHynynen's [comment](https://github.com/AdguardTeam/AdguardFilters/issues/3718#issuecomment-301895575) we'd better have Juvander's list used as a default filter for Finnish people (instead of Wiltteri)

[2017-05-28 20:47] shaman4ik commented on #994
Так а при чем vpn, если я использую режим фильтрации http proxy?

[2017-05-28 20:53] ameshkov commented on #994
Вот это хороший вопрос:) Значит лог приложенный к задаче не ваш по ходу.

Расскажите пожалуйста подробнее как проблема выглядит

[2017-05-28 21:00] shaman4ik commented on #994
Пытаюсь подключиться к локальному ftp серверу, происходит авторизация, но когда пытаюсь открывать папки, это редко удается. Очень долгое ожидание, редко успешное.

[2017-05-28 21:00] shaman4ik commented on #994
Лог не мой, это меня в этот топик отправили после обращения в тех поддержку по этому вопросу

[2017-05-28 21:03] shaman4ik commented on #994
Сейчас еще раз проверил. Открывается стартовая директория. А дальше никуда зайти не могу.

[2017-05-28 21:05] ameshkov opened #1245 "Reconfiguring iptables on package add/replace leads to no internet"
Log with the issue attached:
[adguard.log.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1034526/adguard.log.txt)

Here is what's going on:

1. 21:29 -- 21:30 - new app is installed or updated, AG reconfigures iptables redirect
2. 21:30 -- 21:42 - no connections are accepted by the proxy server (it's unclear to me what exactly was broken, though)
3. 21:43 -- AG was restarted manually,

[2017-05-28 21:29] ameshkov commented on #1245
What's important is that the app being added must be on the list of exceptions (filtering disabled by default).

For instance, a VPN app like Opera Max should work.

[2017-05-28 21:43] ameshkov commented on #1239
Guys, I might be wrong, but somewhere there already was a feature request about user profiles, which, apparently, covers the firewall profiles as well.

[2017-05-28 21:50] dzamyshlyayeva commented on #1215
asked the user.

[2017-05-28 22:13] ameshkov opened #1246 "Add "Battery" information to AG"
With the battery stats reworked in Android O there's no more visible information about CPU time / data usage in the app's battery usage details.

So, it is now completely unclear for a user why does Android counts that amount of battery usage towards this or that app. It's more or less okay for most of the apps, but not for us. It is crucial for us to provide an alternative, to show what real batt

[2017-05-28 22:41] ameshkov commented on #1236
If disabling ad blocking does not help, it might be that the game uses some protocol, which is simply incompatible with Adguard.

[2017-05-28 22:42] ameshkov commented on #1236
Does it work with any other VPN app (opera max for instance)?

[2017-05-28 22:44] ameshkov commented on #621
Yeah, that's due to HTTP Public-Key-Pinning which does not work for user certificates, but starts working when you move cert into the system store.

You need browser to "forget" existing pins, so clear the browser data after moving the cert.

[2017-05-28 22:53] Bluscream commented on #621
I still use the latest OGYT 3.5 and i hope it will continue to work a while. I heard there is a g+ community for "private" updates

[2017-05-28 22:58] Bluscream commented on #621
I think the main issue AG should focus on is cert-pins bypassing at any cost.

[2017-05-28 23:11] ameshkov commented on #1240
One more issue with it. When I have "block connections without VPN" enabled and reboot the device, cellular data won't work. Nothing helps except disabling always-on and rebooting device again.

I didn't check toggling airplane mode on and off, might worth a try. Overall, looks like an Android bug.

[2017-05-28 23:15] ameshkov commented on #760
We will soon publish the new beta version.

We'll first experiment with Android O and AG v2.9 and see how it works and what are the possible issues.

Then we may add the device admin features, but I can't yet give you an ETA on this, too many features are planned for the future:(

[2017-05-28 23:17] ameshkov commented on #1240
That's what causes the issue.

I mean when "block connections without VPN" is enabled, connections are actually blocked for the apps, which are deliberately excluded from VPN by Adguard itself.

Frankly, I find this behavior rather weird, worth filing a bug report.

[2017-05-28 23:18] ameshkov commented on #1244
@vozersky we should do something with that instruction -- manual proxy won't work, only the automatic one.

[2017-05-28 23:20] ameshkov commented on #1232
I guess it is the launcher's issue, not ours.

[2017-05-28 23:20] #1232 closed

[2017-05-29 05:42] TPS commented on #760
Delay's ok:  Some of your findings in #1240 are giving me concern.  I'd rather have it right,  than right now, especially since waiting all this time, anyway.  I'm glad both N & O are currently Google-supported, as that gives me hope issues will be resolved w/ less workarounds.

For the record, what _is_ the device you're testing all this on?

[2017-05-29 07:49] ameshkov commented on #994
Нам точно нужно лог посмотреть, вот такой:
https://kb.adguard.com/ru/android/solving-problems/log

Еще должно помочь отключение фильтрации для этого приложения в настройках приложений в Adguard.

[2017-05-29 07:50] ameshkov commented on #621
Do they faced some kind of a legal issue?

[2017-05-29 07:55] ameshkov commented on #760
Pixel

[2017-05-29 08:14] shaman4ik commented on #994
Отключение фильтрации для приложения не помогло. Отправил еще раз лог в техподдержку

[2017-05-29 09:00] zebrum commented on #994
ticket id 1265945

[debug.txt.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/1035346/debug.txt.zip)

[2017-05-29 09:07] #1221 closed

[2017-05-29 09:07] #1189 closed

[2017-05-29 09:14] nkartyshov commented on #1139
Done, review AFA-CR-18

[2017-05-29 09:16] ameshkov opened #1247 "Prepare an issue template for this repo"
Like what we have in AdguardFilters:
https://github.com/AdguardTeam/AdguardFilters/issues/5135

For inspiration look at the issue templates here:

* https://bugs.chromium.org/p/chromium/issues/list
* https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/new/

[2017-05-29 10:34] nkartyshov commented on #1191
Done, review AFA-CR-19

[2017-05-29 11:35] ameshkov commented on #1142
@vozersky please check this out:
https://forum.adguard.com/index.php?threads/notification-delay-problem-for-google-services.20280/#post-138571

What's my take on this:

1. The problem occurs on cellular data only.
2. It may be required to switch Wi-Fi/Cellular a few times for the issue to start occurring.
3. "FCM Push Notification Tester" app might come in handy to debug the issue.

@vozersky plea

[2017-05-29 11:45] vozersky commented on #1142
will do
I wonder if this can be a specific service provider related issue

[2017-05-29 14:54] Alex-302 commented on #1195
another one:
https://nplus1.ru/news/2017/05/25/subtitles
https://forum.adguard.com/index.php?threads/nplus1-ru.22130/

[2017-05-29 14:56] ameshkov commented on #1195
It seems that AG does not trust Let's Encrypt certificates

[2017-05-29 14:59] Alex-302 commented on #1195
and Comodo
https://github.com/AdguardTeam/AdguardForAndroid/issues/1195#issuecomment-299442247
but only on Android

[2017-05-29 15:23] vbagirov commented on #1110
Another request: add an option to sort alphabetically.

[2017-05-29 15:28] ameshkov commented on #1195
Ok, I got it, the culprit is TLS version, AG refuses to downgrade to TLSv1.0, while actually it should be allowed.

[2017-05-29 16:07] ameshkov commented on #1195
Done, review ID: AFA-CR-20

[2017-05-29 16:07] #1195 closed

[2017-05-29 17:31] TPS commented on #1110
@vbagirov That's https://github.com/AdguardTeam/AdguardForAndroid/issues/384#issuecomment-212609368.

[2017-05-29 21:14] ameshkov commented on #994
@shaman4ik

Нужно отключить для приложения FTP Plugin for Total Commander

[2017-05-29 21:20] shaman4ik commented on #994
Помогло. Спасибо.

[2017-05-29 21:53] ameshkov commented on #994
Рекламы никакой не появилось? Может нам стоит в список по-умолчанию добавить его тогда

[2017-05-29 22:09] shaman4ik commented on #994
Рекламы не заметил. Еще и AndFTP добавил в исключения. Может и стоит по умолчанию добавит.

[2017-05-30 00:03] ypetruk commented on #1215
The customer wrote that it still crashed with the same error.
"The problem appears that a Java request is being made with a max-length of
45000 but the Java configuration has a maximum max-length of 32kb.

Is it possible to reconfigure AdGuard to request just under 32kb, or to
change my java configuration to allow the current 45000-byte request?"

[2017-05-30 08:00] ameshkov commented on #1215
Oh, @ypetruk you can ignore that line in the config file, it is irrelevant to the actual problem, just can't parse a certain filter rule.

Meanwhile, I am interested in the new log file

[2017-05-30 08:44] ameshkov commented on #26
Relevant discussion:
https://forum.adguard.com/index.php?threads/data-usage-stats.22062/

[2017-05-30 09:11] nkartyshov commented on #1225
I added Juvander's list as a default filter for Finnish people and I removed Wiltteri filter.

[2017-05-30 09:11] #1225 closed

[2017-05-30 09:11] #1139 closed

[2017-05-30 11:26] Alex-302 opened #1248 "Turbo mode in Yandex Browser is broken by HTTPS filtering"
Reproduced with Ukrainian provider.
Exclude:
[code]

[2017-05-30 12:13] nkartyshov commented on #1248
Resovled by [AdguardTeam/HttpsExclusions@ f1f162](https://github.com/AdguardTeam/HttpsExclusions/commit/f1f1621f9279657d6e07ec0cb3c78705f6f642d3)

[2017-05-30 12:13] #1248 closed

[2017-05-30 13:20] TPS commented on #1210
When in filter-editing mode (either from filtering-log or anyplace else), it'd be great to have additional toggles like `$important` for `$image`, `$script`, &c.

[2017-05-30 16:35] vozersky opened #1249 "Speed testing app can't measure upload speed"
Happens **only** with HTTP proxy filtering mode (Automatic) on rooted device
All other settings are default.

[This ](https://play.google.com/store/apps/details?id=com.staircase3.opensignal&hl=en) is the app.

Debug log: [adguard.log.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/1039016/adguard.log.zip)

STR:
* hit the "Test" button
* 0 kb/s upload speed will be displayed after the t

[2017-05-30 16:41] carlylemiii commented on #973
Don't know if this is already obvious or helpful in the slightest, but I just want to add that I can access this with Adguard enabled IF I disable HTTPS filtering for Google Play services. Otherwise, it indeed says "No internet connection" for me, as well.

[2017-05-30 18:23] carlylemiii opened #1250 "Watchdog period help text bad grammar"
Not sure about other translations, but the help text

"Starts a safe-guard service service in another process, that is checking, if main service is alive and restarts it, if necessary. Zero disables it."

is not a proper English sentence.

Here is a suggestion:

"Starts a safe-guard service service in another process, which checks if the main service is alive and restarts it, if necessary. Zero di

[2017-05-30 19:35] ameshkov commented on #1250
Current version is a bit different:
https://adguard.oneskyapp.com/collaboration/translate/project/project/13597/language/1#/?keyword=31673817

[code]

Your version is better, though, thank you!

[2017-05-30 19:35] #1250 closed

[2017-05-31 09:31] zebrum commented on #1244
@ameshkov
This is what we have right now in android faq:

_Manual mode

This approach may not work in some situations. It depends on your firmware and the actual VPN app. For some cases traffic bypasses manually configured proxy._

Maybe we should just make a list of VPN apps which are working with Adguard manual proxy settings?

[2017-05-31 09:41] zebrum commented on #975
couple weeks later user did factory reset and after that Adguard start working as it should.

[2017-05-31 11:59] Alex-302 opened #1251 "usps.com and lendingclub.com random failure to load"
[//]: # (***You can leave the strings with "[//]:" They will not be added to the issue text)
[//]: # (***Строки, которые начинаются с "[//]:" можно не удалять. Они не будут видны)

***Description***:
usps.com and lendingclub.com random failure to load
https://www.usps.com/
https://www.lendingclub.com/site/home
the issue doesn't persist when adg is disabled
[adguard (2).log.zip](https://github.com/

[2017-05-31 12:36] zebrum commented on #1180
nexus 7 still the same problem

[2017-06-01 06:39] snhv opened #1252 "Bug - Grab cannot connect server"
Hi,

With Adguard's filtering, Grab (grab.com - a ridesharing service) fails to load. It says it cannot connect to server. Whitelisting Grab from Adguard solves the issue. Please kindly fix. Thank you.

[2017-06-01 07:38] ameshkov commented on #1245
At least we should not reconfigure it for the apps updates.

The problem is that it fires `PACKAGE_ADDED` even for the update:
[code]

[2017-06-01 08:16] ameshkov commented on #580
Adding @sfionov here, he'll assist with TProxy implementation once we're ready to implement this.

[2017-06-01 08:16] ameshkov commented on #558
Marked as duplicate of this issue:
https://github.com/AdguardTeam/AdguardForAndroid/issues/580

[2017-06-01 08:16] #558 closed

[2017-06-01 08:43] zebrum commented on #1224
a lot of mess with all those checkboxes in Apps Management - Settings: they are not applied at all
frequently.
e.g. go to Apps Management - Settings - uncheck any of Defaults checkboxes, then go back and see there are no changing in firewall settings. Again go to Settings - Adguard did not save changes you made. But If you wait about a minute not going anywhere from the first settings screen the c

[2017-06-01 09:10] vozersky commented on #1252
@snhv hi! Does disabling HTTPS filtering help? Or it works only if you don't route traffic through Adguard at all?

[2017-06-01 09:50] OlegSUP commented on #1215
Log:

[adguard.log.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/1044312/adguard.log.zip)

[2017-06-01 11:13] snhv commented on #1252
Yes disabling HTTPS filtering also helps. But I think it's not a graceful solution.

[2017-06-01 11:17] vozersky commented on #1252
@snhv sure thing, we'll find an exact domain we have to exclude, thanks for reporting the issue

[2017-06-01 11:41] nkartyshov commented on #1180
Fixed

[2017-06-01 11:41] #1180 closed

[2017-06-01 13:45] vbagirov opened #1253 "Local HTTPS proxy mode can't start"

[2017-06-01 14:04] TPS commented on #1224
WFM, @zebrum: I don't see that @ all.

[2017-06-01 14:43] ameshkov commented on #1253
Resolved

[2017-06-01 14:43] #1253 closed

[2017-06-01 17:54] ameshkov commented on #1026
@seanl-adg could you please ask user to test it with the latest beta version (and with default low-level settings)?

I've added IPv4-mapped addresses to VPN routes, so if I was right, the issue should be resolved now.

[2017-06-01 23:08] ameshkov opened #1254 "Build server is not ready for the new android build-tools"
`jarsigner` from JDK1.7 does not work anymore

[2017-06-02 08:18] nkartyshov commented on #1252
We already had a problem with this app and We already has exclude domain grabtaxi.com.

@snhv Can you see this a domain in your https whitelist?

[2017-06-02 08:45] ameshkov commented on #1227
[code]

[2017-06-02 08:45] #1227 closed

[2017-06-02 08:45] snhv commented on #1252
Hi @nkartyshov , not in https whitelist for me, and I've never meddled with it.

[2017-06-02 08:47] ameshkov commented on #1252
@snhv it's just in Adguard's beta version, not in the current stable.

Temporary solution would be to disable HTTPS filtering specifically for this app (apps management -> find grab -> uncheck https filtering for it)

[2017-06-02 08:49] snhv commented on #1252
Thanks @ameshkov @nkartyshov , I've just seen the other thread on this issue.

[2017-06-02 08:49] #1252 closed

[2017-06-02 09:03] ameshkov opened #1255 "User filter should be a textarea instead of a grid"
Empty filter should be like this:
https://www.dropbox.com/s/tx6qoyon1pnlfue/08-users-filter-pholder.psd?dl=0

Let's just use codemirror in an embedded webview:
http://codemirror.net/

Or this:
https://ace.c9.io/

[2017-06-02 11:32] nkartyshov commented on #1245
Fixed the problem of reconfiguration a proxy when updating an application. But I can reproduce problem with broken down connection. @vozersky Please, try to reproducing.

[2017-06-02 21:45] TPS commented on #17
@ameshkov @Revertron @AdGuardTeam The [ß version](http://smile.amazon.com/dp/B0158CTQ2C/)  is officially _missing_ from Amazon.…

What happened?!

[2017-06-02 22:00] ameshkov commented on #17
@TPS it is stuck in "processing" state for some unknown reason. Can't remove or re-upload it. We've sent a message to Amazon support today, but they are not really fast, you know.

[2017-06-02 22:01] ameshkov commented on #17
Ah, also while trying to do something, we've removed the previous beta build. It didn't help, but it might've resulted in the total beta absense..

[2017-06-02 22:14] TPS commented on #17
Thanks for letting me know.  If I need to do anything different, just tell me.

[2017-06-03 02:54] TPS commented on #119
Included in #133, I suppose.

[2017-06-03 02:56] TPS commented on #17
Now Appstore wants to update, but it shows it's going to update _from_ v2.9.70 _to_ v2.9.70, which makes me think it wants to update ß → release, which has generally been *un*recoverable (can't return _to_ ß _from_ release w/o uninstall/reinstall, @ least _last_ time, which is no good w/o ~#119→~ #133).

Can you confirm the version it wants to update _to_ is release v2.9.70 or ß v2.9.111?

[2017-06-03 05:40] Michael23456 opened #1256 "Yahoo mail is not working with Agd 2.9.111"
Yahoo mail is not working with Agd 2.9.111
disabling HTTPS filtration for the app didn't help.
with HTTPS enabled
![image](https://cloud.githubusercontent.com/assets/25711093/26750987/e6cbff44-4837-11e7-92c6-a937b19c6917.png)
with HTTPS disabled
![image](https://cloud.githubusercontent.com/assets/25711093/26750989/ea309618-4837-11e7-8bf7-c706029a0851.png)
CustomerID: 1448020
Androind 5.1 (meizu m3

[2017-06-03 11:30] Michael23456 opened #1257 "Firefox nightly 64bit is not recognized as a browser"
Adguard is not filtering traffic for Firefox nightly 64bit
here is the link to download the browser https://archive.mozilla.org/pub/mobile/nightly/latest-date-android-aarch64/fennec-55.0a1.multi.android-aarch64.apk

is Not reproduced on meizu m3s( android 5.1)

collected full logs:
[debug (9).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1049565/debug.9.txt)
[state (42).txt](https://

[2017-06-03 12:22] KozelElena opened #1258 "Verizon wifi calls, texts, mms fail completely in HTTP proxy mode (auto)"
It's a request from https://github.com/AdguardTeam/AdguardFilters/issues/5001

***Description***: missed ads in CellMapper, WiFi Password, CornerFly (android 7)

ad in CornerFly still displayed after clearing the cache. CellMapper and WiFi Password had boxes for the ads with the error like symbol but the ads didn't display this particular time.

CornerFly https://play.google.com/store/apps/details

[2017-06-03 20:06] TPS commented on #1258
Related to #958 @ all?

[2017-06-03 20:10] TPS commented on #1257
_Any_ traffic or just HTTPS? Ff does need separate cert installed.…

[2017-06-04 04:34] carlylemiii commented on #1258
Doesn't seem related in the slightest bit. That said, this is two separate issues.

1) HTTP proxy misses IPv6 ads - duplicate/already being worked on
2) blocking IPv6 entirely blocks Verizon WiFi Calling - expected, because WiFi Calling uses IPv6

This issue/question should be closed.

[2017-06-04 04:52] TPS commented on #1258
More #142, #295, or #580, then?

[2017-06-04 04:58] carlylemiii commented on #1258
My original issue, the ads being missed in those apps, is because of #580.

[2017-06-04 06:45] Eugene-Savenko opened #1259 "Unable to add cyrillic domains to the whitelist"
![image](https://cloud.githubusercontent.com/assets/15856304/26759584/da2f85e2-48cf-11e7-981d-3aaf5b52b837.png)

The latin equivalent is not accepted as well.
Adguard for Android v. 2.9

ID: 1398800

[2017-06-04 13:08] Michael23456 commented on #1257
the customer says that any traffic. We tried to install the certificate for the Firefox, but it didn't help.

[2017-06-04 13:50] Michael23456 opened #1260 "Adg blocks internet access with Mobile network"
Adg blocks internet access with Mobile network (Android 4.4.2)
with Wifi internet is working

got a log here:
[state (55).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1050358/state.55.txt)
[debug (15).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1050359/debug.15.txt)

CustomerID: 518650

[2017-06-04 15:39] Michael23456 opened #1261 "Low upload speed with Adg enabled"
Low upload speed with Adg enabled
The customer was using SpeedTestNet app
Connected to WiFi network

without Adguard:
<details>

![image](https://cloud.githubusercontent.com/assets/25711093/26763034/ac0268f8-4954-11e7-95c8-b3422ab2d184.png)

</details>

with Adguard:

<details><summary>Screenshot:</summary>

![image](https://cloud.githubusercontent.com/assets/25711093/26763038/bf221ef6-4954-11e7-8

[2017-06-04 15:39] Michael23456 commented on #1261
what do we need to ask?

[2017-06-04 15:47] Alex-302 commented on #1261
Just for comparison:

<details>

![image](https://cloud.githubusercontent.com/assets/8361299/26763131/321d69d2-4956-11e7-9a78-4712b9132598.png)

</details>

[2017-06-04 16:03] Michael23456 commented on #1261
this is from my phone:

<details>

![image](https://cloud.githubusercontent.com/assets/25711093/26763256/7372fb3e-4958-11e7-9bfe-dca848d5519b.png)

</details>

[2017-06-04 19:59] Michael23456 opened #1262 "High ping with Adg"
High ping with Adg on 4G and Wifi

with ang enabled:
![image](https://cloud.githubusercontent.com/assets/25711093/26764903/3a60e6c8-4979-11e7-9ad3-e7a726621b67.png)

If disabled:
![image](https://cloud.githubusercontent.com/assets/25711093/26764906/45dc28dc-4979-11e7-9a55-f03aaaa1d184.png)

the issue persists only in versions 2.9.70 and later
[state (85).txt](https://github.com/AdguardTeam/Adguard

[2017-06-04 20:04] Alex-302 commented on #1262
Try 2.9.111 beta. It was fixed in https://github.com/AdguardTeam/AdguardForAndroid/issues/1192

[2017-06-04 20:11] Michael23456 commented on #1262
forwarded to the custoemer

[2017-06-04 20:48] ameshkov commented on #1262
Closed as duplicate

[2017-06-04 20:48] #1262 closed

[2017-06-04 20:49] ameshkov commented on #1256
@vozersky can you reproduce it?

[2017-06-04 20:50] ameshkov commented on #1191
Now it looks as if it was activated with a license key. No "activate" button.

[2017-06-04 23:34] KozelElena opened #1263 "Add more malware domains from adblockpus website"
We've got a request to add more malware domains from adblockpus website.
Ticket ID: 1553302

[2017-06-05 06:41] Michael23456 opened #1264 "Adg is turning off by itself"
Adg is turning off by itself
[state (4).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1051266/state.4.txt)
[debug (3).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1051267/debug.3.txt)

from the customer: "I noticed that adguard wasn't filtering, and restarted the app at 2:31am"

CustomerID: 1154953

[2017-06-05 08:38] nkartyshov commented on #1191
Why is there no "activation" button? You have button "Activate Premium" in Adguard Premium screen if you activate license key.

This screen we showing if app activated  at Amazon store.

[2017-06-05 08:42] ameshkov commented on #1191
What in the world has Amazon to do with this

[2017-06-05 08:43] ameshkov commented on #1191
@nkartyshov you have 4 different states:

1. No license, no trial (regular build)
2. No license, no trial (amazon build)
3. Active trial period
4. Active license
5. Active subscription

[2017-06-05 08:47] nkartyshov commented on #1191
We showing License Key screen in 1,2,3,4 state.
Subscription screen showing in 5 state, but We showing license key screen if subscription expired.

[2017-06-05 09:34] vozersky commented on #1263
@KozelElena What exactly do you mean? Malware Domains subscription?

[2017-06-05 09:51] ameshkov commented on #1191
@nkartyshov this is obviously wrong behavior

[2017-06-05 10:34] vozersky commented on #1264
01:04:14.060 [Thread-6] ERROR com.adguard.android.commons.c - Thread: Thread[Thread-6,5,main]; Uncaught exception:

java.lang.OutOfMemoryError: Could not allocate JNI Env
	at java.lang.Thread.nativeCreate(Native Method) ~[na:0.0]
	at java.lang.Thread.start(Thread.java:730) ~[na:0.0]
	at java.util.concurrent.ThreadPoolExecutor.addWorker(ThreadPoolExecutor.java:941) ~[na:0.0]
	at java.util.concurren

[2017-06-05 11:08] vozersky commented on #1256
reproduced
looks like some rule in Annoyances filter is the culprit
@Alex-302 please assist

[2017-06-05 12:25] ameshkov opened #1265 "startpage.com - HTTPS is not filtered in Ghostery browser"
Original issue:
https://forum.adguard.com/index.php?threads/startpage-com-huge-ad-areas-missed-android.22296/#post-139915

@vozersky please check it on our side.

[2017-06-05 13:49] vozersky commented on #1265
I don't see any issues with HTTPS filtering in Ghostery & there are no ads on startpage.com for me either

[2017-06-05 13:49] ameshkov commented on #1265
Ask DrDidi in Telegram to collect logs then

[2017-06-05 14:16] vozersky commented on #1265
after the browser reinstall everything's went back to normal

[2017-06-05 14:16] #1265 closed

[2017-06-05 15:48] TPS commented on #17
Thanks, @AdguardTeam, I just got my new Tester invite.

It's updating to ß v2.9.11**0**, though 2.9.11**1** is [detailed as "A hotfix for the v2.9.110 that contained a critical error."](https://github.com/AdguardTeam/AdguardForAndroid/releases/tag/v2.9.111-beta)  Based on _that_, I don't want to actually complete the update, just to cripple my AG installation!

Please advise!

[2017-06-05 15:58] TPS commented on #288
This is now done via `$app=`, right?

[2017-06-05 16:04] TPS commented on #1263
Maybe that or perhaps #13?

[2017-06-06 04:16] TPS commented on #17
Thanks, @AdguardTeam, I've now v2.9.111, & all is well. :bow:

[2017-06-06 08:20] Alex-302 commented on #1256
It works in my device

<details>

![image](http://imagizer.imageshack.com/img922/4261/DIX5m4.png)
</details>

[2017-06-08 10:07] vozersky commented on #1260
@nkartyshov could you please check the log file?

[2017-06-08 20:36] KozelElena commented on #1263
Sorry for a delayed reply. Firstly, he wanted us to check not only for our updates but for downloaded by the URL as well. And, as I understand, it's https://github.com/AdguardTeam/AdguardForAndroid/issues/13

For now we don't have any replies for him.

[2017-06-09 03:47] Bluscream opened #1266 "Paranoid Mode - Disable networking while VPN is off"
Can ag have a option to disable networking on shutdown or update installation reenable it after the vpn got connected? So no trackers and stats will send in that time :)

[2017-06-09 09:57] ameshkov commented on #1266
Yeah, here it is:
#1240
#760

[2017-06-09 09:57] #1266 closed

[2017-06-09 10:29] vozersky opened #1267 "Adguard can't start VPN on IPv6 network (Android 4.4.2)"
This happens with 2.9.111 beta only, works fine on 2.9.70

logs: [adguard (1).log.zip]
(https://github.com/AdguardTeam/AdguardForAndroid/files/1063732/adguard.1.log.zip)

21:08:20.957 [Thread-632] INFO  c.a.android.vpn.AdguardVpnService - Adding default IPv6 route
21:08:20.964 [Thread-632] INFO  com.adguard.android.ServiceManager - ServiceManager handle status event: VPN_CONFIG_ERROR
21:08:21.003

[2017-06-09 10:31] ameshkov opened #1268 "Rules options lazy loading does not work at the moment"
Due to the check for $network modifier, it does not work, so we overuse memory a lot.

[2017-06-09 12:13] Bluscream commented on #1266
@ho

[2017-06-09 15:06] zebrum commented on #799
we have 3 or 4 same problems again. Double-checked  all the settings with screenshots-proof from users.
can not reproduce on our redmi 3S with MIUI 8.2.5.0 stable

@altokarev please put together those cases and post here.

we need to figure it out.

[2017-06-09 15:09] Alex-302 opened #1269 "Ultimate Ninja Blazing - connection error"
Exclude
[code]

Original issue:
https://github.com/AdguardTeam/AdguardFilters/issues/5285

[2017-06-11 13:00] ameshkov commented on #1255
We now use:

1. Codemirror if user filter is relatively small (<30kb)
2. Plain textarea if user filter is big

@vozersky
While testing, besides simply editing the user filter (adding/removing/import/etc) please test how it works when you add rules from the filtering log.

Also, it is very important to test how it looks like on table in the landscape mode.

[2017-06-11 13:08] ameshkov commented on #1268
$network modifier check is changed so that it was not causing immediate rules properties parsing, AG parses rules options lazily.

**Result:** ~10MB less ram is used

[2017-06-11 13:08] #1268 closed

[2017-06-11 13:25] ameshkov commented on #1191
@vozersky is it done?

[2017-06-11 13:27] ameshkov commented on #1267
Fixed, we'll simply ignore this error if it happens. Review ID: AFA-CR-26

[2017-06-11 13:27] #1267 closed

[2017-06-11 13:28] ameshkov commented on #1026
@seanl-adg anything new?

[2017-06-11 15:07] Michael23456 opened #1270 "No internet connection in OK app with HTTPS enabled"
No internet connection in OK app with HTTPS enabled
<details>

![image](https://user-images.githubusercontent.com/25711093/27012011-a28c0cc6-4ed0-11e7-95de-677ba56c9254.png)
</details>
CustomerID: 1285938

logs:
[state.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1066520/state.txt)
[debug (28).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1066521/debug.28.txt)

[2017-06-11 15:21] TPS commented on #35
I'd like y'all to eventually consider what'd hafta be done to make, e.g., https://github.com/brave/browser-laptop/issues/1185 (but via Orbot & related to #922) work w/ AG in the loop, as well.

[2017-06-11 15:25] TPS commented on #35
_No idea how I did that! 😮)_

[2017-06-11 15:30] Michael23456 opened #1271 "Adguard disables by itself"
Adguard disables by itself
got logs:

[state.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1066541/state.txt)
[debug (30).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1066542/debug.30.txt)

issue time = 10.26

CustomerID: 1248045

[2017-06-11 16:47] Michael23456 opened #1272 "crash on network type changes 2.9.111b"
since 2.9b, adguard seems to crash on network type changes like wifi to 4g and back again

[state.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1066590/state.txt)
[debug (35).txt](https://github.com/AdguardTeam/AdguardForAndroid/files/1066591/debug.35.txt)
CustomerID: 1350712

[2017-06-11 18:10] Michael23456 opened #1273 "HTTPS filtering is breaking Nimses app functionality"
HTTPS filtering is breaking Nimses app functionality
https://play.google.com/store/apps/details?id=com.nimses&hl=en
<details>

![image](https://user-images.githubusercontent.com/25711093/27013322-6397d6d4-4eea-11e7-8dc5-1c14d12cde0f.png)
</details>
CustomerID:1277354

[2017-06-12 10:46] ameshkov opened #1274 "Do not remove/cut script if it is an $empty modifier in rule"
https://github.com/AdguardTeam/AdguardForWindows/issues/1789

[2017-06-12 13:06] ameshkov opened #1275 "Sniper Fury game cannot start when AG is enabled"
Link:
https://play.google.com/store/apps/details?id=com.gameloft.android.ANMP.GloftFWHM

[2017-06-12 14:47] ameshkov commented on #1142
More information about it here:
https://forum.adguard.com/index.php?threads/notification-delay-problem-for-google-services.20280/page-2

Temporary solution -- switch APN to IPv4. We're still looking for the cause of the issue.

[2017-06-12 14:48] ameshkov opened #1276 "Google reminders no longer give notifications"
Reports:
https://forum.xda-developers.com/showpost.php?p=72426729&postcount=2450
https://forum.xda-developers.com/showpost.php?p=72582839&postcount=2462

It might be the same as here:
https://github.com/AdguardTeam/AdguardForAndroid/issues/1142

[2017-06-12 15:34] ameshkov opened #1277 "Add "User filter" to Settings|Ad Blocker"
https://forum.adguard.com/index.php?threads/add-user-filter-to-settings-ad-blocker.22288/

[2017-06-12 20:44] ameshkov opened #1278 "Yandex Drive detects HTTPS filtering again"
Just like the old issue:
https://github.com/AdguardTeam/AdguardForAndroid/issues/387

I guess it'd be easier to simply disable HTTPS filtering for the whole app.

[2017-06-12 23:21] ameshkov commented on #973
@carlylemiii this is important indeed, thank you!

So I reckon you can reproduce this issue? We cannot, so I'd be grateful if you assist us with it.

To find out what's the reason of it, I need to take a look at Adguard's log with "record everything" level:
https://kb.adguard.com/en/android/solving-problems/log

[2017-06-13 00:34] carlylemiii commented on #973
Can be found here:

https://my.pcloud.com/publink/show?code=XZ3HRGZpXYxROOwz54SLv15jyFgvXcrlISy

[2017-06-13 08:16] ameshkov commented on #1255
@Revertron frankly, I don't like how it works. Could you please get rid of the web view approach and replace it with native multiline text edit control?

[2017-06-13 08:19] vozersky commented on #1191
@ameshkov yep, @nkartyshov has fixed it

[2017-06-13 08:34] vozersky commented on #1271
@Michael23456 Adguard doesn't turn itself off, so the issue name is kind of misleading.

[2017-06-13 08:42] vozersky commented on #1271
@Michael23456 The only thing I can see in the log is that Android system kills Adguard here, make sure **it is** properly whitelisted in battery optimization etc.

We would need to have **LogCat** to understand more.

[2017-06-13 09:17] vozersky commented on #1263
yeah, let's just stick to #13

[2017-06-13 09:17] #1263 closed

[2017-06-13 10:01] ameshkov opened #1279 "Rework the user filter"
This all started here:
https://github.com/AdguardTeam/AdguardForAndroid/issues/1255

However, I am not happy with how it works at the moment, so let's rework it properly.

### Toolbar menu

![adguard for android - user filter moqups 2017-06-13 12-48-23](https://user-images.githubusercontent.com/5947035/27076697-a4cb701e-5036-11e7-875e-777cac0ae6b9.png)

* Add rule -- brings up a "New Rule" dialog

[2017-06-13 10:01] ameshkov commented on #1255
After all, let's close this issue and rework user filter properly.

Closed as dup of https://github.com/AdguardTeam/AdguardForAndroid/issues/1279

[2017-06-13 10:01] #1255 closed

[2017-06-13 10:26] ameshkov commented on #1244
@zebrum if only I knew:)

[2017-06-13 10:26] #975 closed

[2017-06-13 12:03] ameshkov commented on #1215
Here is a test build with gateway IP excluded from the VPN:
[adguard_issue1215.apk.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/1071280/adguard_issue1215.apk.zip)

Please ask the user to try it.

[2017-06-13 13:14] zebrum commented on #1251
I'm able to reproduce it with 2.9.70
but sites are loading fine with 2.9.111 android 7.1.1 on nexus 9

[2017-06-13 13:27] OlegSUP commented on #1215
Done

[2017-06-13 13:30] ameshkov commented on #119
Dup of #1279

[2017-06-13 13:30] #119 closed

[2017-06-13 13:46] ameshkov commented on #1258
If I get it right, the culprit is blocking IPv6?

The only solution will be for us to add full-scale IPv6 support in the proxy mode. This is planned already -- https://github.com/AdguardTeam/AdguardForAndroid/issues/580

Temporary solution -- try changing APN type to IPv4 only. Although, it might not work for Verizon.

[2017-06-13 13:48] ameshkov commented on #1258
Closed as dup of #580

[2017-06-13 13:48] #1258 closed

[2017-06-13 14:02] TPS commented on #1271
#1264?

[2017-06-13 14:05] ameshkov commented on #1257
`org.mozilla.fennec_aurora` package should be added to the browsers list.

[2017-06-13 14:05] TPS commented on #1226
Since many updates to CMAV, I can't replicate anymore, so recommend closing.

[2017-06-13 14:08] ameshkov commented on #1257
Done

[2017-06-13 14:08] #1257 closed

[2017-06-13 14:10] ameshkov commented on #1261
Don't ask anything, we should re-test it once new network stack library is integrated in Android.

[2017-06-13 14:11] TPS commented on #1279
#1210 now dupes this, too, though I'd to remind y'all of [my request from there](https://github.com/AdguardTeam/AdguardForAndroid/issues/1210#issuecomment-304875893):

Also, #828, please.

[2017-06-13 14:16] vozersky commented on #1226
please let us know if it happens again

[2017-06-13 14:16] #1226 closed

[2017-06-13 14:32] ameshkov commented on #1264
The problem is that the log is trimmed and I don't see what actually caused OOM error. If this happens again, please ask user to get the full file from the device.

[2017-06-13 14:58] vozersky commented on #1264
@Michael23456

[2017-06-13 15:29] Yana-SUP commented on #1264
emailed the user

[2017-06-13 16:00] zebrum commented on #1273
confirmed
need to exclude com.nimses from https filtering @nkartyshov

[2017-06-13 16:59] zebrum commented on #1270
reproduced.
@nkartyshov please assist.

[2017-06-13 17:22] ameshkov commented on #288
Yeah, so this is a duplicate

[2017-06-13 17:22] #288 closed

[2017-06-13 17:34] vozersky commented on #1256
Can't reproduce it anymore.
Looks like it has been fixed.

@Michael23456 and again, this kind of problems should go to Adguard filters repo

[2017-06-13 17:39] vozersky commented on #1273
@Michael23456  they use certificate pinning, won't fix, tell the user to disable https filtering for the app, we will exclude it in the next build

[2017-06-13 18:17] veronikasav opened #1280 "Feature request"
Two suggestions:

1) ability to create custom groups and change settings for all apps in the group (not like the current way of all apps; modified vs unmodified)
2) a "Manage Apps" option in the floating menu that comes up after tapping "Touch to manage the
network" notification message

Ticket id: 1573860

[2017-06-13 18:37] nkartyshov commented on #1245
Fixed

[2017-06-13 18:37] #1245 closed

[2017-06-14 07:54] ameshkov commented on #799
@zebrum please check what exact firmware do they all use.

[2017-06-14 09:01] DrDidi commented on #1279
Pls retain the rules order when ex-/importing (unlike today: https://forum.adguard.com/index.php?threads/bug-user-filter-import-puts-rules-in-random-order.22561/)

[2017-06-14 09:21] altokarev commented on #799
Xiaomi Mi4c@MiuiPro 6.8.25 (Android 5.1.1)
Xiaomi Redmi 4@MIUI 8.2.4.0 (Android 6.0.1)
Xiaomi Redmi 4 pro@MIUI 8.2.4.0 (Android 6.0.1)

[2017-06-14 09:58] zebrum commented on #1224
@TPS it's easy to reproduce.
On the other hand when you change settings with Bulk change option, they are applying correctly.

[2017-06-14 09:59] ameshkov commented on #1269
Resolved by https://github.com/AdguardTeam/HttpsExclusions/commit/4f2fd325cd2f0808fded563d5210a725ad7f58b2

[2017-06-14 09:59] #1269 closed

[2017-06-14 10:51] ameshkov commented on #35
@TPS not sure about their requirements for the commercial products. Sent an inquiry, let's wait for the answer.

[2017-06-14 10:54] ameshkov commented on #1272
[code]

[2017-06-14 10:56] ameshkov commented on #1272
@Michael23456 please ask user to collect "record everything"-level log

[2017-06-14 11:40] ameshkov commented on #973
Found it, thank you very much!

Here's what happens.

GMS establishes a secure connection with `instantmessaging-pa.googleapis.com`. When HTTPS filtering is disabled, everything is simple -- AG transparently tunnels traffic for this domain.

When it is enabled, AG tries to handle it as if it was regular HTTP protocol, which is a mistake as it's not. AG tries to read request data, but the thing is

[2017-06-14 13:19] Angel497 opened #1281 "Add EasyList Lithuanian filter"
Hello could you create a Lithuanian filter for android thank you.

[2017-06-14 13:26] vozersky commented on #1281
Hi! I don't think we are not going to develop our own Lithuanian filter at this moment, but we should be able to add EasyList Lithuanian filter to Adguard for Android

[2017-06-14 13:26] vozersky commented on #1281
@Alex-302 what do you think?

[2017-06-14 13:27] Alex-302 commented on #1281
@vozersky use search

<details>

![image](http://imagizer.imageshack.com/img922/6092/EFilHO.png)
</details>

[2017-06-14 13:29] Angel497 commented on #1281
I really appreciate that if you could thank you for your hard work.

2017 birž. 14 16:26 "Vladimir Ozersky" <notifications@github.com> rašė:

[2017-06-14 13:30] vozersky commented on #1281
@Alex-302 we do discuss Android application here