[2019-07-08 08:11] artemiv4nov commented on #2579
@moonspeak the problem solved in latest nightly 3.1.77. Update Adguard and check it please.

[2019-07-08 08:13] admitrevskiy commented on #2835
Done.

Testing instructions for QA:
- Reinstall AG
- Enable DNS filtering
- Try to reach any non-existing web site
- You'll see `NXDomain` response in `DNS Answer` section

[2019-07-08 08:15] Chinaski1 commented on #2857
We are waiting for a response from the user

[2019-07-08 08:15] admitrevskiy commented on #2852
Resolved.

Testing instructions for QA:
- Reinstall AG
- Enable DNS Filtering
- Surf the web
- Go to `Filtering Log`
- You'll see first DNS Answer or response code instead of `dns://<request_url>` in query log item

[2019-07-08 08:18] admitrevskiy commented on #2847
@TPS hi!
Yes, you're absolutely right. Please select 0 or 2 to use assigned IP for DNS filtering.

[2019-07-08 08:23] admitrevskiy commented on #2847
Done.

Testing instructions for QA:
- Reinstall AG
- Enable DNS filtering
- Add two DNS user rules: `||example.com^` and `0.0.0.0 example.org`
- Go to `example.com` and `example org`
- Examine filtering log: both requests should be blocked with NXDomain response
- Go to Low-level settings
- Change `pref.dns.blocking.type` to `0`
- Visit `example.com` and `example.org`
- Examine filtering log: `exa

[2019-07-08 08:40] artemiv4nov commented on #2723
Done in #2815

[2019-07-08 08:53] TheHasagi commented on #2866
@patrickdrd

Please, provide the link to that browser

[2019-07-08 09:29] patrickdrd commented on #2866
I think it's similar to this issue:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2861

adm browser needs to be added to the known browsers list

there isn't a direct link for the browser app,
because the browser is a component of the adm app:
https://play.google.com/store/apps/details?id=com.dv.adm

I tested on a rooted device (certificate is in system store) and
https filtering works f

[2019-07-08 09:34] patrickdrd opened #2891 "cosmote apps don't work with https filtering on (certificate in system store/root)"
I checked all (or almost all) my apps with https filtering on (certificate in system store),
all of them worked, even banking apps,
the only ones that refused to work were the two cosmote carrier apps:
https://play.google.com/store/apps/details?id=gr.cosmote.myaccount.widget
https://play.google.com/store/apps/details?id=gr.cosmote.whatsup

one of them wasn't opening and the other was saying that I

[2019-07-08 10:08] Alex-302 commented on #2892
@TheHasagi please check it.

[2019-07-08 10:44] TPS commented on #2847
@admitrevskiy I think there needs to be (for those few folks who use such) a way to generally use `NXDOMAIN` for blocked/null IPs ***&*** the otherwise `hosts`-assigned IPs, though I dunno whether that should be a (default) modified option № 1, or a new option № 3.

[2019-07-08 10:46] patrickdrd opened #2893 "no encrypted sni when using dns-over-https?"
I'm using dns-over-https (cloudflare) and
when testing with this page:
https://www.cloudflare.com/ssl/encrypted-sni/

it says I don't have encrypted sni

same thing with dns-over-tls

why is that?

I don't know much about the subject,
but is it possible to have encrypted sni?

[2019-07-08 11:21] ameshkov commented on #2812
Not necessary as we have this on the main screen already

[2019-07-08 11:21] #2812 closed

[2019-07-08 11:23] ameshkov opened #2894 "Fix root+proxy mode on Android Q"
Due to the new selinux policies, we cannot read `/proc/net*` contents from a user proccess.

The only way to do this would be to keep the root shell open and use it to read the `/proc/net*` contents.

[2019-07-08 11:33] ameshkov opened #2895 "New onboarding for the app"
We need to improve onboarding screens.
Abstract link: https://app.goabstract.com/projects/390262b0-c732-11e8-a52a-07ba12563bc0/branches/8bfac923-3797-40d6-8000-715baf004501/commits/977ce3f4913be876e6c902fca13f4fff82359999/files/2D40F76F-39DE-427A-B340-D1B75AE22F46/layers/C25A999F-80C7-40CE-B197-DC6EE4266B4B?mode=design

[2019-07-08 11:34] ameshkov opened #2896 "Better HTTPS filtering flow"
1. We need to add an animated explanation of how https filtering works;
2. We need to allow enabling it right from the main screen;

[2019-07-08 11:35] ameshkov opened #2897 "New purchase flow"
See the diagram
https://app.goabstract.com/projects/390262b0-c732-11e8-a52a-07ba12563bc0/branches/8bfac923-3797-40d6-8000-715baf004501/commits/977ce3f4913be876e6c902fca13f4fff82359999/files/2D40F76F-39DE-427A-B340-D1B75AE22F46/layers/1221947E-3B1D-4C0D-8C75-50CDB9CBFBBE?mode=design

Well, we need to design the UI with animation transitions like on the diagram from `Abstract`.

[2019-07-08 11:35] ameshkov opened #2898 "New onboarding flow"

[2019-07-08 11:48] versavius opened #2899 "MAC address spoofing in stealth mode"
TFL for London who operate the London underground have started tracking users via their mac address, your mac gets recorded when it pings a TFL wifi hotspot not when your connected only when pinging it.

So the stealth tracking we have in the adguard app is kind of defeated, is there any plans to randomise the mac of wifi and/or bluetooth ?

The current TFL solution to opt out is to turn off your

[2019-07-08 11:58] Revertron commented on #2899
MAC randomization is done on driver level by the OS.
If you have an old OS with root, you can change your MAC as you wish.

[2019-07-08 12:24] versavius commented on #2899
I can't downgrade and going to an old os undoes the point of making everything more secure by introducing bugs and security issues that the newer is fixed.

[2019-07-08 13:17] sfionov opened #2900 "Update CoreLibs to 1.4.79"
### V1.4.79 (hotfix!)
* [Fix] Crash while loading filter rules: AdguardTeam/CoreLibs#1005

[2019-07-08 13:27] admitrevskiy commented on #2887
Done.

[2019-07-08 13:50] admitrevskiy commented on #2900
Done.

[2019-07-08 13:50] admitrevskiy commented on #2888
Resolved in #2900

[2019-07-08 14:26] Chinaski1 commented on #2848
Still the same.

[2019-07-08 15:20] AlikhanAliev commented on #2807
https://share.goabstract.com/cfc4a7d3-5a89-4c26-8019-917095b1cb83?mode=design&sha=97dda325b85a28879064c5e6fd36a1471ba58d90

[2019-07-08 15:57] ameshkov opened #2901 "New activation flow"
1. Use auth.adguard.com for authentication and activation;
2. Don't send the current license key with every status request (otherwise, you cannot simply unbind it on the website);
3. @AlikhanAliev we need a proper design for the auth page;

See the diagram:
https://share.goabstract.com/d531126c-606e-45a1-9dfb-82e19963ab65?sha=0399b6302543d864677768eb26d46cf3e580fb11

[2019-07-08 16:08] ameshkov opened #2902 "Refactor LongRunningTask class"
We need a central "manager" of the "long-running tasks".

This should fix issues like this:
1. Start some long-running operation
2. Minimize the app
3. Open it again
4. You don't see the progress dialog anymore, but in fact, the operation is still in progress.

[2019-07-08 16:09] #2898 closed

[2019-07-08 18:23] Alex-302 commented on #2867
Reproduced in 3.1.83n after clean install and import settings with dark theme. The rule was added using Assistant.

[2019-07-09 02:58] panda-mute commented on #2780
@TheHasagi @Chinaski1
It is long time for this issue.

I have tried openvpn/wireguard/shadowsocks, any of them can show vpn icon in status bar.
But the adguard can't work? Could you check this issue with priority.

MIUI10: 9.7.4
Adguard: 3.1.84 night

[2019-07-09 08:37] ameshkov commented on #2890
Tbh, I don't think we need this for the main activity.

Quick shortcut idea, on the other hand, makes perfect sense.

[2019-07-09 08:49] TheHasagi opened #2903 "The text below the license type is wrong"
The text below the license type is wrong

### Steps to reproduce

1. Open AdGuard
2. Close AdGuard
3. Open AdGuard
4. See the screenshot attached below

<details><summary>Screenshot:</summary>

![img](https://uploads.adguard.com/TheHasagiz3u4s.jpg)

</details>

[2019-07-09 09:20] TheHasagi opened #2904 "Protection status bar issue"
If you activate the license and relaunch AdGuard (example) and activate all functions except one protection status bar will show you what has been missed. The license status is checked (and it’s normal) but if you tap on it you will see the offer to buy a premium license (that is wrong). See the screenshot.

### Steps to reproduce

1. Open AdGuard
2. Check with all protection settings except one
3

[2019-07-09 09:23] chernikova-yana commented on #2870
Bottom dividers
@admitrevskiy

- Home/Settings/DNS Filtering/SelectDNSserver/RecommendedDNSproviders/Quad9
- Home/Settings/StealthMode/description(Stealth Mode module protects your identity…)
- Home/Battery Usage/description(When AdGuard is on...)
- Home/Settings/Network/Proxy/description(A proxy server is...)
- Home/under the date and above Ads blocked

[2019-07-09 13:56] TheHasagi commented on #2765
Steps to reproduce:

1. Run AdGuard at first time
2. Try to start the protection
3. When you will see the message that explains about VPN, change orientation to landscape and back again until it stuck.

[2019-07-09 14:15] jslawler opened #2905 "FairEmail - Outlook Timeout"
### Steps to reproduce

1. Install FairEmail with Outlook account
2. Sync email
3. Email sync timeout

### Expected behavior

Email synchronised.
### Actual behavior

Email is not synchronised, and the following error occurs.

`Couldn't connect to host, port: outlook.office365.com, 993; timeout 20000 failed to connect to outlook.office365.com/2603:1016:401:1003::2 (port 993) from /2001:db8:ad:0:ff

[2019-07-09 14:32] TheHasagi commented on #2864
The user filter counts wrong after importing settings until you add or remove some of the existing rules.

[2019-07-09 15:38] TheHasagi opened #2906 "Error while saving exported settings json file (replace with existing)"
If you try to export the settings with the same as existing one it should ask you to replace the item or no, actually it saves the file with <name>(1).json format, but shows an error message (see the screenshot)

### Steps to reproduce

1. Open Adguard - settings - general - export settings - save the file with a name a.json
2. Go back to general - export settings - try to save the file with name

[2019-07-09 16:23] TheHasagi commented on #2903
Milestone is wrong :)

[2019-07-09 16:55] Chinaski1 commented on #2848
Last nightly version - fixed.

[2019-07-09 16:55] #2848 closed

[2019-07-10 07:13] patrickdrd opened #2907 "facebook & messenger images not shown (https issue)"
besides the issues with the cosmote apps I posted here:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2891

I found another issue with facebook apps (facebook & messenger):
when https filtering is on for these two and dns is dns-over-https (cloudflare or google, doesn't matter),
issues with images arise, they aren't shown, just a circle in the center and
when I press it nothing happens,

[2019-07-10 08:40] patrickdrd opened #2908 "many app restarts (Initializing exception handler with enabled OutOfMemory handling) - can adguard run on old(er) devices?"
I've installed adguard on an older device running android lollipop, with 1gb ram (rooted) and
I've noticed it restarts often,
my latest setup is system store certificate and I switched to local proxy,

I'm attaching the log:
[4_5848345559806510494.log](https://github.com/AdguardTeam/AdguardForAndroid/files/3376535/4_5848345559806510494.log)

[2019-07-10 08:54] Revertron commented on #2908
Try these steps:
1. Disable battery optimization for AdGuard in OS settings.
2. Enable persistent notification in AdGuard.
3. Disable DNS-filtering module, and any not so needed filters. It will free some memory and OS will not kill AdGuard every time RAM is needed.
4. Try to enable `pref.root.set.oom_adj` flag in low-level settings in AdGuard. It will periodically rise priority of AdGuard's proce

[2019-07-10 09:03] patrickdrd commented on #2723
can somebody give an example to see if and how it works?

[2019-07-10 09:27] patrickdrd commented on #2908
I didn't know about this setting, your low-level settings guide is out of date I think:
https://kb.adguard.com/en/android/solving-problems/low-level-settings
I changed in on my nougat device too

[2019-07-10 09:38] sfionov commented on #2908
There are strange CoreLibs error messages of bufferbloat. May be it triggers the crash. If it happens often, can you provide debug log?

[2019-07-10 09:42] patrickdrd commented on #2908
what do you mean? I provided debug log? do you mean another? or logcat?

[2019-07-10 09:50] sfionov commented on #2908
Provided log is written without debug log level on :(
Can you please write debug log?
To write debug log, change logging level to "Record everything" in Advanced settings. After issue is reproduced, export logs using application (this function cuts off some sensitive data like cookies from your logs) and send it to devteam@adguard.com.

[2019-07-10 09:55] admitrevskiy commented on #2870
Done.

[2019-07-10 10:46] TheHasagi commented on #2762
Ask a customer to check for the updates and try to reproduce the issue.

[2019-07-10 12:28] TheHasagi commented on #2735
Not solved.

[2019-07-10 12:35] admitrevskiy opened #2909 "ClassCastException in SettingsDangerousFragment"
Crash from Sentry:
https://sentry.adguard.com/adg/adguard-android-rs/issues/14614/?query=is:unresolved%20ClassCastException

[code]

[2019-07-10 13:47] artemiv4nov opened #2910 "Refactor exporting/importing of settings"
We need exporting/importing of application settings with versioning.

[2019-07-10 15:29] admitrevskiy commented on #2325
`ipv6Available` flag is not used since we've reworked the DNS module and don't use `DnsUpstream` anymore.
Thus, `NetworkUtils.hasIPv6Network()` check not breaks IPv6 VPN connection with IPv4-only connection.

Testing instructions for QA:
- Reinstall AG
- Enable `Local HTTP proxy auto mode`
- Enable DNS filtering
- Enable IPv6 VPN (for example, `Nord VPN`)
- Surf the web
- Examine Filtering Log for

[2019-07-10 15:40] admitrevskiy commented on #2909
Done.

Testing instructions for QA:
*To reproduce this issue repeat the following steps*:
- Install nightly version from v3.1.77 to v3.1.86
- Export settings
- Import settings
- Go to `Settings -> Advanced -> Low level Settings`
- AG will crash
- Try to enable DNS filtering and protection
- AG will not start the protection

*To check the bugfix*:
- Reinstall AG
- Try to reproduce the steps

[2019-07-10 15:53] gontazaka opened #2911 "Is $protobuf rule not supported on Android?"
I've checked the issue and filter below. seems to support it
- issue: https://github.com/AdguardTeam/AdguardForAndroid/issues/573
- filter: [AdGuard Mobile Ads filter](https://filters.adtidy.org/windows/filters/11.txt)

### Steps to reproduce

1. Add following rules to User Filter
`||googleapis.com/youtubei/v1/search?$protobuf=1|2|3`
2. Search in the YouTube app

### Expected behavior

The search

[2019-07-10 17:17] admitrevskiy commented on #2735
Done.
@TheHasagi  please check it in the next build.

[2019-07-10 20:42] ameshkov opened #2912 "Some HTTPS tunnel connections URLs have tcp:// prefix"
This needs to be looked into.

It looks like an "empty" connection with no data actually sent through it. Anyways, it should've had `https` protocol and not `tcp`.

_Originally posted by @SergeiShir in https://github.com/AdguardTeam/AdguardForAndroid/issues/2863#issuecomment-508896738_

[2019-07-10 20:43] ameshkov commented on #2863
@SergeiShir thank you for the details! I've created a new issue for this case: https://github.com/AdguardTeam/AdguardForAndroid/issues/2912

[2019-07-10 20:44] #2911 closed

[2019-07-10 20:44] ameshkov commented on #2911
Issue moved to [AdguardTeam/CoreLibs #1018](https://github.com/AdguardTeam/CoreLibs/issues/1018) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-10 20:46] #2723 closed

[2019-07-10 20:47] ameshkov commented on #2723
https://moz.com/blog/accelerated-mobile-pages-whiteboard-friday

Currently, AG can suppress AMP pages on Google search results page only.

[2019-07-10 20:48] ameshkov commented on #2907
Do you have the certificate moved to the system store?

[2019-07-10 20:48] ameshkov commented on #2907
Ah, sorry, I see that you have.

[2019-07-10 20:52] ameshkov commented on #2905
Well, IPv6 is unavailable so that's why. The question is why is it not trying IPv4.

This issue needs to be re-tested when this issue is fixed: https://github.com/AdguardTeam/CoreLibs/issues/993

[2019-07-10 21:10] jslawler commented on #2905
I've subscribed to #993 and will re-test when that issue is closed out.

[2019-07-11 07:08] patrickdrd commented on #2723
yes, I need an example of that to see how it works with this extension enabled and without it,
I searched but I couldn't find one,
e.g. tell me search on google for.. what?
and check the result.. which?

[2019-07-11 07:13] patrickdrd commented on #2908
nevermind, I uninstalled it because, besides the AG restarts, I noticed high cpu usage too,
I think android was killing it (even though I've had a persistent notification for it) because AG demands much memory and
this device doesn't have (only 1gb),
so I can say that AG has become good with so many functions etc but it wouldn't be recommended for older, low-end devices

[2019-07-11 07:13] #2908 closed

[2019-07-11 07:44] versavius opened #2913 "[Feature Request] Randomise MAC and IP when pinging / connecting to a wifi point"
I know we can fake the IP address in adguard, but just a thought what about randomising the IP address and Mac address every time we ping or connect to a wifi point?

You are getting companies like this one below which is tracking people by IP address:

https://www.theregister.co.uk/2019/07/10/netlify_log_analytics/

and TFL tracking by mac address:

https://www.wired.co.uk/article/london-undergro

[2019-07-11 07:46] Revertron commented on #2913
Duplicate of #2899.

[2019-07-11 07:46] #2913 closed

[2019-07-11 07:49] Revertron commented on #2899
@versavius You didn't understand me :)
If you have Android 9, it will randomize your MAC on its own.
If you have older Android version you need to make it by yourself.

[2019-07-11 07:50] versavius opened #2914 "[Feature Request] Blocked Threats"
Adguard is great for blocking threats and i can see the number of threats blocked but it would be nice to know what the threats were and where they came from so i can avoid those sites in the future?

Is it possible that when we click on the "threats blocked" it gives us a little log file or something of what was blocked?

Thanks

[2019-07-11 08:02] versavius commented on #2899
Ahh ok thanks ! apologies ! i am on android 9

[2019-07-11 08:07] versavius commented on #2899
This actually does details about this feature:

https://www.androidpolice.com/2018/03/08/android-p-feature-spotlight-per-network-mac-address-randomization-added-experimental-feature/

Ok so it looks like the old implementation only randomized 'probe' requests for a network (so established connections still revealed the real MAC), while Android P uses the randomized address for the actual connectio

[2019-07-11 08:20] patrickdrd opened #2915 "transparent updates?"
can the updates of filters etc be made transparent?

I mean when updating, AG goes down for quite a long time,
at least for me that I'm using 20 filters + one dns filter,
I have to wait for 2-3 minutes till it starts again,
and for that time the device is either unusable or I will have to bear ads,

have you thought of an implementation that this process would be made transparent?
I mean update wi

[2019-07-11 10:18] artemiv4nov opened #2916 "Fix protection status under main switch"
we need fix area under main switch.

[2019-07-11 10:59] TheHasagi opened #2917 "Analyze logs and Add Kaspersky internet security to the exceptions by default"
We need analyze logs to set the reason of application net connection breaking.

if logs will be clear, please, add the `com.kms.free` package to the filtering exception list.

[2019-07-11 13:07] ameshkov commented on #2723
Here's how it looks like:
https://uploads.adguard.com/up04_grcde_what_is_amp_pages_-_Google_Search.png

There are quite a lot of AMP pages so whatever you're googling, you'll find one in the search results

[2019-07-11 13:15] TheHasagi commented on #2893
@patrickdrd

Not related to AdGuard, better to ask it [here](https://support.mozilla.org).

[2019-07-11 13:15] #2893 closed

[2019-07-11 13:30] patrickdrd commented on #2723
ok, so I run the google search for accelerated mobile pages, I reach to the result in the screenshot you posted (with the thunder) and
I open it (with disable amp enabled),
then I open adguard, I disable "disable amp" refresh the google search page and I hit the same result,
I can't notice any difference!

[2019-07-11 13:30] artemiv4nov commented on #2915
Duplicate of #2881

[2019-07-11 13:30] #2915 closed

[2019-07-11 13:32] ameshkov commented on #2723
You might need to clear the cache as well

[2019-07-11 13:44] ameshkov opened #2918 "Intercept abp:subscribe and adguard:subscribe links"
This is useful for adding custom filter lists. For instance, from this website: https://filterlists.com/

[2019-07-11 13:46] patrickdrd commented on #2723
nah, I cleared it and launched the page many times with and without "disable amp",
I'm seeing the same page each time,
I think I'm seeing the amp page,
can you do it and post the two screenshots of the page?

[2019-07-11 13:48] ameshkov commented on #2723
Normal page:
![2019-07-11 16 48 19](https://user-images.githubusercontent.com/5947035/61056274-b62c8300-a3fb-11e9-995f-be7733da2a5e.jpg)

AMP page:
![2019-07-11 16 48 14](https://user-images.githubusercontent.com/5947035/61056275-b62c8300-a3fb-11e9-9a4d-153e56101424.jpg)

[2019-07-11 14:02] patrickdrd commented on #2723
thanks, I understood that I can see if a page is an amp page by viewing its link,
one of these screenshots show that it is google.com/amp url,
anyway, no matter what I tried I cannot get amp pages to show,
and this is what I've tried:

I disabled "disable amp", I even deleted it completely (!),
I cleared chrome's cache and forced close chrome,
I searched in chrome for "accelerated web pages" and
I

[2019-07-11 14:52] ameshkov commented on #2875
resolved in `adguard-android/pull-requests/1330`

[2019-07-11 15:22] TheHasagi commented on #2891
Well, the apps are working fine. Seems like you did more than just restricted graph.facebook.com for these apps. Can you export your settings and send it to support@adguard.com (note my nickname in the message so I’ll be able to check)

[2019-07-11 15:47] ameshkov commented on #2723
Maybe you have custom user-agent configured in the stealth mode settings

[2019-07-11 15:48] ameshkov commented on #2891
@TheHasagi root + cert in the system store

[2019-07-11 15:54] patrickdrd commented on #2723
nope, neither this nor blocking graph.facebook.com for these apps, I've sent my settings at support@adguard.com as alexander said

[2019-07-11 18:11] adguard-bot opened #2919 "tamtam.chat"
### Issue URL (Incorrect Blocking)
[https://tamtam.chat/](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Ftamtam.chat%2F)
### Comment

### Screenshots
<details>
  <summary>Screenshot 1</summary>

  ![Screenshot 1](https://reports-img.adguard.com/c6XaCVC.png)
</details>
<details>
  <summary>Screenshot 2</summary>

  ![Screenshot 2](https://reports-img.adguard.com/qyk

[2019-07-12 08:28] TheHasagi commented on #2891
@ameshkov

Affirmative, tested with rooted Nexus 6p. Apps are working fine.

[2019-07-12 09:24] patrickdrd commented on #2891
with my settings?

I've sent the settings, nobody responded.. yet

also, the settings I've sent are modified,
https filtering is disabled for these apps,

and last but not least, ok the cosmote app loads,
but this doesn't mean that it works,
because as soon as it loads there's a message saying "network not available" (in greek),
the right option is connect again (in greek again),
but no matter how

[2019-07-12 10:30] TheHasagi commented on #2891
@patrickdrd

Got your settings. But it’s impossible to test these apps without carrier service. We will add them to the exclusion list, thanks.

[2019-07-12 10:35] TheHasagi opened #2920 "Add COSMOTE and whatsup application to the exclusions"
Please add these apps to the https exclusion list. #2891

COSMOTE:
gr.cosmote.myaccount.widget
gr.cosmote.myaccount.widget.Activities.SplashScreenActivity

Whatsup:
gr.cosmote.whatsup
gr.cosmote.whatsup.Activities.MainUserScreenActivity

[2019-07-12 10:35] #2891 closed

[2019-07-12 10:36] patrickdrd commented on #2891
no, it's not impossible, I first noticed the problem when I was connected with wifi (no sim card on this device at all)
also, I connected two or three times today with a sim of a different carrier,
anyway, do what you think it's best

[2019-07-12 11:55] versavius commented on #2899
Just a bit more information about mac address tracking:

You are getting companies like this one below which is tracking people by IP address:

https://www.theregister.co.uk/2019/07/10/netlify_log_analytics/

and TFL tracking by mac address:

https://www.wired.co.uk/article/london-underground-wifi-tracking

So it looks like its just a matter of time before companies start tracking by IP and mac ad

[2019-07-12 14:31] admitrevskiy commented on #2864
Done.

@TheHasagi please, check this issue in the next nightly build

[2019-07-12 21:18] akmLaVx opened #2921 "Feature request: Make the update screen to display which filters were updated immediately"
### Steps to reproduce
1. Update to 3.1.84n+
2. Update filters through the new Update screen
3. Tap on "Filter updates" to have AdGuard display which exact filters have an update available or were updated

### Expected behavior
AdGuard should display update data immediately, without a tap

### Actual behavior
AdGuard displays this data after a tap

<details><summary>Screenshot:</summary>

![img](h

[2019-07-12 21:29] akmLaVx commented on #2920
Filtering log records from the original submitter: 1648013

[2019-07-13 00:35] DitFranXX opened #2922 "Update notification's `Learn More` causes filter update."
Because of new design ofapplication update, It triggers filters update which It wasn't and I don't what. (I uses near 100MiB filters). This is little bit questions.

### Steps to reproduce

1. Receive update notification
2. Extend Update notification
3. Touch the `Learn More`
4. Filters and User.js are updating.

### Your environment

* Adguard version: 3.1.84n

[2019-07-13 11:25] versavius opened #2923 "[Feature Request]"
Ok so I have a niggling issue, it's not a pic oblem but take the app in this screenshot I can see 7 adverts blocked which is great but since I paid for this app there should be no ads, so no issue with adguard as it's doing what it's meant to :)

What would be good is if I could click on each or the blocked items and get a filtered log of those items, it would it super easy to then go back and cha

[2019-07-13 12:06] ameshkov commented on #2842
We cannot reproduce this even on the same test devices.

Here's what we need to troubleshoot:

1. Logcat: https://kb.adguard.com/en/android/solving-problems/logcat
2. AdGuard's own load (settings -> advanced -> export logs)
3. The exact time when it happened

[2019-07-13 18:48] TPS commented on #2781
Another app that works perfectly w/ HTTPS filtering is
- Our Daily Bread → org.rbc.odb

[2019-07-14 08:59] TPS commented on #2833
@ameshkov What would be the best way to use said FQDN list in AG?  It doesn't really work as a custom user filterlist, but it's also not really a `hosts` file, either.…

[2019-07-14 11:41] larbolo opened #2924 "Random performance on galaxy s4"
###Actual behavior

started using the beta app about 2 days ago and have noticed some heavy processing overheat and a noticeable constant slow WIFI connection.
Note: all filters are running at the same time + the adguard dns server and the Https certification anyway
so the phone vulnerability can be the problem itself

**User ID**: 2261511

### environment :
* Adguard version: beta
* Adguard filte

[2019-07-14 15:33] patrickdrd commented on #2842
it happens to me too,
I'm attaching logcat and log files:

[adguard_logs_3.2.95_1407_183159.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/3390087/adguard_logs_3.2.95_1407_183159.zip)

[2019-07-14-18-29-42.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/3390086/2019-07-14-18-29-42.txt)

the time it happened should be around 18:25:
`java.lang.RuntimeException: javax.net.ssl

[2019-07-14 15:48] patrickdrd commented on #2842
what are all these

`TLS connection is not HTTPS, adding 'com.facebook.katana#157.240.20.15:443#graph.facebook.com' to exceptions
TLS connection is not HTTPS, adding 'com.facebook.katana#157.240.20.35:443#b-api.facebook.com' to exceptions
TLS connection is not HTTPS, adding 'com.facebook.katana#157.240.20.35:443#b-graph.facebook.com' to exceptions
TLS connection is not HTTPS, adding 'com.facebook.

[2019-07-15 02:41] djdelarosa25 opened #2925 "AdGuard breaks Google sync"
### Steps to reproduce

1. Install AdGuard, don't configure anything. Just enable it and accept the prompt to enable VPN.
2. Go to Settings>Accounts>tap on your Google account>Account sync>tap on the three-dot icon on the top right>Sync now

### Expected behavior
All parameters should sync instantly.

### Actual behavior
Only the Google Fit data and People details parameters actually sync. The res

[2019-07-15 04:44] akmLaVx commented on #2842
Progress update:

2228088 reports that the issue cannot be reproduced when his phone is connected to a PC. Asked for clean logcat logs, just for the case.
1557976 had encountered problems while installing ADB/Fastboot; ADB fails to recognize his device.

2240216, 1889438, 1254045, 2045896, 1562409: logs requested. Waiting for response.

[2019-07-15 07:22] versavius commented on #2899
Interestingly enough some researchers have just proven how the mac address randomisation of Bluetooth does not work and you can track the users:

https://www.theregister.co.uk/2019/07/12/untraceable_bluetooth_exposed/

So unless we really randomise our mac address all our stealth attempts are a tad limited.

[2019-07-15 07:50] TheHasagi commented on #2921
@akmLaVx

This is correct behaviour, updated filters are shown after a tap.

[2019-07-15 07:51] akmLaVx commented on #2921
Yeah, that's how it behaves now. The user wants the updated filters to be displayed immediately, without a tap.

[2019-07-15 09:07] BlazDT commented on #1638
https://play.google.com/store/apps/details?id=com.fortuneo.android

[2019-07-15 09:32] Revertron commented on #2921
Other users want fully silent updates :)

[2019-07-15 10:40] admitrevskiy commented on #2773
Done (v3.3)

Testing instructions for QA:
- Reinstall AG
- Tap on AG version in `About` screen

Expected result:
- AG and CL versions will be copied to the clipboard

[2019-07-15 10:52] zzebrum commented on #2923
@versavius I think [that's](https://github.com/AdguardTeam/AdguardForAndroid/issues/2412) what you want.

[2019-07-15 10:52] #2923 closed

[2019-07-15 10:58] artemiv4nov commented on #2912
Waiting for fix in https://github.com/AdguardTeam/CoreLibs/issues/1029

[2019-07-15 11:00] zzebrum commented on #2925
@TheHasagi please check

[2019-07-15 11:46] admitrevskiy commented on #2625
Done (v3.3)

Testing instructions for QA:
- Reinstall AG
- Examine new section in StealthMode screen

Expected result:
- You can not select any protection level if StealthMode is disabled
- You can not change `Custom` settings if selected level is `High` or `Paranoid`
- If you change Protection Level to `Custom`, change settings,  then switch back to `High` or `Paranoid` and again enable `Custom`

[2019-07-15 12:47] artemiv4nov opened #2926 "Use Crowdin instead of OneskyApp"
Now we're using OneskyApp for getting translation for Android application.

We should move existing translations to Crowdin.

[2019-07-15 13:01] versavius commented on #2923
Yes thats right ! were basically talking about wanting the same thing here:

https://github.com/AdguardTeam/AdguardForAndroid/issues/2412

[2019-07-15 13:03] versavius commented on #2412
This was what i was asking about under #2923 if we could access what we blocked etc that would be awesome :)

Can we not output the stats to a log file or something? But then how do we prevent eating up the devices hard disk space with a log file that will just get massive ?

[2019-07-15 13:20] zzebrum commented on #2924
@larbolo, first of all, try to use recommended filters only, e.g. filters enabled by default + some language-specific filters if you need. Not a good idea to enable all filters.

[2019-07-15 13:22] larbolo commented on #2924
ok, i will

[2019-07-15 13:43] admitrevskiy commented on #2843
Done (v3.3)

Testing instructions for QA:
- Reinstall AG
- Reset license
- Go to any premium feature screen (Stealth Mode, Extensions or Browsing Security)

Expected result:
- You can visit premium feature screen
- Tap on switch will lead you to Promo screen

[2019-07-15 14:02] TheHasagi commented on #2925
@djdelarosa25

Strange, unable to reproduce. Please, check with the latest [nightly build](agrd.io/android_nightly).

[2019-07-15 14:56] admitrevskiy commented on #2877
Done (v3.3)

[2019-07-15 17:33] Nzzyme commented on #2923
@versavius - You can always see the filtering log to see the connections that the particular app makes (Use filter and only show blocked entries).

[2019-07-16 08:02] djdelarosa25 commented on #2925
I did, no dice. Whitelisting the apps in the firewall worked, though.

[2019-07-16 14:09] Xophile opened #2927 "Firefox preview - Impossible to use HTTPS-filtering?"
### Steps to reproduce

1. Download Firefox preview on Play Store
2. Set as default browser
3. Start AG and enable HTTPS-filtering
4. Firefox preview starts but the certificate does not get imported

### Expected behavior

Certificate should get imported.

### Actual behavior

Nothing happens...

Also tried exporting the certificate to my local phone storage and import it from there. Does not work

[2019-07-16 14:10] sfionov opened #2928 "Update CoreLibs to 1.4.91"
* [Fix] Certificate verifier test is broken: AdguardTeam/CoreLibs#1023
* [Fix] CoreLibs v1.4.67 break twitch: AdguardTeam/CoreLibs#1002
* [Fix] Crash while loading filter rules: AdguardTeam/CoreLibs#1005
* [Fix] Unknown CA event sometimes doesn't contain session domain: AdguardTeam/CoreLibs#1031
* [Fix] url(...) style injections in cosmetic filters: AdguardTeam/CoreLibs#1026
#### Windows-specific

[2019-07-16 14:22] Xophile commented on #2927
Sorry if this is related to Firefox and not AG but I had to start somewhere...

[2019-07-16 14:27] sfionov commented on #2927
Duplicate of https://github.com/AdguardTeam/AdguardForAndroid/issues/2861

[2019-07-16 15:10] Spok1 opened #2929 "Проблемы с помощником!"
На андроид 5 в гугл хром через панель уведомлений нельзя оькрыть!  К тому же, на андроид Н, в браузере опера(не мини) ,при открытии журнала помощника не отображаются запросы,а на панель уведомлений пишет,что для этого приложения нет запросов!

[2019-07-16 17:01] admitrevskiy commented on #2797
Done (v3.3)

Testing instructions for QA:
- Reinstall AG on device with Android P+

1)
- Enable DNS filtering and select regular server
- Enable Private DNS in Auto mode
- Start protection

Expected result:
- You will see notification
- Tap in `Disable Private DNS` should lead you to `Android Wireless Network settings`
- Tap on `Change server` should lead you to `Select DNS server` screen
- Notifi

[2019-07-16 18:46] Xophile commented on #2861
Hi!

Is this a Firefox preview issue or AG?

[2019-07-16 18:53] Revertron commented on #2861
@Xophile https://github.com/mozilla-mobile/fenix/issues/2286

[2019-07-17 00:14] larbolo commented on #2924
performance improved after default settings reset
it looks like activating all filters at the same time wasn't a good idea at all

[2019-07-17 07:41] Eugene-Savenko commented on #2842
Find a logcat here: 2228088

[2019-07-17 12:08] Xophile commented on #2927
Sorry about the duplicate post. I did contact support via e-mail and they simply asked me to supply logs and screenshots. I then actually searched Github but didn't find anything. My bad!

[2019-07-17 14:10] lancelot-moon commented on #2315
This was done.
Now AG for Android can automatically detect a regular filter's name, or let users manually input filter's name while it's not a regular filter's name in the list.

[2019-07-17 14:10] #2315 closed

[2019-07-17 14:12] adbuker opened #2930 "Implement filter subscription detection message's handler"
related to https://github.com/AdguardTeam/AdguardForWindows/issues/2517
Now we have the custom URL protocol `adguard:subscribe` used in order to install new filter subscription (e.g. `adguard:subscribe?location=...`). The syntax is quite similar to the apb's custom protocol.
The detailed work scheme described in the related win's PR

[2019-07-17 14:48] sfionov opened #2931 "Update CoreLibs to 1.4.96"
* [Fix] Protocol TCP is passed instead of TLS in bypassed events: AdguardTeam/CoreLibs#1029 (#2912)

[2019-07-17 15:00] artemiv4nov opened #2932 "Walk through the structure of purchase flow"
We need to get a working structure between app and backend for purchase flow.

[2019-07-17 19:02] akmLaVx commented on #2842
One more user with this issue: 2075818. Requested logcats, waiting for reply.

[2019-07-17 19:51] ameshkov opened #2933 "Crash when resetting the low-level settings"
[code]

https://sentry.adguard.com/adg/adguard-android-rs/issues/29955/
https://sentry.adguard.com/adg/adguard-android-rs/issues/29466/

[2019-07-17 19:58] ameshkov opened #2934 "Minor UI issue with the main screen"
![](https://uploads.adguard.com/up04_l60w9_Untitled-2__105_Layer_2_RGB8_.png)

[2019-07-18 06:25] panda-mute commented on #2780
Append.

A ad block app adshield can work in MIUI10, so it is adguard issue truly.

Why there is no any update?

[2019-07-18 12:58] chernikova-yana opened #2935 "UI issue with the distribution graphs on the main screen"
**What:** distribution graphs that represent the quantity of ad's/trackers/threats blocked and saved data.
**Where:** on the main screen.
Issue: the dots are hard to tap and randomly represented.
**Goal:** we should replace the existing dots - that represent the quantity of ad's/trackers/threats blocked, saved data - with the vertical lines.
**Mockup:** https://share.goabstract.com/b95f2097-0ed0-4

[2019-07-18 13:12] chernikova-yana commented on #2935
@AlikhanAliev
@admitrevskiy

[2019-07-18 14:18] Spok1 opened #2936 "Ошибка фильтрации!"
### System configuration

Information                            | Value
---                                          | ---
Platform:	|And 7.0.2
Device model:|Z500M
Root:|No
AdGuard version:	|v3.1.0 (1.3.347cl)
Browser:	|Opera
AdGuard mode:	|VPN
Filtering quality:	|High-quality
HTTPS filtering:	|enabled
DNS requests blocking:	|disabled
Filters:	|AdGuard Russian,</br>AdGuard Mobile Ads,</br>AdGuard

[2019-07-18 14:35] admitrevskiy commented on #2818
Done partly. We should fix the following:
- Onboarding dialogs
- LowLevel Settings screen
- Replace ListViews with out custom views inside with RecyclerViews

[2019-07-18 16:32] admitrevskiy commented on #2879
Done (v3.3)

I've found no way to keep the same color of the navigation bar when a dialog is opened, because changed color is a part of a dialog.

[2019-07-18 16:55] AlikhanAliev commented on #2878
https://share.goabstract.com/8d1d4ce0-7e83-47c8-ab37-2894e7e9fd37?mode=design&sha=29cac72a0e3cf3d187f601c9c11b48e20613ee91

[2019-07-18 18:01] admitrevskiy commented on #2918
Done (v3.3)

Testing instructions for QA:
- Reinstall AG
- Go to https://filterlists.com/
- Try to subscribe for any filter

Expected result:
- In app with not activated license you will see Promo activity
- In app with activated license you will see `Add new Custom Filter` dialog with filled `url` field

[2019-07-18 21:32] artemiv4nov commented on #2912
Fixed in the latest nightly.

[2019-07-18 21:33] artemiv4nov commented on #2863
@SergeiShir Fixed in the latest nightly.

[2019-07-18 23:46] lancelot-moon opened #2937 "A wrong link to Tracking Protection filter on KB."
Need to fix it to the current link.
Outmoded:
https://kb.adguard.com/en/general/adguard-ad-filters#spyware-filter

Current:
https://kb.adguard.com/en/general/adguard-ad-filters#privacy

[2019-07-19 03:27] lancelot-moon opened #2938 "Let the period in the notification be localized when AdGuard is paused."
#2554258
until the Internet connection is back online

#43969278
Tap to resume

Disable `pref.vpn.disable.pause` in low level settings.
Disconnect from internet while AG protection is on.
We'll see the notification.
<details><summary>Screenshot:</summary>

![image](https://i.imgur.com/gmIfIzh.png)
</details><br/>

The Chinese symbol of period is "。", not ".".
I suggest to combine #2554258 and #439

[2019-07-19 07:03] SergeiShir commented on #2863
The situation is much better, but there are still multiple log entries that
show tcp://
Connections were made by these apps, at least:
WhatsApp
Google Play Store
Web browser

See the attached example screenshot

On Fri, Jul 19, 2019, 00:33 Artem Ivanov <notifications@github.com> wrote:

[2019-07-19 08:16] admitrevskiy commented on #2768
Done (v3.3)

Testing instructions for QA:
- Reinstall AG
- Reset license
- Go to Settings -> Three dots menu -> Quick Settings
- Tap on `Continue`
- Press `Block them`
- Select any premium privacy level
- Close Promo screen
- Press `Block them`

Expected result:
- You'll see `Select Privacy level` dialog again.

[2019-07-19 10:02] Chinaski1 opened #2939 "No gap in protection status in some languages"
European languages like Francais, Deutsch, Espanol. There is no space between, for example in Dutch it reads: **Bescherming isuit**  >> but it should be: **Bescherming is uit**.

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/49645813/61527362-ee981680-aa24-11e9-8055-e614f88af717.png)

</details>

### Your environment
AdGuard : Nightly 3.2.100

[2019-07-19 11:59] artemiv4nov commented on #2863
@SergeiShir can you send me logs and screenshots, please? devteam@adguard.com

[2019-07-19 12:20] OfficialNyTony commented on #2939
This will most likely be fixed later on upcoming versions. Pretty minor issue. Great point though!

[2019-07-19 12:33] OfficialNyTony commented on #2935
Related? https://github.com/AdguardTeam/AdguardForAndroid/issues/2934

[2019-07-19 12:47] SergeiShir commented on #2863
I sent the requested files by a separate email with this subject:
Debug files for Bug 2863 - AdGuard for Android

The logs were collected with "Record everything" setting
I opened the cnn.com in Chrome browser
and opened Google Play app

On Fri, Jul 19, 2019, 14:59 Artem Ivanov <notifications@github.com> wrote:

[2019-07-19 12:52] ameshkov commented on #2863
Logs are in ncloud

[2019-07-19 15:27] admitrevskiy commented on #2878
Done (v3.3)

[2019-07-19 18:13] anoop-b opened #2940 "Can't access Internet with airplane mode on and wifi turned on"
### Steps to reproduce

1. keep Adguard running & enabled
2. turn airplane mode on
3. turn on wifi

### Expected behavior

should have access to internet via wifi, with Adguard enabled.

### Actual behavior

can't connect to internet via wifi, with Adguard enabled

### Customer ID

### Your environment

* Adguard version: 3.2.100n
* Adguard filtering mode: Local Vpn
* Device model: OP6
* Operating

[2019-07-19 21:43] lancelot-moon commented on #2940
Can't reproduce on HTC U11 (Android 9).
BTW, a temporary solution:
Try disabling `pref.vpn.disable.pause` in low level settings.

[2019-07-20 04:19] Logster9982 opened #2941 "Move certificate to system store failure"
When you attempt to filter https for non browser apps, it will repeatedly keep asking for root ascess until you permanantly allow it, resulting in the error "error moving certificate to the system store" (LineageOS, Pixel XL, nightly build)

# Steps to reproduce

-  go to certificate status
-  click "move to system store"
-  allow root acess and remember choice

# Expected result

Https being filt

[2019-07-20 06:21] Eugene-Savenko commented on #2711
He responded 3 days ago:

I still have the same notification issue.

[2019-07-20 06:54] Eugene-Savenko commented on #2842
We have logcat from 1889438

[2019-07-20 08:32] lancelot-moon commented on #2939
#2362173
" enabled"

#2362174
" disabled"

T'hey're not "enabled" and "disabled".
There is a space there, but it's not clear.
That's why most translators didn't note this.
Simply solve them on onesky.

**Please don't add a space in your program codes.
It doesn't need a space there for some Asian languages.**

[2019-07-20 08:39] TheHasagi opened #2942 "Incorrect translation with "Protection is enabled" in other languages"
Strings are wrong.

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/37797229/61576449-eacac980-aae2-11e9-97d2-e45026f12e07.png)

![image](https://user-images.githubusercontent.com/37797229/61576455-f3230480-aae2-11e9-8008-81d53d389c61.png)

</details>

### Your environment

* Adguard version: 3.2.100n
* Adguard filtering mode: (e.g. Local VPN / HTTP Prox

[2019-07-20 08:42] TheHasagi commented on #2939
It's just a wrong translation strings.

[2019-07-20 08:47] lancelot-moon commented on #2939
I went to check Nederlands on onesky.
#2362173 and #2362174 were fixed by a translator on 23rd June, 2019.
But maybe the space is deleted when AG team took the translations from onesky.
Or something wrong.
You can check your locales files.

[2019-07-20 09:04] lancelot-moon commented on #2942
https://github.com/AdguardTeam/AdguardForAndroid/issues/2939#issuecomment-513449919
Check if the space is deleted when AG team took the translations from onesky.
Let translators decide to keep the space or not.
For some Asian languages (ex: Chinese, Japanese, Korean...etc.), we don't need a space there in our translations.

[2019-07-20 14:30] #2579 closed

[2019-07-20 14:30] #2787 closed

[2019-07-20 14:30] #2789 closed

[2019-07-20 14:30] #2794 closed

[2019-07-20 14:30] #2811 closed

[2019-07-20 14:30] #2814 closed

[2019-07-20 14:30] #2756 closed

[2019-07-20 14:30] #2764 closed

[2019-07-20 14:30] #2784 closed

[2019-07-20 14:30] #2884 closed

[2019-07-20 14:30] #2888 closed

[2019-07-20 14:30] #2900 closed

[2019-07-20 14:30] #2049 closed

[2019-07-20 14:30] #2769 closed

[2019-07-20 14:30] #2777 closed

[2019-07-20 14:30] #2803 closed

[2019-07-20 14:30] #2805 closed

[2019-07-20 14:30] #2810 closed

[2019-07-20 14:30] #2815 closed

[2019-07-20 14:30] #2837 closed

[2019-07-20 14:30] #2849 closed

[2019-07-20 14:30] #2854 closed

[2019-07-20 14:30] #2883 closed

[2019-07-20 14:30] #2368 closed

[2019-07-20 14:30] #2459 closed

[2019-07-20 14:30] #2681 closed

[2019-07-20 14:30] #2775 closed

[2019-07-20 14:30] #2806 closed

[2019-07-20 14:30] #2807 closed

[2019-07-20 14:30] #34 closed

[2019-07-20 14:30] #2707 closed

[2019-07-20 14:30] #2757 closed

[2019-07-20 14:30] #2763 closed

[2019-07-20 14:30] #2783 closed

[2019-07-20 14:30] #2816 closed

[2019-07-20 14:30] #2822 closed

[2019-07-20 14:30] #2844 closed

[2019-07-20 14:30] #2865 closed

[2019-07-20 14:30] #2718 closed

[2019-07-20 14:30] #2753 closed

[2019-07-20 14:30] #2785 closed

[2019-07-20 14:30] #2786 closed

[2019-07-20 14:30] #2788 closed

[2019-07-20 14:30] #2800 closed

[2019-07-20 14:30] #2808 closed

[2019-07-20 14:30] #2830 closed

[2019-07-20 14:30] #2030 closed

[2019-07-20 14:30] #2470 closed

[2019-07-20 14:30] #2672 closed

[2019-07-20 14:30] #2716 closed

[2019-07-20 14:30] #2748 closed

[2019-07-20 14:30] #2752 closed

[2019-07-20 14:30] #2754 closed

[2019-07-20 14:30] #2772 closed

[2019-07-20 14:30] #2782 closed

[2019-07-20 14:30] #2798 closed

[2019-07-20 14:30] #2819 closed

[2019-07-20 14:30] #2499 closed

[2019-07-20 14:30] #2700 closed

[2019-07-20 14:30] #2770 closed

[2019-07-20 14:30] #2804 closed

[2019-07-20 14:30] #2809 closed

[2019-07-20 14:30] #2825 closed

[2019-07-20 14:30] #2855 closed

[2019-07-20 14:30] #2869 closed

[2019-07-20 14:30] #1851 closed

[2019-07-20 14:30] #2796 closed

[2019-07-20 14:30] #2823 closed

[2019-07-20 14:30] #2858 closed

[2019-07-20 14:30] #2859 closed

[2019-07-20 14:30] #2860 closed

[2019-07-20 14:30] #2862 closed

[2019-07-20 14:30] #2874 closed

[2019-07-20 14:30] #2886 closed

[2019-07-20 14:30] #2835 closed

[2019-07-20 14:30] #2840 closed

[2019-07-20 14:30] #2852 closed

[2019-07-20 14:30] #2864 closed

[2019-07-20 14:30] #2880 closed

[2019-07-20 14:30] #2887 closed

[2019-07-20 15:13] #2735 closed

[2019-07-20 15:13] #2870 closed

[2019-07-20 15:13] #2903 closed

[2019-07-20 15:13] #2916 closed

[2019-07-20 15:13] #2933 closed

[2019-07-20 15:13] #2934 closed

[2019-07-20 15:13] #2325 closed

[2019-07-20 15:13] #2765 closed

[2019-07-20 15:13] #2867 closed

[2019-07-20 15:13] #2909 closed

[2019-07-20 17:30] Nzzyme commented on #2757
But WebRTC leaks are not just limited to browsers right?

I see that the latest beta now only limits this to browsers. Until now, was it blocking for all apps?

[2019-07-21 09:48] patrickdrd opened #2943 "http get from google.com returns 404"
I have created a macro in an app called macrodroid which runs a http get from google.com and
it returns the following sometimes (404 Not Found, instead of 200 that it returns normally):

[result.txt](https://github.com/AdguardTeam/AdguardForAndroid/files/3414469/result.txt)

it should be related to adguard script injection, can you check?

[2019-07-22 11:45] admitrevskiy commented on #2917
Done.

[2019-07-22 13:00] artemiv4nov opened #2944 "Adguard doesn't restart after reboot"
Adguard protection doesn't start after reboot of OS.
Application notifies only about preparing for protection.

[2019-07-22 13:12] artemiv4nov commented on #2927
Marked as duplicated #2861

[2019-07-22 13:12] #2927 closed

[2019-07-22 13:27] #2711 closed

[2019-07-22 14:59] artemiv4nov commented on #2940
@anoop-b send logs to devteam@adguard.com, please

[2019-07-22 15:29] anoop-b commented on #2940
just sent it!

[2019-07-22 17:23] admitrevskiy commented on #2917
Looks like `Kaspersky internet security` app can't process HTTP response after CL cuts out `Content-Length` and replaces it with `Transfer-Encoding: chunked`

Anyway, this issue should be retested after new CL release.

[2019-07-22 17:25] TheHasagi opened #2945 "Add Nordea codes to the exception list"
Please add Nordea Codes banking app to the exception list.

Package name: com.nordea.mobiletoken

[2019-07-22 17:51] admitrevskiy commented on #2906
Done.

[2019-07-23 08:52] patrickdrd commented on #2907
after further testing, I see that there are two problems with https filtering (adguard certificate in system store) with both these apps (facebook and messenger):
1) lazy images loading doesn't work, I mean images that are loaded-downloaded over scrolling, aren't shown and
2) some links fail to open with these apps' internal browser with a certificate cannot be trusted error,
if you click on the s

[2019-07-23 11:05] yashjahit-21705201 opened #2946 "New Local VPN connection shows wrong app name"
### Steps to reproduce

1. Install AdGuard
2. Enable protection for the first time
3. Dialog should appear asking for permission to create a new VPN Connection

### Expected behavior

New connection dialog should show the app name
### Actual behavior

When enabling protection for the first time, new VPN connection dialog doesn't show app name at the beginning

<details><summary>Screenshot:</summar

[2019-07-23 11:30] byaka commented on #34
looks like you thinked and denied? maybe any comments?

[2019-07-23 11:42] vbagirov commented on #34
@byaka the latest AdGuard for Android beta already supports custom userscripts, soon enough it'll be added to release version.

[2019-07-23 11:58] zzebrum commented on #2946
@yashjahit-21705201 that is the system dialog, not our. Probably it's device's firmware problem.

[2019-07-23 12:00] ameshkov opened #2947 "Add CoreLibs changes to Android nightly changelogs"

[2019-07-23 12:35] zzebrum commented on #2936
@Spok1 please, elaborate the issue.

[2019-07-23 12:43] admitrevskiy commented on #2937
Done.

Correct link should be added on the next filters update or clean nightly application reinstallation

[2019-07-23 13:34] zzebrum commented on #2929
@Spok1 is https filtering enabled for opera app?

[2019-07-23 13:55] Alex-302 opened #2948 "ru.letu - app is not working"
@adguard-bot commented on [Tue Jul 23 2019](https://github.com/AdguardTeam/AdguardFilters/issues/37312)

Alternative download link: https://apkpure.com/%D0%BB%E2%80%99%D1%8D%D1%82%D1%83%D0%B0%D0%BB%D1%8C/ru.letu

### Issue URL (Incorrect Blocking)
[https://play.google.com/store/apps/details?id=ru.letu](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fplay.google.com%

[2019-07-23 14:56] admitrevskiy commented on #2944
Cannot reproduce.

Testing instructions for QA: no needs

[2019-07-23 15:11] superlex commented on #2803
Hi, thank you for this feature :)
I'm trying the new beta v. 3.2.98 (PS: in the README file, beta link is not updated for the new beta).
As regards

maybe it could be improved:
- when you unblock a rule, currently it says that the rule will be deleted: why not disable it instead (empty square)?
- when you add a rule (by blocking a log entry or simply adding a new rule to the user filter), this new

[2019-07-23 15:38] Spok1 commented on #2929
Yes

[2019-07-23 15:40] Spok1 commented on #2936
Не фильтруются страницы!

[2019-07-23 17:11] artemiv4nov commented on #2943
@patrickdrd send debug logs to devteam@adguard.com, please

[2019-07-23 17:19] admitrevskiy commented on #2941
@Logster9982 hi! We cannot reproduce this issue on our side.
Can you please do the following:
-Set `Record everything` log level (Settings -> Advanced -> Record everything)
-Reproduce the issue (try to move cert to the system store)
-Export logs (Settings -> Advanced -> Export logs) and send it to`devteam@adguard.com`

[2019-07-23 17:45] GyokuroT commented on #2884
In the latest beta release you marked this issue as fixed. On GitHub the other hand you closed it without a fix.

[2019-07-23 19:31] artemiv4nov opened #2949 "Make Feature Discovery translatable"
Not all phrases of the Feature Discovery phrases are translatable at the moment. We need to translate them all.

[2019-07-23 20:44] artemiv4nov opened #2950 "Fix bug while showing notification"
Sentry link: https://sentry.adguard.com/adg/adguard-android-rs/issues/7120/events/1063043/

[2019-07-23 23:32] #2115 closed

[2019-07-24 04:51] carlylemiii opened #2951 "Search functionality on Apps Managements screen is crazy slow/laggy"
### Steps to reproduce
1. Open Apps Management
2. Tap `Search app…` button
3. Notice Search is slow to load.
4. Tap the name of an app you have installed.
5. Watch as what you've typed at a normal speed finally catches up and is displayed in AdGuard.
6. Tap on the result.
7. Result is slow to load, and before loading, you're shown the full list of apps again in Apps Management.
8. Search for anoth

[2019-07-24 04:58] carlylemiii opened #2952 "Status bar no longer colored if you have a display cutout"
### Steps to reproduce
1. Have a display cutout device, like the Pixel 3 XL.

### Expected behavior
Status bar is still colored.

### Actual behavior
Status bar is black, appearing as though AdGuard is artificially constraining itself into a smaller space than it needs to.

<details><summary>Screenshot comparisons:</summary>

![Screenshot_20190723-235339](https://user-images.githubusercontent.com/

[2019-07-24 09:26] admitrevskiy commented on #2920
Done.

[2019-07-24 10:18] zzebrum commented on #2951
I agree with step 5. Other steps look not that bad on my device though.
@TheHasagi please check on other devices.

[2019-07-24 10:29] carlylemiii commented on #2951
Let me know if you need video of any of the others. 2-3 should be painfully obvious, too, the rest are less drastic but still quite reproduceable.

[2019-07-24 10:29] admitrevskiy commented on #2950
@artemiv4nov we need to find a way to pass resource ID to CL

[2019-07-24 12:56] artemiv4nov commented on #2940
@anoop-b , unfortunately, your logs are not enough. Can you send debug logs and also logical with exact time of error?

[2019-07-24 14:51] byaka commented on #34
@vbagirov ah, awesome, thx!

[2019-07-24 15:05] Spok1 commented on #2936
@zzebrum, не фильтруются страницы!

[2019-07-24 15:06] Spok1 commented on #2929
@zzebrum, yes.

[2019-07-24 15:15] BlazDT commented on #2950
Maybe related: When disabling notifications and then reenabling notifications the protection status is not shown as notification unless protection is restarted.

[2019-07-24 16:30] Alex-302 opened #2953 "voip.voipunify.com - broken app"
@adguard-bot commented on [Sat Jun 29 2019](https://github.com/AdguardTeam/AdguardFilters/issues/35947)

### Issue URL (Incorrect Blocking)
[http://voip.voipunify.com](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=http%3A%2F%2Fvoip.voipunify.com)
### Comment

### Screenshots
<details>
  <summary>Screenshot 1</summary>

  ![Screenshot 1](https://reports-img.adguard.com/0ILRhSU.j

[2019-07-25 12:04] zzebrum opened #2954 "Validation for empty field when adding a new extension"
Add red highlight if input field is empty when user is trying to add a new extension.

[2019-07-25 13:00] Alex-302 opened #2955 "com.google.android.apps.photos - backup issue"
@adguard-bot commented on [Sat Jun 22 2019](https://github.com/AdguardTeam/AdguardFilters/issues/35645)

### Issue URL (Incorrect Blocking)
[https://play.google.com/store/apps/details?id=com.google.android.apps.photos](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.google.android.apps.photos)
### Comment

### Scre

[2019-07-25 13:01] ameshkov commented on #2924
Definitely not a good idea:)

[2019-07-25 13:01] #2924 closed

[2019-07-25 13:08] ameshkov commented on #2833
@TPS if you're on the nightly build, simply add it to the list of DNS filters (under DNS filtering -> DNS requests blocking).

[2019-07-25 13:11] ameshkov commented on #2899
Randomizing MAC address is not possible without root.

I'll keep this feature request open, but I've marked it as "low priority".

[2019-07-25 13:18] ameshkov commented on #2797
Two issues with the current implementation:

1. `AdGuard DNS` in the notification text is misleading, replace it with `DNS filtering`.
2. Change the notification text. Instead of `Please disable Private DNS` it should be: `If you want DNS filtering to work properly, please disable Private DNS in Android settings.`
3. Tap on the notification should lead to DNS filtering settings.

[2019-07-25 13:31] ameshkov commented on #2918
@admitrevskiy you should also test that it works on https://adblockplus.org/subscriptions

[2019-07-25 13:41] ameshkov commented on #2922
@DitFranXX any suggestions on what we should do?

[2019-07-25 13:44] artemiv4nov opened #2956 "Intercept subscribe.adblockplus.org links"
This is useful for adding custom filter lists. For instance, from this website: https://adblockplus.org/subscriptionsа

[2019-07-25 13:46] ameshkov commented on #2842
@AdguardTeam/support-team guys, next time please request [this](https://developer.android.com/studio/debug/bug-report) instead of logcat.

It contains all the necessary information + logcat. Besides that, we'll need to get AdGuard logs.

Also, we'll need to know the time when the issue happened.

[2019-07-25 13:47] ameshkov commented on #2842
Root is different. Most likely, AdGuard was killed by Android.

Nope, these are okay.

[2019-07-25 13:54] ameshkov commented on #2842
Too late to record the logcat:(

Please ask the user to do this:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2842#issuecomment-515050041

Considering that capturing Android bug report is not as complicated and does not require connecting to a computer, it'd be much easier to collect the necessary information.

[2019-07-25 13:55] ameshkov commented on #2842
This one looks very relevant actually:

[code]

[2019-07-25 15:31] ameshkov opened #2957 "Add banking app to "ad blocking" exceptions"
As usual, we prefer to not filter banking apps.

https://play.google.com/store/apps/details?id=com.fortuneo.android

_Originally posted by @BlazDT in https://github.com/AdguardTeam/AdguardForAndroid/issues/1638#issuecomment-511326514_

[2019-07-25 15:35] ameshkov opened #2958 "Add Firefox preview to the list of browsers"
Otherwise, premium is required to block ads there:
https://play.google.com/store/apps/details?id=org.mozilla.fenix&hl=en_US

[2019-07-25 15:45] ameshkov commented on #2930
Currently, it's partly implemented in https://github.com/AdguardTeam/AdguardForAndroid/issues/2918

However, it does not intercept subscribe.adblockplus.org links:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2918#issuecomment-515044340

Part of this logic is on the CoreLibs side -- it replaces subscribe.adblockplus.org with `adguard:subscribe`

[2019-07-25 15:50] ameshkov commented on #2936
Скорее всего дело в том, что в Opera -- невозможна HTTPS фильтрация, поэтому возможности несколько ограничены.

Попробуйте включить в настройках AdGuard фильтр "AdGuard Simplified domain names filter", он как раз на такие случаи расчитан.

[2019-07-25 15:50] #2936 closed

[2019-07-25 15:54] ameshkov commented on #2940
@anoop-b to troubleshoot this issue, we need to get the additional logs.

Here's what we need you to do:

1. Collect the debug log as it's [explained here](https://kb.adguard.com/en/android/solving-problems/log#debug).
2. Remember the exact time when the issue was reproduced, we will need it to find the corresponding records in the log file.
3. Additionally, capture the system bug report after rep

[2019-07-25 15:57] ameshkov commented on #2943
Actually, most likely it has nothing to do with AdGuard.

404 error is returned by the server, not by AdGuard. However, AdGuard adds the content script injection to every HTTP response regardless of it's status. Surprisingly, sometimes people insert ads into error pages, that's why we do this.

[2019-07-25 15:59] admitrevskiy commented on #2918
@ameshkov I've retested this issue with https://adblockplus.org/subscriptions and it works fine.
`subscribe.adblockplus.org` is replaced with with `adguard:subscribe`

[2019-07-25 16:00] ameshkov commented on #2943
I'll reopen this just in case. If you want to dig this further, we could take a look at the [log file](https://kb.adguard.com/en/android/solving-problems/log#debug).

[2019-07-25 16:01] #2943 closed

[2019-07-25 16:04] ameshkov commented on #2907
I've just realized that this is not a bug.

Facebook uses SSL pinning, HTTPS filtering won't work for their domains. It may seem to be working due to the fact that AdGuard is able to detect such cases and add the domains to temporary exceptions.

[2019-07-25 16:04] #2907 closed

[2019-07-25 16:04] ameshkov commented on #2946
Yeah, this is 100% a firmware isssue

[2019-07-25 16:04] #2946 closed

[2019-07-25 16:06] ameshkov commented on #2929
HTTPS filtering не может работать в Opera если сертификат не перенесен в системные (а для этого нужен рут).

[2019-07-25 16:06] #2929 closed

[2019-07-25 16:06] ameshkov commented on #2929
HTTPS filtering не может работать в Opera если сертификат не перенесен в системные (а для этого нужен рут).

[2019-07-25 16:09] ameshkov commented on #2803
Well, the reason is to not clutter the user filter. It's simple to add a new rule, it should be simple to remove it:)

Hm, do you think we should do the same with the regular content blocking user filter?
Could you please open a feature request about it?

[2019-07-25 16:12] ameshkov commented on #2884
@GyokuroT yup, thanks for noticing.

Let me please explain why we decided to keep the current behavior. The problem is that if we try to fix it, we risk breaking HTTPS filtering of the search domains.

There is a simple workaround for Duckduckgo, though: simply adding `ac.duckduckgo.com` to the HTTPS filtering exclusions will fix the issue. On the other hand, for Google we'll have to exclude `www.

[2019-07-25 16:15] ameshkov commented on #2951
Actually, it is really very slow.

@artemiv4nov please check what's done when the search is performed.

I am starting to think that we are re-executing SQL queries for the apps' stats every time the text is changed in the search input. This may be fast for newly installed apps, but when you have a lot of stats to select, this will be super slow.

[2019-07-25 16:17] ameshkov commented on #2952
Well, this actually might be true since we added the cutouts support, and that's how Android implements it.

@artemiv4nov could you please check if this is our only feasible option?

[2019-07-25 16:18] ameshkov commented on #2953
As of usual, VOIP apps should not be routed through AdGuard if you want them to work:(

[2019-07-25 16:19] ameshkov commented on #2956
Dup of #2930

[2019-07-25 16:19] #2956 closed

[2019-07-25 16:35] admitrevskiy commented on #2797
Done.

[2019-07-25 17:54] admitrevskiy commented on #2759
@ViRb3 Could you please retest this issue with latest nightly?
Please, send debug logs to `devteam@adguard.com` If it still exists
To collect debug logs go to Settings -> Advanced -> Log Level -> Record everything
To export logs go to Settings -> Advanced -> Export logs

[2019-07-25 18:30] versavius commented on #2899
That's a shame, is there anything that can be like how the IP address is
spoofed?

On 25 July 2019 14:11:09 Andrey Meshkov <notifications@github.com> wrote:

[2019-07-25 18:48] sfionov opened #2959 "Update CoreLibs to 1.4.120"
* [Fix] $popup rule blocks iframe: AdguardTeam/CoreLibs#1039
* [Fix] $replace rules with escaped special characters aren't applied: AdguardTeam/CoreLibs#1057
* [Fix] Abort() at AGProxySession.cpp:585: AdguardTeam/CoreLibs#1046
* [Fix] Change LRU timeout cache resolution: AdguardTeam/CoreLibs#1035
* [Fix] DuckDuckGo/Youtube settings Auto reset: AdguardTeam/CoreLibs#1021
* [Fix] Exceptions rules don

[2019-07-25 19:22] Spok1 commented on #2936
@zzebrum, ограничения с ним связанные есть??

[2019-07-25 20:21] Alex-302 opened #2960 "com.nhn.android.nmap - app is broken on Android 5.1.1"
@adguard-bot commented on [Sat Jun 08 2019](https://github.com/AdguardTeam/AdguardFilters/issues/34926)

### Issue URL (Incorrect Blocking)
[https://play.google.com/store/apps/details?id=com.nhn.android.nmap&hl=en](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.nhn.android.nmap%26hl%3Den)
### Comment
Username: @mi

[2019-07-25 20:22] Alex-302 commented on #2960
Only disabling a filtering helps.

[2019-07-25 21:49] ameshkov commented on #2960
Does it help to disable HTTPS filtering?

[2019-07-25 21:51] ameshkov opened #2961 "Print the DNS request type even when there's no answer"
See on the screenshot:
![](https://uploads.adguard.com/up04_jr4za_Slack_-_AdGuard_Software_Ltd.png)

[2019-07-25 22:57] superlex commented on #2803
Make sense :)

Thinking about it, it could be useful if a user has many custom rules..

Of course :)

Then, I'd like to ask two questions:

1) when you add `example.org` to dns user filter only `example.org` is blocked, while when you add `||example.org^` then `a.example.org`, `b.example.org` etc.. are blocked as well: is the correct behavior? Should AdGuard convert `example.org` to `||example.org

[2019-07-25 23:33] Alex-302 commented on #2960
No

[2019-07-25 23:59] superlex opened #2962 "Add new rules at the top of user filter?"
Hi,
when you add a rule to DNS User Filter (by blocking a log entry or simply adding a new rule to user filter), this new rule could be added at the top instead of the bottom, just for user convenience (e.g. if there are many rules).
This behavior could be applied to regular Content Blocking User Filter too, and for other AdGuard products as well.

As an alternative, there could be an option to ch

[2019-07-26 00:34] lancelot-moon opened #2963 "A unnecessary space in "Protection is enabled/disabled" for some Asian languages."
**On Onesky**:
#2362172 = "Protection is"

You did the change in v3.2.110η.
https://github.com/AdguardTeam/AdguardForAndroid/issues/2939

In old versions,
#2362173 = " enabled".
(There is a space in the front of enabled.)

In v3.2.110η,
#2362173 = "enabled".
(No space.)

In old versions,
#2362174 = " disabled".
(There is a space in the front of disabled.)

In v3.2.110η,
#2362174 = "disabled".
(No

[2019-07-26 00:43] lancelot-moon opened #2964 "Missed translation #3866856 (Crowdin) in DNS filter."
#3866856 on Crowdin:
English: AdGuard Simplified domain names filter
zh-TW: AdGuard 簡化的域名過濾器

AdGuard Simplified domain names filter is a default filter.
Hope it can show its translation there.
<details><summary>Screenshots:</summary>

![image](https://i.imgur.com/xO3uS4S.png)

![image](https://i.imgur.com/bzR6Tbg.png)
</details><br/>

[2019-07-26 01:06] lancelot-moon opened #2965 "Please add a space in the back of Extra in its zh-TW translation."
https://github.com/AdguardTeam/AdguardForWindows/issues/2761#issuecomment-514610800

AdGuard Extra script is updated for several times.
But you didn't modify the description in the source file.
This isn't fixed until now.
https://userscripts.adtidy.org/release/adguard-extra/1.0/adguard-extra.user.js

In the zh-TW translation of AdGuard Extra's description, please add a space in the back of Extra f

[2019-07-26 01:12] lancelot-moon commented on #2938
This is fixed in v3.2.110η.
You can close this.
Thanks.

[2019-07-26 02:00] lancelot-moon opened #2966 "Change DNS user filter to blacklist & whitelist?"
Except for DNS filters subscription, originally I supposed that you would design blacklist & whitelist for DNS filtering, like AdGuard Pro for iOS.
But it's DNS user filter whose supported formats are basic rule syntax and domain.

The problem is about whitelisted domains.
We need to convert tens whitelisted domains (example.com) to basic rule syntax `@@||example.com`, which is a little inconvenie

[2019-07-26 06:59] patrickdrd commented on #2842
I didn't say that AG was killed, but my internet connection did,
it has happened twice lately if I'm not mistaken,
very rare issue, but awfully annoying when it happens

[2019-07-26 08:15] artemiv4nov opened #2967 "Add video presentation to dialog about HTTPs filtering"
We need to show a snack with the button about "Https filtering is off". Link to abstract: https://app.goabstract.com/projects/390262b0-c732-11e8-a52a-07ba12563bc0/branches/master/commits/cce5f97453623391bfdd006e83ca4650edd4a0ce/files/2D40F76F-39DE-427A-B340-D1B75AE22F46/layers/FAF58265-77A3-493E-8010-B0767F74295B?mode=design

Also, we need to show dialog after the user touches on the "Turn on" but

[2019-07-26 08:41] artemiv4nov commented on #2905
Fixed in nighty 3.2.110. @jslawler check it, please

[2019-07-26 09:00] ameshkov commented on #2803
Well, it works exactly as we wanted it to.

The thing is that most of these domains lists are actually a different form of the existing hosts lists, so we're just keeping the semantics of the original list.

Most likely because of `Content-Type: application/octet-stream`, the list is served as it was a binary file and not a text file.

AdGuard respects the /etc/hosts specification, `#` is how comm

[2019-07-26 09:01] ameshkov commented on #2962
Assigned to 3.4 and marked for discussion. Please comment if you have an opinion on this topic.

[2019-07-26 09:03] ameshkov commented on #2960
@Alex-302 well, this is a problem then. Does only disabling ad blocking help? I'd like to avoid unblocking stuff:)

Could it be that the problem is in some of the stealth mode rules?

@mickeyseo could you please try the latest nightly build of AdGuard and see if it helps?

[2019-07-26 09:06] ameshkov commented on #2964
Well, this is a valid problem. DNS filter lists don't have metadata (unlike their content blocking counterparts). Assigned to v3.3, we'll think about it.

[2019-07-26 09:55] ameshkov commented on #2842
Fix for 1889438 is in `adguard-android/pull-requests/1378`

I am not sure if it resolves other cases because I suspect that we collected several different issues there.

@AdguardTeam/support-team so I am still waiting for https://github.com/AdguardTeam/AdguardForAndroid/issues/2842#issuecomment-515050041

[2019-07-26 10:47] admitrevskiy commented on #2954
Done.

[2019-07-26 11:08] admitrevskiy commented on #2930
Done (v3.3)

Testing instructions for QA:
-Reinstall AG
-Don't enable protection
-Go to https://adblockplus.org/subscriptions
-Tap on any subscription link

Expected result:
-Same as https://github.com/AdguardTeam/AdguardForAndroid/issues/2918#issuecomment-512923896

[2019-07-26 11:38] admitrevskiy commented on #2952
Done.

Testing instructions for QA:
-Reinstall AG on device with display cutout (or enable `cutout mode` in developer options) and android 9+ aboard
-Open AG

Expected result:
-Cutout area should be colored

[2019-07-26 11:40] Revertron commented on #2958
Done.

[2019-07-26 11:41] Revertron commented on #2945
Done.

[2019-07-26 11:41] Revertron commented on #2957
Done.

[2019-07-26 11:44] Chinaski1 commented on #2842
[Forum](https://forum.adguard.com/index.php?threads/adguard-choking-internet-on-pixel-3-xl.32428/#post-186057)
Logs added to NCLoud

[2019-07-26 11:52] jslawler commented on #2905
Fixed.

[2019-07-26 11:52] #2905 closed

[2019-07-26 12:10] Revertron commented on #2953
I think, that you mean [Sipnetic](https://play.google.com/store/apps/details?id=com.sipnetic.app) app. Added it to exclusions.

[2019-07-26 12:29] superlex commented on #2803
I agree.

Ok :)

Uhm, [Spam404](https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt) has `Content-Type: text/plain;` but the warning is the same..

[2019-07-26 12:57] admitrevskiy opened #2968 "Update AppsManagementPackageActivity UI on Premium status changed"
Steps to reproduce:

-Reset license
-Go to AppsManagementPackageActivity for any non-browser package
-Tap on `Ad blocking`
-Enter key and activate Premium
-Go back

Expected result:
-Premium features are available

Actual result:
-Premium features are not available

[2019-07-26 14:04] admitrevskiy commented on #2917
Looks like CL release hasn't solve this issue and `com.kms.free` should be left in the exceptions list

[2019-07-26 21:00] akmLaVx commented on #2762
Still reproduces on 7.2.100n

[2019-07-28 19:25] et6at opened #2969 "Https Exclusion Ooni Probe"
Application Ooni Probe is used globally to measure providers surveillance and censorship of own network, AdGuard should add it to https exclusion because the app won't work without an exclusion set.

https://play.google.com/store/apps/details?id=org.openobservatory.ooniprobe

**Extra note:** Ooni Probe could detect AdGuard Home as a surveillance device, "middlebox test" that is expected and is of

[2019-07-28 19:28] et6at opened #2970 "Add ch.threema.app to the default https exclusions list"
Since the application Threema is not pushing ads to their users, I think Https filtering could be disabled for it; moreover, in the latest version, is pushing a message about certificate pinning detecting the AdGuard filtering.

To the team to evaluate if adding it or not to Https Exclusion, even if I think could be whitelisted so far.

https://play.google.com/store/apps/details?id=ch.threema.app

[2019-07-28 21:29] TheHasagi commented on #2969
@et6at

Hello, HTTPS filtering for this application is disabled by default. The application works fine with AdGuard protection. Can you provide more details such as screenshot and version of AdGuard you are facing the issue?

[2019-07-28 21:40] TheHasagi commented on #2970
The same here, HTTPS filtering for this application is turned off by default. Can not get any problems with using with AdGuard. Please, provide more information such as screenshots with the error displayed, logs can be sent to devteam@adguard.com.

[2019-07-29 00:47] et6at commented on #2970
HTTPS filtering is on for every application when you use the stable build of AdGuard, unless a specific exception is specified by either the own AdGuard rulesets or by user manual opt-out from the filtering, when I am referring to HTTPS filtering, what I mean is that the user import the AdGuard certificate into system and not as user.

[2019-07-29 00:50] et6at commented on #2969
As previous reply, we are considering the case a user is relying on a specific way of using AdGuard, AdGuard.crt installed into system, will filter all apps by default, unless a specific exception is made by AdGuard rulesets or by user manual intervention.

[2019-07-29 00:50] #2969 closed

[2019-07-29 01:05] et6at commented on #2970
If you want reproduce the same bugs, or rather, "security features" I reproduced indipendently, you will need to move the certificate to system.

Regards,

In the past, about 5-6 months ago, we used to reports similar events to be added to the default exclusion list.

[2019-07-29 05:48] admitrevskiy commented on #2955
Cannot reproduce the issue

[2019-07-29 08:38] admitrevskiy commented on #2863
@SergeiShir hi!
Please, check the latest nightly, this issue should be fixed

[2019-07-29 08:40] TheHasagi commented on #2892
Can not reproduce this issue with the latest nightly. I guess the problem is solved already. @neodada please, check with this [version](https://agrd.io/android_nightly).

[2019-07-29 09:16] neodada commented on #2892
Doesn't work with https filtering enabled on latest nightly.

[2019-07-29 09:19] TheHasagi commented on #2892
@neodada

As I can see you are using VPN mode and enabled HTTPS filtering for this application, am I right?

[2019-07-29 09:24] neodada commented on #2892
Yes, i have enabled https filtering through magisk module.

[2019-07-29 09:28] TheHasagi commented on #2892
@neodata

Please, gather the log files regarding this [article](https://kb.adguard.com/en/android/solving-problems/log) and send it to devteam@adguard.com

[2019-07-29 09:34] Chinaski1 commented on #2842
[Forum](https://forum.adguard.com/index.php?threads/adguard-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D1%83%D0%B5%D1%82-%D0%B2%D0%B5%D1%81%D1%8C-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82.34043/#post-186071)
Time and Date:
**28.07 | 21:28**
*Logs in Ncloud*

[2019-07-29 09:57] neodada commented on #2892
Sent.

[2019-07-30 05:55] SergeiShir commented on #2863
AdGuard shows "No updates available" for several days already
I have v3.2.110

On Mon, Jul 29, 2019, 11:38 admitrevskiy <notifications@github.com> wrote:

[2019-07-30 09:39] TheHasagi opened #2971 "Incorrect filter locale displayed after language change"
Incorrect filter translation after language is changed (See the screenshot)

Preconditions are:

Switch device language for RU (example), AdGuard language is RU.

### Steps to reproduce

1. Switch language of AdGuard to EN
2. Open AdGuard - Settings - DNS filtering - DNS requests blocking

### Expected behavior

SDN filter should look with the selected locale (EN)

### Actual behavior

SDN filter

[2019-07-30 09:43] admitrevskiy commented on #2853
Done.

[2019-07-30 09:58] TheHasagi opened #2972 "DNS User filter isn't clear after the import"
DNS User filter isn't clear after the import a JSON file with the settings where DNS User filter is empty.

Preconditions:

Some example rule like google.com 0.0.0.0 should be added to the DNS User filter and JSON file (example.json) with default settings must be prepared.

### Steps to reproduce

1. Enable AdGuard, check that example rule (google.com 0.0.0.0) is added ot the DNS User filter
2. Go

[2019-07-30 21:35] TheHasagi opened #2973 "Notification did not disappear after enabling filters"
Notification about "No filters enabled. Enable some." did not disappear after some manipulations (see the steps and attachments).

### Steps to reproduce

1. Open AdGuard and disable all filters section
2. Open recent tasks menu and swipe out the adguard (hard exit)
3. Run AdGuard again and see the correct notification that explains the result of step 1 on the main screen
4. Do not tap on notifica

[2019-07-30 22:06] Alex-302 opened #2974 "Scrolling issue in the filtering log"
Sometimes this is hard to scloll log up. Look the video below.
Also, when you look a log in the middle of the list, it is not standing still, if some app makes  requests at that time.

### Steps to reproduce

1. Visit any site
2. Open filtering log
3. Try to scroll up

Video
[20190731_002147.zip](https://github.com/AdguardTeam/AdguardForAndroid/files/3449022/20190731_002147.zip)

### Actual behavi

[2019-07-30 22:23] patrickdrd opened #2975 "dns filter (custom) doesn't work in http proxy mode (root)"
on vpn it works fine,

please fix

[2019-07-31 05:14] SergeiShir commented on #2863
Hello

Thank you for your work

There are NO logs with TCP connections for web browsing

I still see the TCP connections from these 2 apps:
Google Play Store
Google Play Services

I sent the logs and screenshots to devteam@adguard.com

The subject of that email is:
Files for Bug 2863 (AdGuard for Android)
Sent at 08:09 GMT+3

On Tue, Jul 30, 2019, 08:55 SergeiS <notifications@github.com> wrote:

[2019-07-31 08:26] ameshkov commented on #2863
@SergeiShir this is not a bug in this case. Just TCP connections. AdGuard does not try to inspect them and detect the content type because of the $network rules you have.

[2019-07-31 09:39] DitFranXX commented on #2922
Do not trigger other update things.
I think it's ok because there's check update button on that activity

[2019-07-31 09:50] lancelot-moon opened #2976 "Please add "Changelog" link to "About"."
Please add "Changelog" in "About".
While tapping it, it'll lead to the corresponding page according to release, beta or nightly version.
https://adguard.com/zh_tw/versions/android/release.html
https://adguard.com/zh_tw/versions/android/beta.html
https://adguard.com/zh_tw/versions/android/nightly.html
<details><summary>Screenshot:</summary>

![image](https://i.imgur.com/k1vdpu7.png)
</details><br/>

[2019-07-31 10:02] TheHasagi opened #2977 "DNS Filtering does not work with HTTP root proxy in some cases"
Regarding #2975

DNS Filtering isn't working with HTTP root proxy mode (auto). DNS User filter, DNS Custom filters are also affected by this issue, in the VPN filtering method, there are no such problems. Problem is reproducing with IPv6.

Preconditions:

The device should have root access.

### Steps to reproduce

1. Open AdGuard - Settings - Network - Filtering method -  tap on Local HTTP Proxy

[2019-07-31 10:13] TheHasagi commented on #2975
@patrickdrd

Hello!

You are using IPv6 only?

[2019-07-31 10:41] patrickdrd commented on #2975
I'm using ipv4,
what kind of details?
all I know is I've got no dns blocking at all

[2019-07-31 10:59] TheHasagi commented on #2975
@patrickdrd

Can you gather and send the log files according to this [KB article](https://kb.adguard.com/en/windows/solving-problems/adguard-logs) to devteam@adguard.com?

Can you remember when this problem has started? From what version exactly?

[2019-07-31 13:14] SergeiShir commented on #2863
Thank you for your response

I deleted my rules

Now, the logs show the expected HTTPS

I still saw at least one log with TCP for Google Play Services app - see
the attached screenshot

On Wed, Jul 31, 2019, 11:26 Andrey Meshkov <notifications@github.com> wrote:

[2019-07-31 15:40] TheHasagi commented on #2889
I don't think that this is necessary for now :) Also, kinda weird idea.

[2019-07-31 15:40] #2889 closed

[2019-07-31 17:08] LU-LEI commented on #2889
Ok, then in some countries, adguard is basically a useless software, because the main purpose of blocking ads does not take effect.

[2019-07-31 17:40] admitrevskiy opened #2978 "UI Charts issues"
1. We need to add gradient shadows for lines according to Mockup: https://share.goabstract.com/b95f2097-0ed0-4496-89ed-5c316a315091

First of all, we need round corners of line. Also we need draw gradient under line

[2019-07-31 17:42] admitrevskiy commented on #2935
Partially done.
Unresolved issues are here:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2978

[2019-07-31 18:29] SergeiShir commented on #2863
Another example of a TCP log is attached - for the WhatsApp

Is this because HTTPS Filtering is disabled for that app?

On Wed, Jul 31, 2019, 16:14 SergeiS <notifications@github.com> wrote:

[2019-08-01 08:28] oroboros opened #2979 "[Bug] [Android TV] Overlayed hints can't be dismissed;"
The tips that appear as overlays on the latest version (v.3.2b) are not dismissable on Android TV (Oreo, Mibox3) because you cannot interact with the "dismiss hints" button via DPAD.

Even doing a "back" doesn't dismiss them (e.g. on "Filters" page), but takes you back to the previous page. When you go to that page again, you still see the overlay, and you're in an endless loop of just seeing grey

[2019-08-01 09:00] ameshkov opened #2980 "Fix the issue with unexpected connections resets"
The issue is caused by unexpected filter lists updates.

1. First of all, fix the issue with DNS filters and userscripts background update -- it does not seem to update at all;
2. It makes sense to unite all three job into one, and it should raise a single event;
3. ProtectionService should check if the device is idle or not, and reload protection only if it is idle, otherwise -- postpone it for a

[2019-08-01 09:00] ameshkov commented on #2881
Don't forget to test that $network rules are properly applied after reload
    Steps to reproduce (user filter):
    1. Add `93.184.216.34$network` to the user filter
    2. Try to open `example.org`

    Steps to reproduce (custom filter):
    1. Add a custom filter list
    2. Edit this custom list and add `93.184.216.34$network` to this list
    3. Try to open `example.org`

[2019-08-01 12:40] sxgunchenko opened #2981 "Update CoreLibs to 1.4.127"
[code]

[2019-08-01 18:05] lancelot-moon commented on #2965
The description of AdGuard Extra had been uploaded to Crowdin.
I already fixed the translation by myself.
I'll check if the translation is changed in new AdGuard Extra.
Thanks.

[2019-08-01 20:45] ameshkov commented on #2964
Too many tasks on 3.3, moved to 3.4

[2019-08-01 20:46] ameshkov commented on #2965
Please reopen if the new translations do not arrive in the next AG Extra update

[2019-08-01 20:46] #2965 closed

[2019-08-01 20:48] ameshkov commented on #2905
@jslawler awesome, thank you so much for testing it!

[2019-08-01 20:51] ameshkov opened #2982 ""Downloaded content does not look like a DNS filter" warning for legit hosts lists"
Examples:
* https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt
* https://s3.amazonaws.com/lists.disconnect.me/simple_malvertising.txt

[2019-08-01 20:51] ameshkov commented on #2803
Well, and this looks like a bug :)

Filed a bug report:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2982

[2019-08-01 20:53] ameshkov commented on #2762
Moved back to the "in progress" pipeline.

@admitrevskiy please take a look at this bug tomorrow.

[2019-08-01 20:56] ameshkov commented on #2970
Yup, this makes sense to add it to the exclusions list by default. Reopened and assigned to v3.3.

@TheHasagi

Are you testing on Android 7 or newer? You must know that this behavior is different on older Android versions or when the certificate is moved to the system store.

[2019-08-01 20:57] ameshkov commented on #2955
Cannot repro as well. Advise user to disable filtering for this app

[2019-08-01 20:59] patrickdrd commented on #2975
it's working on .119 nightly,
but it needs monitoring,
because it has broken once more before,
the problem was on .118 nighty, maybe one before that too

[2019-08-01 21:07] ameshkov commented on #2892
@neodada temporary solution: add `jio.com` to the list of HTTPS filtering exclusions.

Meanwhile, it seems to be a CoreLibs bug of some sort so I'll move this task

[2019-08-01 21:07] ameshkov commented on #2892
Issue moved to [AdguardTeam/CoreLibs #1069](https://github.com/AdguardTeam/CoreLibs/issues/1069) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-01 21:07] #2892 closed

[2019-08-01 21:12] ameshkov commented on #2863
It seems that Github does not handle email attachments well enough.

Anyways, check what's the port there. If it's not 443, that's okay.
Also, check the count of bytes sent/received ("Size" item in the filtering log). If there are none, then this is just an idle connection.

No, it's just WhatsApp uses some custom protocol

[2019-08-01 21:12] ameshkov commented on #2971
Hmm, @admitrevskiy where does this translation come from? I thought there are no translations of the DNS filter lists?

[2019-08-01 21:13] ameshkov commented on #2972
Great catch!

[2019-08-01 21:15] ameshkov commented on #2974
Assigned to v3.3. If a bug makes it harder to create new filter rules, it should be solved asap :)

[2019-08-01 21:22] admitrevskiy commented on #2971
We store SDN filter name in `strings.xml`. Looks like on the first SDN filter initialization selected locale was `ru`. Anyway, I think we should hide this phrase and make it not translatable.

[2019-08-01 21:26] ameshkov commented on #2922
Makes sense.

So when the user opens the Update activity from the "app update is available" notification, we simply should not show other items there and focus on the application update only.

[2019-08-01 21:27] ameshkov commented on #2922
Assigned to v3.3, it should be relatively easy to implement.

[2019-08-01 21:30] ameshkov commented on #2971
Well, in the case of custom DNS filter lists, the user enters their names manually so there's no need to bother.

This one is preinstalled so ideally, it should be "translatable". It's just we'd better do it in runtime.

[2019-08-01 21:33] ameshkov commented on #2976
Well, we could open `adguard.com/versions.html` when the user taps on this item. This might be a little bit annoying, though.

@AlikhanAliev what do you think?

[2019-08-01 21:35] ameshkov commented on #2975
Duplicate of #2977

[2019-08-01 21:35] #2975 closed

[2019-08-01 21:36] ameshkov commented on #2977
@TheHasagi this looks like a serious issue so I've reassigned it to v3.2.

Please test it again and make sure that this is not related to IPv6 (see #2885)

[2019-08-01 21:37] ameshkov commented on #2977
@admitrevskiy please take a look tomorrow

[2019-08-01 21:39] ameshkov commented on #2889
Duplicate of #1675

This is a valid approach actually.

[2019-08-01 21:41] ameshkov commented on #2979
@Revertron this must be addressed in v3.2.

At least the "back" button should dismiss them.

[2019-08-01 22:14] TPS commented on #1889
Is there any hope for any further progress w/ this?  @Stale plans to close it otherwise.

[2019-08-01 22:17] TPS commented on #908
Is it possibly time to implement now?  Else, it'll be closed via @StaleBot.…

[2019-08-01 22:19] TPS commented on #2149
I suppose this is still an issue that needs resolution.…

[2019-08-01 22:49] TPS commented on #1859
Is it possible we could get the debug applist, as requested above?

[2019-08-01 22:57] ameshkov commented on #2149
In the end, we could not confirm this on our side. There's some kind of a DNS cache indeed, but no hardcoded IP addresses.

[2019-08-01 22:57] #2149 closed

[2019-08-01 23:09] ameshkov commented on #908
I've just checked how many requests are to the old filters update API there (which is used by the old AG for Android versions), there are still approximately ~50-100k users on the old versions:(

I guess the only way is to stop serving filters updates to the old apps. Once we do it, we'll be finally able to do package-level blocking.

[2019-08-01 23:09] ameshkov commented on #1889
See https://github.com/AdguardTeam/AdguardForAndroid/issues/908#issuecomment-517489371

[2019-08-02 10:05] TheHasagi opened #2983 "Validation for empty field when adding a new extension"
Add a highlight if the input field is empty when the user is trying to import DNS filter.

[2019-08-02 10:26] oroboros commented on #2979
Agreed. ATM any input via DPAD (back, button press, up/down, etc) commands what's beneath the overlay but the overlay stays and can't be dismissed. If you need more input, let me know!

[2019-08-02 11:26] whynotnow2 opened #2984 "Https proxy"
Hi,

Could you please add in proxy settings HTTPS PROXY support.
 Today there are only HTTP and SOCKS4 and SOCKS5. We also needs HTTPS.

Many Thanks
Kind regards

[2019-08-02 12:12] ameshkov commented on #2984
What exactly do you mean by HTTPS?

Is it just a proxy that accepts HTTP CONNECT tunnel requests only?
Or is it an `HTTP proxy over TLS` kind of proxy?

[2019-08-02 12:25] whynotnow2 commented on #2984
I mean SSL/TLS proxy.

Thanks

[2019-08-02 12:33] ameshkov commented on #2984
Thank you!

Moved to https://github.com/AdguardTeam/AdguardForAndroid/issues/2984

[2019-08-02 12:33] #2984 closed

[2019-08-02 12:41] whynotnow2 commented on #2984
Could you please tell me why did you close the request ?

[2019-08-02 13:33] superlex commented on #2803
Ok, thank you @ameshkov :)

[2019-08-02 15:14] ameshkov commented on #2984
Ops, sorry, it was moved to https://github.com/AdguardTeam/CoreLibs/issues/1071

[2019-08-02 15:23] whynotnow2 commented on #2984
Thank you so much.
Hope it will Added soon

Kind regards

Le 2 août 2019 17:14:10 Andrey Meshkov <notifications@github.com> a écrit :

[2019-08-02 16:28] TheHasagi commented on #2975
@patrickdrd

The common question - Do you use private DNS? :)

[2019-08-02 16:33] TheHasagi commented on #2977
It is maybe related to the Private DNS option. Waiting for data.

[2019-08-02 19:14] patrickdrd commented on #2975
nope. just simple, regular cloudflare dns

[2019-08-03 05:30] lancelot-moon opened #2985 "Should I overwrite Unicode with Chinese Traditional in translations on Crowdin?"
Why are they Unicode in the translations on Crowdin?
ex: #3866196
<details><summary>Screenshot:</summary>

![image](https://i.imgur.com/lArM8Eh.png)
</details><br/>

Phrase Number: #3866194
Phrase: enabled
Translation: \u88ab\u555f\u7528

Phrase Number: #3866196
Phrase: disabled
Translation: \u88ab\u7981\u7528

Unicode to Chinese Traditional converter:
https://www.ifreesite.com/unicode-ascii-ansi.

[2019-08-03 05:52] lancelot-moon commented on #2963
**On Crowdin**:
#3866192 = "Protection is"
#3866194 = "enabled"
#3866196 = "disabled"

Will you merge #3866192, #3866194 and #3866196 to 2 new phrases **on Crowdin**?
`Protection is enabled`
`Protection is disabled`

You can't know if a gap is necessary between "Protection is" and "enabled/disabled" for all languages in the world.
Let translators make the translations in full sentences, which is m

[2019-08-03 10:58] Revertron commented on #2963
Yes, probably. But later.

[2019-08-03 11:27] patrickdrd opened #2986 "firewall when screen off blocks internet completely"
I have disabled both mobile data and WiFi access for instagram app when screen is off only, but when I open the app, I'm getting errors "couldn't refresh feed",
if I disable firewall for this app, everything works fine, so "screen off" detection isn't working properly maybe?

edit: it seems that it could be another http proxy issue, I switched to dns mode today and it worked

[2019-08-03 18:24] carlylemiii commented on #2951
I saw this mentioned as an improvement in the release notes for v3.2.117β but I cannot tell a difference at all for what it's worth.

[2019-08-04 08:10] Eugene-Savenko commented on #2925
Another report here: 1555536

[2019-08-04 15:16] ameshkov commented on #2977
Moved to v3.3 as this is not a new issue.

So there are three possibilities when it might not work, and we should handle at least two of them:
1. When Private DNS is enabled (even in automatic mode), some apps (like Chrome) start using it.
2. When the DNS server is in the private network, it is automatically excluded.
3. IPv6 DNS server (see #2885)

[2019-08-04 15:24] ameshkov commented on #2986
We need to have clear steps to reproduce this issue. So far, I couldn't do it.

[2019-08-04 15:24] #2986 closed

[2019-08-04 15:25] ameshkov commented on #2951
@carlylemiii could you please try the nightly build? I am on .119 and I don't see any issues.

[2019-08-04 15:26] ameshkov commented on #2925
@Eugene-Savenko to troubleshoot this issue, we need to get additional logs.

Here's what we need you to do:

1. Collect the debug log as it's [explained here](https://kb.adguard.com/en/android/solving-problems/log#debug).
2. Remember the exact time when the issue was reproduced, we will need it to find the corresponding records in the log file.
3. Additionally, capture the system bug report after

[2019-08-05 05:32] carlylemiii commented on #2951
@ameshkov it is still very slow in the nightly. Note how long it takes for the search to open after I press the search button (that's not me long-pressing; that's just it taking a while to respond). Then, note how much of a delay there is between my keyboard input and that being displayed in the search bar (including backspacing, as well). Point number 7 above still is true, too, though it's not c

[2019-08-05 09:37] djdelarosa25 commented on #2925
For a while, I got it working after clean flashing LineageOS 16 again. However, just yesterday, I switched to Pixel Experience and the problem has re-emerged.

[2019-08-05 09:38] ameshkov commented on #2925
@djdelarosa25 it'd help if you can collect the logs as per https://github.com/AdguardTeam/AdguardForAndroid/issues/2925#issuecomment-518012657

[2019-08-05 10:10] TheHasagi opened #2987 "Wrong filters status is shown"
There are wrong filters status shown in the update window if the filters are disabled (but the group is still enabled), see the screenshots.

<details>

![img](https://uploads.adguard.com/TheHasagix9203.jpg)

![img](https://uploads.adguard.com/TheHasagiykoo6.jpg)

![img](https://uploads.adguard.com/TheHasagibro3r.jpg)

</details>

Expectations:

There should be a notification that filters are disa

[2019-08-05 10:10] Eugene-Savenko opened #2988 "Add a "Refresh license status" button to the action bar menu"
### Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ x ] I am running the latest version
- [ x ] I checked the documentation and found no answer
- [ x ] I checked to make sure that this issue has not already been filed

### Problem Description

In AdGuard 3.x, you can't check for the license status chan

[2019-08-05 10:39] Revertron opened #2989 "Parcel reading exceptions after "too many open files" errors"
### Issue Details
Investigation of events in sentry leads to an assumption that sometimes AdGuard maintains too many open connections, leading to different parcel reading (opening) errors.
https://sentry.adguard.com/adg/adguard-android-rs/issues/11738/events/

Logs show multiple exceptions like "too many open files", and right after that uncaught exception occurs.

- **AdGuard version:**
  - 3.0.1

[2019-08-05 14:34] altokarev opened #2990 ""Restore purchases" button: show notification if nothing to restore"
### Problem Description

`License Status` -> `3-dot menu` - `Restore purchases` button doesn't show any notification in case there is nothing to restore

### Proposed Solution

Action should end with suitable notification or a toast with information about the ​restored license: status, due date, etc.

[2019-08-05 17:11] ameshkov commented on #2842
Reassigned to v3.3

This one is supposedly fixed in the latest nightly.

This one needs to be analyzed.

[2019-08-05 17:12] ameshkov commented on #2762
Reassigned to v3.3

[2019-08-05 17:58] sxgunchenko opened #2991 "Update CoreLibs to 1.4.131"
[code]

[2019-08-06 00:38] DitFranXX opened #2992 "Question: Is there any external site for nightly patch notes?"
as of #2922, I cannot check updates on mobile plan.

Is there any of patch notes that available on adguard site?

[2019-08-06 07:29] carlylemiii commented on #2951
Probably had to do with the large number of stats I had accumulated. I cleared storage for the app, and App Management is pretty speedy now. So, issue resolved for me, _for now_, but the issue likely still actually exists.

[2019-08-06 10:46] sxgunchenko opened #2993 "Update CoreLibs to 1.4.133"
[code]

[2019-08-06 13:48] neodada commented on #2992
https://adguard.com/en/versions/android/nightly.html

[2019-08-06 14:17] #1607 closed

[2019-08-06 14:17] #1756 closed

[2019-08-06 14:17] #1592 closed

[2019-08-06 14:17] #2208 closed

[2019-08-06 14:17] #2182 closed

[2019-08-06 14:17] #2406 closed

[2019-08-06 14:17] #2407 closed

[2019-08-06 14:17] #2591 closed

[2019-08-06 14:17] #2152 closed

[2019-08-06 14:17] #2733 closed

[2019-08-06 14:17] #2702 closed

[2019-08-06 14:17] #2741 closed

[2019-08-06 14:22] #2904 closed

[2019-08-06 14:22] #2917 closed

[2019-08-06 14:22] #2938 closed

[2019-08-06 14:22] #2950 closed

[2019-08-06 14:22] #2954 closed

[2019-08-06 14:22] #2959 closed

[2019-08-06 14:22] #2912 closed

[2019-08-06 14:22] #2926 closed

[2019-08-06 14:22] #2931 closed

[2019-08-06 14:22] #2939 closed

[2019-08-06 14:22] #2942 closed

[2019-08-06 14:22] #2949 closed

[2019-08-06 14:22] #2875 closed

[2019-08-06 14:22] #2906 closed

[2019-08-06 14:22] #2920 closed

[2019-08-06 14:22] #2928 closed

[2019-08-06 14:22] #2937 closed

[2019-08-06 14:22] #2944 closed

[2019-08-06 14:22] #2863 closed

[2019-08-06 14:22] #2952 closed

[2019-08-07 02:32] DitFranXX commented on #2992
@neodada Thank you.

[2019-08-07 02:32] #2992 closed

[2019-08-07 06:58] patrickdrd commented on #2986
it was due to https filtering (certificate in system store, root),
I disabled it for instagram app and it works

[2019-08-07 09:22] Eugene-Savenko commented on #1931
A similar request by 2277949

[2019-08-07 12:47] ameshkov opened #2994 "Blocking Youtube ads by "sharing" video to our app"
### Problem Description

There is no normal solution to adblocking on Youtube besides watching it in the browser (or rooting your device). Well, and besides purchasing YT Premium, but it's not available in a lot of countries.

### Proposed Solution

Allow watching Youtube videos right inside AdGuard (without ads, obviously).

1. Add a sharing provider for YT videos URLs. Let's call it "Watch witho

[2019-08-07 13:00] sfionov opened #2995 "Get rid of Apache AvailablePortFinder"
Binding to port 0 is more reliable in any cases. Also, current implementation keeps open socket at port 1100.

But support of binding to port 0 requires API methods to retrieve port to which server was bound.

Linked CoreLibs issue:
https://github.com/AdguardTeam/CoreLibs/issues/1028

[2019-08-07 15:22] lancelot-moon commented on #2994
For the 2nd point in Alternatives Considered:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2427

This is valid. It also has a free version.
https://play.google.com/store/apps/details?id=com.agooday.skipadspro

But I don't know if it's safe to use this.

Great ideas!
Just it looks like watching YouTube with a browser, right?
I remember the upper resolution of YouTube video by browsers is

[2019-08-07 19:41] akmLaVx opened #2996 "Add an option to packet-block multiple apps"
As reported by user 2277949,

[2019-08-07 22:11] ameshkov opened #2997 "Error while checking updates of userscripts added from the local storage"
[code]

[2019-08-08 09:06] #2979 closed

[2019-08-08 09:06] #2981 closed

[2019-08-08 09:06] #2991 closed

[2019-08-08 09:06] #2993 closed

[2019-08-08 12:54] admitrevskiy commented on #2961
Done.

[2019-08-08 12:56] oroboros commented on #2979
v.3.2.1211B

It still shows up on certain screens with no possibility to dismiss. For example in "content blocking", there's no way to neither dismiss nor access the settings on this page.

[2019-08-08 19:43] snhv commented on #2994
How about just sending it to the browser?

[2019-08-09 01:17] djdelarosa25 commented on #2925
Issue got fixed for me by updating to the latest beta (3.2.121).

[2019-08-09 14:34] sfionov opened #2998 "Update CoreLibs to 1.4.136"
* [Fix] HTTP/1.1 downgrade causes error in Chrome: AdguardTeam/CoreLibs#1055
* [Fix] Rules with modifier like for example $media shouldn't be applied to apps with disabled HTTPS filtering: AdguardTeam/CoreLibs#1066

[2019-08-10 10:38] TPS commented on #908
Are y'all sure that's all AG instances? I suspect a lot of other adblock software which include AG (non-CDN⁈) lists by default (due to your fantastic licensing 🙇🏾‍♂️) & don't have a _reason_ to update.

Anyway, enough's enough‼️  Isn't it time (so many _years!_) to cut that off?  Make some general announcements (_especially_ include non-AG platforms, e.g., Filterlist hub), & then shut 'em down!

&

[2019-08-11 09:04] izark99 commented on #2842
My Phone: Xiaomi Redmi K20 Pro
Android version: 10
Root: Rooted with Magisk

After I upgrade my phone to Android 10 and rooted it with Magisk, I can't connect to Internet if I choose "Local HTTP Proxy (Local Proxy auto mode)" in Filtering Method. I can connect to Internet if I choose "Local VPN" in Filtering Method.

This problem appear after I upgrade my phone to Android 10. Before that, Android

[2019-08-11 09:13] izark99 opened #2999 "Can't choose Local HTTP Proxy [Android 10/Rooted]"
My Phone: Xiaomi Redmi K20 Pro
Android version: 10
Root: Rooted with Magisk

After I upgrade my phone to Android 10 and rooted it with Magisk, I can't connect to Internet if I choose "Local HTTP Proxy (Local Proxy auto mode)" in Filtering Method. I can connect to Internet if I choose "Local VPN" in Filtering Method.

This problem appear after I upgrade my phone to Android 10. Before that, Android

[2019-08-12 08:13] lancelot-moon commented on #2976
Sorry that I changed my idea.
Don't need to do changes in the update screen.
Please add "Changelog" in "About".
While tapping it, it'll lead to the page according to release, beta or nightly version.
Thanks.

[2019-08-12 10:04] ameshkov opened #3000 "Use custom adguard: scheme for adding userscripts"
@ameshkov commented on [Thu Jul 11 2019](https://github.com/AdguardTeam/AdguardForWindows/issues/2838)

1. Update CoreLibs to convert userscript links to use `adguard:` scheme
2. Intercept these links and offer to install a userscript
3. No more intercept `.user.js` on the network level

[2019-08-12 10:05] ameshkov commented on #3000
This is more or less the same as https://github.com/AdguardTeam/AdguardForAndroid/issues/2918 but for userscripts

[2019-08-12 10:07] ameshkov commented on #2999
Android Q is not compatible with root+proxy mode in the current version:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2894

We are going to push the fix for it to the nightly update channel this week.
It'd be great if you could verify if it's okay or not once we do that.

Can you test a build with the fix if we send you one?

[2019-08-12 10:07] #2999 closed

[2019-08-12 10:33] izark99 commented on #2999
okay

[2019-08-12 12:35] lancelot-moon commented on #2994
May you give the options of playing speed if possible?
I mean 0.5x, 0.75x, normal, 1.25x and 1.5x speed.
Thanks.

[2019-08-12 17:57] lancelot-moon commented on #2971
Yes, AdGuard SDN filter in DNS filter should be translated.
https://github.com/AdguardTeam/AdguardForAndroid/issues/2964
Thanks.

[2019-08-13 14:59] sfionov opened #3001 "Update CoreLibs to 1.4.138"
* [Fix] Crash in parse_rule_option: AdguardTeam/CoreLibs#1080

[2019-08-13 18:30] lancelot-moon opened #3002 "Does $script equal to "add to exception" in JavaScript of Chrome?"
A question.
I want to disable JavaScript for a specific sub-domain.
Is $script for the purpose?
But scripts are still run on the website even if using such rule syntax example.com$script.
I'm confused.
Do I misunderstand the use of $script?
Can any rule syntax disable JavaScript for a specific sub-domain?

Thanks.

[2019-08-14 09:43] oroboros opened #3003 "[Bug] [Android TV] Overlayed hints can't be dismissed (new)"
Because this was closed but it wasn't constantly fixed throughout the UI:
[Bug] [Android TV] Overlayed hints can't be dismissed; #2979

@TheHasagi: The problem referred to still shows up on certain screens with no possibility to dismiss (tested on v.3.2.1211B).
For example in "content blocking", there's no way to neither dismiss nor access the settings on this page.

[2019-08-14 23:12] #2894 closed

[2019-08-14 23:13] #2998 closed

[2019-08-14 23:13] #3001 closed

[2019-08-15 09:36] artemiv4nov opened #3004 "Introduce backoff policy for periodic jobs"
The idea is to make filters/userscripts updates more reliable by having a backoff policy.

For instance, when there's no internet available, we should retry the job.

[2019-08-16 02:41] Superman1974 opened #3005 "Adguard proxy doesn't with host name"
After plenty of trials adguard I finally realized Nordvpn host servers names don't work like us4263.nordvpn.com in adguard proxy settings the host name has to be converted to and actually ip for socks5 to actually work us4263.nordvpn ->ip converted->208.131.139.43 now it works I hope this helps your software development and adguard users.

[2019-08-16 02:47] Superman1974 commented on #3005
And I also look into the openvpn file configuration us4263.nordvpn.com.tcp.ovpn has the ip for tcp also that adguard website describes that udp doesn't work for socks5 adguard proxy so I tried that ip and it work also.

[2019-08-16 09:51] ameshkov commented on #3002
Not if you want to disable inline javascript.

You have two options:
1. `example.com$$script` -- removes all scripts
2. `||example.com^$csp=script-src 'none'` -- disables scripts using content security policy

[2019-08-16 09:51] #3002 closed

[2019-08-16 09:52] ameshkov opened #3006 "Background filters update does not work"
### Issue Details

The issue is easy to reproduce on any device. Background filters update simply does not work because AdGuard considers all filters "not outdated".

This needs to be fixed asap.

[2019-08-16 09:52] ameshkov commented on #3005
Hmm, this is weird.

[2019-08-16 09:54] akmLaVx opened #3007 "Add DNS exclusions"
### Problem Description

As of now, AdGuard does not allow the user to whitelist a specific app from DNS filtering.

### Proposed Solution

Either add "whitelist from DNS filtering" option to Settings > DNS, or add the same switch to Apps Management

### Alternatives Considered
null

### Additional Information
Reported by user 1973547

[2019-08-16 09:55] ameshkov commented on #3005
To troubleshoot this issue, we need to get additional logs.

Here's what we need you to do:

1. Collect the debug log as it's [explained here](https://kb.adguard.com/en/android/solving-problems/log#debug).
2. Remember the exact time when the issue was reproduced, we will need it to find the corresponding records in the log file.
3. Send it to `devteam@adguard.com`. Mention the Github issue number

[2019-08-16 16:11] ameshkov commented on #3007
Unfortunately, it is not technically possible to disable just DNS filtering for an app. You can only disable filtering completely:(

[2019-08-16 16:11] #3007 closed

[2019-08-18 07:23] Eugene-Savenko opened #3008 "AdGuard VPN is no longer shared with ChromeOS"
AdGuard local VPN not functioning properly on Chromebook; with ChromeOS m76 (released this past week) the local VPN of AdGuard stopped being shared with ChromeOS. The VPN used by an OpenVPN client is shared with ChromeOS just fine. The AdGuard VPN only works within the Android environment while previously it could be shared systemwide and block ads on both Android and ChromeOS.

### Issue Details

[2019-08-18 15:38] Skawtnyc commented on #3008
Some extra information that may help. The Adguard local VPN worked fine with ChromeOS when the Android implementation was Nougat (7.1.1). However, recent updates of ChromeOS have updated the version of Android to Pie (9.0). This may have affected the way the Adguard local VPN is recognized by the system. It functions within the Android environment, but the ability of ChromeOS to direct all network

[2019-08-19 10:39] Rakleed commented on #2275
@Revertron ok, I just like the black color on the AMOLED screen more than the gray color.

[2019-08-19 10:58] ameshkov opened #3009 "Crash: unable to resume activity"
See the details here:
https://sentry.adguard.com/adg/adguard-android-rs/issues/12770/

[2019-08-19 11:03] ameshkov opened #3010 "Fix the nightly version crashes"
See the whole list:
https://sentry.adguard.com/adg/adguard-android-rs/releases/com.adguard.android-3.2.135/all-events/

[2019-08-19 11:07] ameshkov commented on #3008
Well, we really need to get a ChromeOS device here to test this.

[2019-08-19 12:29] artemiv4nov commented on #3003
@oroboros done in latest nightly, can you check please?

[2019-08-19 12:36] artemiv4nov commented on #3009
This problem already done in previous nightlies.

[2019-08-19 12:36] #3009 closed

[2019-08-19 13:24] Skawtnyc commented on #3008
Any recent Chromebook will do, as long as Android Pie is running on it. Here's the release table to help: https://cros-updates-serving.appspot.com/

I also have an Acer Chromebook Tab 10 which is the same build as my Asus tablet (scarlet) I'd be willing to donate. It's not in great shape (Acer quality) but it still works and I can get it updated to the latest stable version of the OS for you.

[2019-08-19 14:59] artemiv4nov commented on #3010
Commented all crashes.

[2019-08-19 14:59] #3010 closed

[2019-08-20 07:29] Nzzyme opened #3011 "Rename fields to better suit their purpose"
Currently, we see the following field names:

**Filters**: This is seen in Settings > Content Blocking

**Custom filters**: This is seen in Settings > Content Blocking > Filters

**User filter**: This is seen in Settings > Content Blocking

It would be better if the field "Filters" is renamed to "Filter Subscriptions" and the field "Custom filters" is renamed to "Custom Filter Subscriptions" as th

[2019-08-20 07:41] Nzzyme commented on #2393
On a similar note, after adding a custom user filter rule from the Filtering Log (by clicking on the "Block" button), the button should immediately change from 'Block' to 'Unblock'.

Steps:

1. Open Filtering Log and tap on a particular list item which is not blocked.
2. Tap on 'Block' and then select the desired options and tap on 'Add Rule'.
3. It takes us back to the 'Log Details' page and now

[2019-08-20 08:36] lancelot-moon commented on #3011
Why should "Filters" be renamed to "Filter Subscriptions"?
They're default filters which are already subscribed.

Custom filter and user filter are in different places.
Users also can't fill in rules in custom filter.
They should know the difference between custom filter and user filter.

[2019-08-20 10:29] #2766 closed

[2019-08-20 11:45] lancelot-moon commented on #2963
v3.2.135 is released.
However, this issue isn't fixed.
Please open it.

[2019-08-20 18:57] Nzzyme commented on #3011
Hence, change the field name to Field Subscriptions. Think of it like a heading.

For a regular user, it looks the same. We are therefore being more specific when naming fields.

[2019-08-20 19:49] ameshkov commented on #2842
@Chinaski1 @TheHasagi guys, if there are new complaints or if there are any news on this, please post the update here

[2019-08-20 19:58] ameshkov commented on #2994
It won't provide picture-in-picture

[2019-08-20 20:03] ameshkov commented on #908
I am 100% sure, unfortunately :(

Old AdGuard versions weren't using a CDN (like the new ones) and were requesting filters updates from our API server. That's why I can estimate their count, they still create some server load :)

As I've said, we're going to stop serving newer filter lists to them, and this will help with the issue.

[2019-08-20 20:05] ameshkov commented on #2999
@izark99 please check the new release, it is now fully compatible with Android Q

[2019-08-20 20:08] ameshkov commented on #3008
@TheHasagi was able to set up it on some old laptop.

@TheHasagi any news on the issue? Were you able to reproduce it?

[2019-08-20 20:15] ameshkov commented on #3011
Actually, this is an old problem, and the real question is the "filter" definition.

We were always using "filter" and "filter list/subscription" as synonyms, but nowadays some people tend to call individual filtering rules "filter". Personally, I'd better keep our traditional approach.

Anyways, "custom filters / user filter" misunderstanding is a legit problem.

What about this?
"User rules"
"Cu

[2019-08-20 20:15] ameshkov opened #3012 "After adding a custom user filter rule from the Filtering Log (by clicking on the "Block" button), the button should immediately change from 'Block' to 'Unblock'."
After adding a custom user filter rule from the Filtering Log (by clicking on the "Block" button), the button should immediately change from 'Block' to 'Unblock'.

Steps:

1. Open Filtering Log and tap on a particular list item which is not blocked.
2. Tap on 'Block' and then select the desired options and tap on 'Add Rule'.
3. It takes us back to the 'Log Details' page and now we still see 'Block

[2019-08-20 20:17] ameshkov commented on #2963
The proper fix would require changing "status" phrases in all languages.

[2019-08-20 21:50] lancelot-moon commented on #3011
Yes, I ever suggested to rename "User filter" to "User rules" in the past.
Then you need to modify for all of your products.

"Custom filters" should be kept.

[2019-08-21 05:31] driversti commented on #34
Guys, I'm so happy to get the version this morning! This feature made my day! Thanks a lot to all of you :heart:

[2019-08-21 12:46] #3003 closed

[2019-08-21 12:46] #3004 closed

[2019-08-21 12:46] #3006 closed

[2019-08-21 13:15] oroboros commented on #3003
Confirmed. Works fine!

[2019-08-21 13:16] TheHasagi commented on #2857
Waiting for response from a customer.

[2019-08-21 13:35] TheHasagi commented on #2925
@djdelarosa25

You should check with the release version (3.2.135).

[2019-08-21 13:44] lancelot-moon commented on #2985
It seems that you'll merge "Protection is",  "enabled" and  "disabled" to 2 new phrases:
`Protection is enabled`
`Protection is disabled`
https://github.com/AdguardTeam/AdguardForAndroid/issues/2963

#3866194 and #3866196 will be deleted after merging.
This can be ignored.

[2019-08-21 13:44] #2985 closed

[2019-08-21 14:02] ameshkov opened #3013 "Update the reserved UIDs list"
See the list here:
https://android.googlesource.com/platform/system/core/+/master/libcutils/include/private/android_filesystem_config.h

[2019-08-21 14:04] ameshkov opened #3014 "DNS filtering may break filtering on HTC devices"
### Issue Details

`addDisallowedPackageNames` does not work for connections created by `dnsproxy` and because of that, there's a risk of the infinite loop when DNS filtering is set to use system DNS.

- **AdGuard version:**
  - v3.2
- **Filtering mode:**
  - VPN
- **Device:**
  - HTC
- **Operating system and version:**
  - Android 8.1.0
- **Root access:**
  - No

[2019-08-21 15:17] ameshkov commented on #3014
Fixed in `pull-requests/1422`

[2019-08-21 16:00] TheHasagi commented on #2857
User did not confirm that the problem still exists.

[2019-08-21 16:48] TheHasagi commented on #3008
@Skawtnyc

Can you tell me exactly with what version you can share the VPN and with what version you can not?

[2019-08-21 17:18] admitrevskiy commented on #2910
Done (v3.3)

Testing instructions for QA:
1) Current version
-Reinstall AG
-Export settings
-Reset settings
-Import settings

2) Older versions
-Install AG v2.12/3.0/3.1/3.2
-Customize settings
-Export settings
-Install AG v3.3
-Import settings

- Expected result:
-Settings imported successfully

[2019-08-21 17:25] Skawtnyc commented on #3008
The VPN was shareable with ChromeOS 75, but stopped being shareable with 76. The reason for this is very likely because 75 contained Android 7.1.1 (Nougat) and 76 jumped to Android 9.0 (Pie).

[2019-08-21 17:39] ameshkov commented on #3008
@Skawtnyc could you please try updating AdGuard to the latest stable build? (v3.2)

Unlike the previous version, it now targets SDK level 29 (Pie). I wonder if it helps.

[2019-08-21 17:53] Skawtnyc commented on #3008
I updated to 3.2.135, but it's still not sharing the VPN.

[2019-08-21 18:03] ameshkov commented on #3008
Could you please show a few screesnots of how it is, and how it is supposed to work?

I'll try to inspect ChromeOS code, maybe I'll understand what's the reason

[2019-08-21 18:04] Skawtnyc commented on #3008
I also did a full uninstall of the app and installed the new apk from scratch so it would recreate the local VPN. Still no good. Something about the VPN itself isn't being shared if other VPN clients work, and the AdGuard VPN still works for Android apps.

[2019-08-21 18:07] ameshkov commented on #3008
Actually, I have another idea which we could test. I'll try to prepare a test build for you later today

[2019-08-21 18:12] Skawtnyc commented on #3008
As you can see from the first image in attaching, there is a tiny key to the left of the wifi signal in the lower right corner. Also, the VPN icon is lit. In the second image, you can see that the VPN shows a live connection to OpenVPN. This is the OpenVPN client for Android functioning as expected.[](url)
![Screenshot 2019-08-21 at 2 07 55 PM - Edited](https://user-images.githubusercontent.com/43

[2019-08-21 18:12] Skawtnyc commented on #3008
I'll be happy to test whatever you have for me. Thanks!

[2019-08-21 18:43] Nzzyme commented on #3011
Sounds good to me. Thank you

[2019-08-21 19:10] ameshkov commented on #3008
@Skawtnyc could you please try this build?
https://uploads.adguard.com/up04_ao69r_adguard-3.2.136-nightly.apk

[2019-08-21 19:25] Skawtnyc commented on #3008
Sorry, unfortunately no change from the previous build. It works for Android, but not ChromeOS.

[2019-08-21 19:26] ameshkov commented on #3011
Well, I guess this needs to be done in every AG product in order to be consistent.

@zzebrum could you please take care of this and file issues to every AG repo where this is applicable? Close this issue after that.

[2019-08-22 01:36] lancelot-moon commented on #2963
It seems that v3.2.137 is the hotfix.

I supposed you'll merge #3866192, #3866194 and #3866196.
But this is fixed in v3.2.137 without merging them.
You decide it.
Thanks.

[2019-08-22 09:03] TheHasagi commented on #3005
@Superman1974

I can not reproduce this issue. Actions described above are important. Please, follow the steps and send the logs to devtean@adguard.com.

[2019-08-22 09:10] TheHasagi commented on #2925
As per user did not reply, no evidence provided the issue is closed. Will be reopened if needed.

[2019-08-22 14:11] vinpremkumar commented on #2397
Using the recommendation from A1904's reply from https://forum.adguard.com/index.php?threads/nordvpn-and-adguard.29129/post-174787.
In fact, all that is need is to find a SOCKS5 server, use that server as the domain in AdGuard's proxy setting (No need to enable TCP in NordVPN app). Finally, change Filtering method from Local VPN to Local Proxy manual mode and change it to the proxy port that you u

[2019-08-22 15:59] Chinaski1 commented on #2842
New logs from **2075818**
Added to NCloud

[2019-08-22 18:09] TheHasagi opened #3015 "AdGuard does not completely remove installed extensions"
AdGuard does not completely remove previously added extensions.

To check you can open the specified location like data/data/com.<appname>/ from the terminal and see that after you delete them in AdGuard they won't be deleted from storage.

[2019-08-22 18:19] artemiv4nov opened #3016 "Update dnsproxy library to v0.18.4"
We need update dnsproxy library for more stability

[2019-08-23 07:09] dnovitskyi opened #3017 "Allow users to reset AdGuard contextual tips"
### Problem Description
As of now, users are unable to reset contextual tips introduced in patch 3.2. Some of the users had complained that they have either closed them automatically, without reading the description, or wanted to access them again, but had no way of doing it.

### Proposed Solution
Add a "Reset tips" setting to Settings > General.

### Alternatives Considered
None available.

###

[2019-08-23 08:12] AlikhanAliev opened #3018 "Inconsistent icons in the apps management details section"
App management > detail of someone app

### Expected Behavior

We should show a green adguard icon and red wifi and mobile data icons on the right of app name while adguard protection is off

### Actual Behavior

We show all icons red

[2019-08-23 11:46] akmLaVx opened #3019 "Open Chrome custom tabs in the same window"
### Issue Details
When opening a Chrome Custom Tab through AdGuard (e.g. when tapping on "Upgrade license" in AdGuard > License status), a custom tab containing AdGuard page is opened in a separate window.

- **AdGuard version:**
  - 3.2.135
- **Filtering mode:**
  - Local VPN
- **Device:**
  - Google Pixel 3 XL
- **Operating system and version:**
  - Android 9
- **Root access:**
  - No

### Expec

[2019-08-23 12:04] AlikhanAliev opened #3020 "Incorrect status when the internet is not available"
### Expected Behavior

When we can't connect to internet we should text about it in each cell and use right icons

### Actual Behavior

We show incorrect condition

### Screenshots

![Slice@1x](https://user-images.githubusercontent.com/30260021/63591448-7f7b8800-c5b7-11e9-8df1-5c3cc751b683.png)

[2019-08-23 16:06] Rakleed opened #3021 "Добавьте расширение для отключения Турбо-страниц при поиске в Яндексе"
Пожалуйста, добавьте расширение для отключения [Турбо-страниц](https://yandex.ru/dev/turbo/) при поиске в Яндексе подобно тому, как у вас реализовано это в расширении «Отключить AMP».

[2019-08-23 17:12] #3015 closed

[2019-08-23 17:13] #3014 closed

[2019-08-23 17:13] #3016 closed

[2019-08-24 12:09] SergeiShir opened #3022 ""AdGuard Simplified domain names filter" contains explicit rule that allows "www.googleadservices.com""
### Issue Details

"AdGuard Simplified domain names filter" contains explicit rule that allows "www.googleadservices.com"
![ScreenshotCapture_2019_08_24_14_54_51_284](https://user-images.githubusercontent.com/17823400/63637075-a8b41b00-c680-11e9-9a04-dcb982d4ce74.png)

- **AdGuard version:**
  - v3.2.139n
- **Filtering mode:**
  - Local VPN
- **Device:**
  - Google Pixel 2 XL)
- **Operating system

[2019-08-24 13:42] lancelot-moon commented on #2964
This is realized in v3.2.140 Release.
But there is a small bug.

When updating from v3.1/older versions to v3.2.140 Release or first installing v3.2.140 Release, AG SDN filter will show its translation.
<details><summary>Screenshot:</summary>

![image](https://i.imgur.com/8jF9GHZ.png)
</details><br/>

However, AG SDN filter will still show English if updating from v3.2 nightly versions to v3.2.140

[2019-08-24 14:24] lancelot-moon commented on #2964
I don't know if the bug is related to this.
https://github.com/AdguardTeam/AdguardForAndroid/issues/2971

After cleanly installing v3.2.140, if changing AdGuard's language from Chinese to English, AG SDN filter still shows Chinese.

[2019-08-24 14:27] lancelot-moon commented on #2971
My Android system language is Chinese.

After cleanly installing v3.2.140, if changing AdGuard's language from system (Chinese) to English, AG SDN filter still shows Chinese.

[2019-08-24 15:56] TheHasagi commented on #2971
@lancelot-moon

As you can see the milestone is set to 3.3 and it cannot be fixed in 3.2.140. Please, stand by.

[2019-08-24 16:07] lancelot-moon commented on #2971
@TheHasagi
Then you should not mark that you had fixed this in the changelog.
https://adguard.com/zh_tw/versions/android/release.html
[Fixed] "DNS filters" screen uses incorrect locale after language change #2971

[2019-08-24 16:16] TheHasagi commented on #2971
Fair enough :)

[2019-08-24 17:55] Techguyprivate opened #3023 "Blahdns not working in adguard for mobile"
### Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version Yes
- [ ] I checked the documentation and found no answer Didn't found answer.
- [ ] I checked to make sure that this issue has not already been filed Yes, checked.

### Issue Details

- **AdGuard version:** 3.2.141

[2019-08-25 07:50] patrickdrd commented on #2975
this still happens for me in .140,
dns filtering is broken after filters update

[2019-08-25 13:45] akmLaVx opened #3024 "AdGuard fails to start protection after an update"
### Issue Details

AdGuard hangs on "Preparing to start protection" screen after updating to 3.2.

- **AdGuard version:**
  - 3.2.135r, 3.2.139n
- **Filtering mode:**
  - Local VPN
- **Device:**
  - Xiaomi Mi Max 2
- **Operating system and version:**
  - Android 7.1.1
- **Root access:**
  - No

### Expected Behavior

Protection should start without issues after an update

### Actual Behavior

AdGu

[2019-08-25 15:30] ameshkov commented on #3024
Error from the log:
[code]

[2019-08-25 15:33] ameshkov commented on #3024
@akmLaVx ask the user to disable proxy: settings - network - proxy - disable it

[2019-08-25 15:39] Varolyt commented on #3024
@ameshkov помогло, спасибо

[2019-08-25 15:43] ameshkov commented on #3024
@Varolyt отлично, спасибо что подтвердили

[2019-08-25 15:43] ameshkov commented on #3024
Fixed in `pull-requests/1433`

[2019-08-25 15:55] ameshkov opened #3025 "Disabling network access globally blocks DNS requests"
## Steps to reproduce

1. Apps Management -> Settings -> Disable net access there
2. Try opening any website

## Issue details

Most likely, this is the reason for the issue that people have here:
https://forum.adguard.com/index.php?threads/adguard-for-android-3-2-140-hotfix.34670/

On one side, this behavior is not wrong. The problem here is that blocking network access for the DNS requests effec

[2019-08-25 19:48] ameshkov opened #3026 "Bypassing DNS requests breaks DNS filtering"
See the details here:
https://forum.adguard.com/index.php?threads/adguard-for-android-3-2-140-hotfix.34670/

QCRM ID: 1317328

[code]

[2019-08-26 08:13] TheHasagi opened #3027 "Unable to reset settings in firewall section"
Steps to reproduce:

1. Open AdGuard - Apps Management - 3dots - Settings
2. Change any settings (switch on/switch off)
3. In Firewall settings - 3dots - Reset settings

Actual behaviour:

Settings won't get back to its default stage.

Expected behaviour:

Settings should rollback to previous stage (default)

<details>

![img](https://uploads.adguard.com/TheHasagiw4hn9.jpg)

</details>

[2019-08-26 08:17] Eugene-Savenko opened #3028 "Random user-agents"
Allow adding several user-agents and switch between them randomly, just like the [Random User-agent](https://chrome.google.com/webstore/detail/random-user-agent/einpaelgookohagofgnnkcfjbkkgepnp?hl=uk) extension does.

[2019-08-26 08:22] Eugene-Savenko opened #3029 "Allow blocking cookies on certain websites"
The user wants to have an editable list.

[2019-08-26 08:53] Eugene-Savenko commented on #2842
ID: 2295144 (w/ adguard and system logs)
AdGuard version: 3.2.140

[2019-08-26 09:59] Alex-302 opened #3030 "com.nvidia.shield.remote - app is broken"
@adguard-bot commented on [Thu Aug 01 2019](https://github.com/AdguardTeam/AdguardFilters/issues/37788)

### Issue URL (Incorrect Blocking)
[https://play.google.com/store/apps/details?id=com.nvidia.shield.remote](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.nvidia.shield.remote)
### Comment
Username: @CoreyVidal

[2019-08-26 11:05] Alex-302 opened #3031 "com.facebook.lite - cannot detect that IPv6 is unreachable"
@adguard-bot commented on [Sun Aug 25 2019](https://github.com/AdguardTeam/AdguardFilters/issues/39179)

### Issue URL (Incorrect Blocking)
[https://play.google.com/store/apps/details?id=com.facebook.lite](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.facebook.lite)
### Comment

### Screenshots
<details>
  <summa

[2019-08-26 11:08] Alex-302 commented on #3031
This app works only when AdGuard rptection is disabled in the app settings

[2019-08-26 11:22] Alex-302 commented on #3031
Log:
[log (7).zip](https://github.com/AdguardTeam/AdguardForAndroid/files/3540883/log.7.zip)
with and without DNS blocking.

[2019-08-26 12:57] Alex-302 commented on #3030
@CoreyVidal could you, please send debug logs to us?
https://kb.adguard.com/android/solving-problems/log#debug

[2019-08-26 18:39] TheHasagi opened #3032 "Blocked app notification leads to a wrong way"
Steps to reproduce:

1. AdGuard - Apps management - block network access for all applications
2. Open some apps like browsers (Chrome/FF/Opera) and facebook, vk
3. You will see followed notifications about restricted access
4. Open two of them

Actual behaviour:

Notification leads to the previous (first) opened app's firewall settings

Expected behaviour:

Notification should lead the user to the

[2019-08-26 21:03] ameshkov commented on #3031
The current solution is to keep `pref.vpn.disable.reconfigure` disabled in the case when Facebook Lite is detected on the device.

[2019-08-27 07:26] Eugene-Savenko opened #3033 "Add user/system app filter to Bulk Change in Apps Management"
The use case provided by user #2263530:

_I want to use a preference in Bulk Change that apply only for user applications and let system applications without filtering because that can cause issues later on with the system (I'm not an end-user)._

_The first thing you can configure in any firewall is the option to apply a filter only for a type of application (user or system). That's not an uncomm

[2019-08-27 08:11] artemiv4nov opened #3034 "Fix "Preparing to start protection" notification"
When device's OS starts, application starts automatically and tries to start protection.
But if we did not allow the use of VPN, then the protection will not start, and the notification will stay.
We need fix this behavior.

[2019-08-27 08:18] Alex-302 commented on #2154
highlighting of element, selected by remote control(not mouse), is missed in:
- apps management;
- filtering log.

[2019-08-27 08:20] artemiv4nov commented on #2154
Done in 3.3, you need re-test it after 3.3 releasing.

[2019-08-27 08:20] #2154 closed

[2019-08-27 13:22] #3024 closed

[2019-08-27 13:22] #3025 closed

[2019-08-27 13:22] #3026 closed

[2019-08-27 13:22] #3031 closed

[2019-08-27 13:23] #3032 closed

[2019-08-28 08:22] oroboros commented on #2154
@zzebrum @artemiv4nov highlighting element is also missing on selections in

- all items under update channel
- General > Notification settings (completely not accessible, perhaps needs to be greyed out?)
- General > Language (no selection of languages)
- Extensions > everything below "new extension"

there's missing audio feedback (click sound) on selection:
- general settings
- some not all of "

[2019-08-28 08:51] TheHasagi commented on #2154
@oroboros

You should check it when version 3.3.x will be available :) It is not implemented in 3.2.x at the moment.

[2019-08-28 08:53] oroboros commented on #2154
I will, thanks!

I just wanted to alert to other places having the same problem, and the problem with sound on selection feedback which is missing, and which had not been reported previously.

[2019-08-28 09:26] #3021 closed

[2019-08-28 09:26] ameshkov commented on #3021
Issue moved to [AdguardTeam/DisableAMP #3](https://github.com/AdguardTeam/DisableAMP/issues/3) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-28 09:26] ameshkov commented on #3021
Issue moved to [AdguardTeam/DisableAMP #4](https://github.com/AdguardTeam/DisableAMP/issues/4) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-28 09:29] ameshkov commented on #3022
@SergeiShir this is not a bug.

The problem with blocking this domain is explained here: https://github.com/AdguardTeam/AdGuardHome/issues/64

`||googleadservices.com^$important`

[2019-08-28 09:29] #3022 closed

[2019-08-28 09:33] ameshkov commented on #3023
Their DOT server does not seem to be operational:
[code]

Their DOH server works okay:
[code]

Tested with https://github.com/ameshkov/dnslookup

[2019-08-28 09:35] ameshkov commented on #3023
Ah, my bad, DOT is also okay:
[code]

And I've been able to reproduce this issue indeed.

[2019-08-28 09:37] ameshkov commented on #2975
https://github.com/AdguardTeam/AdguardForAndroid/issues/2977

[2019-08-28 09:38] #3028 closed

[2019-08-28 09:38] ameshkov commented on #3028
Issue moved to [AdguardTeam/CoreLibs #1096](https://github.com/AdguardTeam/CoreLibs/issues/1096) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-28 09:41] ameshkov commented on #2842
@Eugene-Savenko is it still reproduced on the latest beta?

[2019-08-28 09:42] ameshkov commented on #3029
This is possible with rules with $cookie modifiers: https://github.com/AdguardTeam/CoreLibs/issues/401

[2019-08-28 09:42] #3029 closed

[2019-08-28 09:43] ameshkov commented on #3033
Makes perfect sense, thank you!

[2019-08-28 11:37] patrickdrd commented on #2977
as I reported on my own issue,
it gets broken after filters update I think,
not necessarily dns filters update though

[2019-08-28 14:07] artemiv4nov commented on #2762
@akmLaVx check this issue on latest nightly, please.
If it problem is still, send debug logs, please.

[2019-08-28 14:32] artemiv4nov commented on #2890
In the end, we'll change behavior of "check updates" shortcut: it will show only toast about updates' results.

[2019-08-28 16:30] AlikhanAliev opened #3035 "Active titles in search flow"
When we search something into all filters we see titles. Each title should be active and lead us to appropriate filter group.

Example: our iOs app

[2019-08-28 16:41] artemiv4nov opened #3036 "Charts inside scrollable views cannot intercept `MotionEvent.ACTION_MOVE`"
Charts inside scrollable views cannot intercept `MotionEvent.ACTION_MOVE`
You can see it on any activity with scrollable view. For instance, Battery Activity.

[2019-08-28 19:10] #2980 closed

[2019-08-29 03:59] akmLaVx opened #3037 "Move "Import / Export Settings" to a more visible area"
### Problem Description

Since the release of AdGuard 3.0, we've received multiple support tickets about the "disappearance" of the "import / export settings" feature. While the option is still there, it is located in a very inconvenient spot (Settings > top-right menu) and is quite hard to find.

### Proposed Solution

Move "Import / Export settings" to Settings > General.

### Alternatives Consi

[2019-08-29 09:04] zzebrum opened #3038 "If a user installed the app but didn't start the protection we can remind about us :)"
If a user installed the app but didn't start the protection we should remind about it :)

[2019-08-29 09:39] chernikova-yana commented on #3037
There are 2 alternative phrases for the screen. Both are approved, so we can choose one that we find the most applicable:

1) https://share.goabstract.com/899b5743-9b53-48f5-892f-02a49ce18b96?sha=a8ec1912fa7f03a570687c74ea1338fefba1dc2d

2) https://share.goabstract.com/84d01cb3-908c-4111-a78c-6b21890ff1df?sha=a8ec1912fa7f03a570687c74ea1338fefba1dc2d

[2019-08-29 10:40] Techguyprivate commented on #3023
Blahdns works with other apps or softwares. For example, blah dns works with

1. Nebulo, an open source app for dns encryption

2. Intra from Google.

3. Stubby dns

4. Technitium dns

5. Adguardhome in pc

But doesn't work for some reason with adguard for mobile . Tried most of the thing like clearing cache, uninstalling & imstalling again,reboot, using different ports etc.

 Is it to do anything

[2019-08-29 11:53] Chinaski1 opened #3039 "Google Now not updated on "Always on VPN""
### Issue Details

- **AdGuard version:** v3.2.150
- **Filtering mode:** Local VPN
- **Device:** ASUS ZB602KL
- **Operating system and version:** 9
- **Root access:** No

### Expected Behavior
<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/49645813/63937891-32daf580-ca6c-11e9-8ff4-423c5906149b.png)

</details>

### Actual Behavior

<details><summary>Scr

[2019-08-29 13:11] sfionov commented on #3039
It's working as expected.
When "Block connections without VPN" is on, traffic from applications that are not filtered by AdGuard will not be redirected into AdGuard's local VPN, and thus systen will continue to block traffic from that applications (because they are "without VPN").

[2019-08-29 19:39] ocebir commented on #2842
I am having the same issue on my samsung s10e and my samsung tab a 10.5

[2019-08-30 10:05] ameshkov commented on #3023
Yeah, that's why I marked it as a bug:)

This is actually very strange because AdGuard Home uses the very same DNS library as AdGuard for Android.

[2019-08-30 10:06] ameshkov commented on #2842
@ocebir could you please collect logs as it's explained in [this comment](https://github.com/AdguardTeam/AdguardForAndroid/issues/2842#issuecomment-515050041)?

[2019-08-30 14:31] samsepiol59 opened #3040 "Can't remove discord notifications when adguard is enabled"
### Issue Details

- **AdGuard version:**
  - Latest Android App
- **Filtering mode:**
  - Local VPN
- **Device:**
  - Xiaomi Mi A1
- **Operating system and version:**
  - Android 9
- **Root access:**
  - No

### Expected Behavior

Discord notification should disappear when clicking on "Mark as read"

### Actual Behavior

It doesn't disappear, but it goes away instantly if I pause adguard even min

[2019-08-30 15:02] Koruy commented on #3039
Тогда почему приложение windscribe, которое так же работает с vpn, при включенной настройке: блокировать соединение без vpn работает и обновляется лента гугл?
Then why is the windscribe application, which also works with vpn, with the setting turned on: block a connection without vpn running and updating Google feed?

[2019-08-30 15:05] Revertron commented on #3039
@Koruy потому, что windscribe пропускает через себя _все_ соединения, а AdGuard - нет.

[2019-08-30 16:33] Koruy commented on #3039
Тогда как adguard блоуирует трафик через брандмауэр, если он не все соединения пропускает через себя?

[2019-08-31 03:15] lancelot-moon commented on #2976
It seems that mine is a duplication.
https://github.com/AdguardTeam/AdguardForAndroid/issues/2774

[2019-08-31 03:15] #2976 closed

[2019-08-31 03:19] lancelot-moon commented on #2750
A duplication.
https://github.com/AdguardTeam/AdguardForAndroid/issues/2625

[2019-08-31 03:19] #2750 closed

[2019-08-31 10:05] ocebir commented on #2842
I have updated to 3.2.150 yesterday, so far the issue has not happened if/when it does I will get the logs. Thanks

[2019-08-31 10:18] Eugene-Savenko opened #3041 "Do not filter new apps by default"
That could be an optional low-level feature that would prevent AdGuard for enabling filtering for apps you've just installed. Requested by 1400233:

[2019-09-01 07:18] lancelot-moon opened #3042 "After connecting to BBS, Telnet connection will be disconnected later with Socks5 outbound proxy."
I use AG for Android v3.3 nightly 2 (5).

After successfully connecting to BBS, Telnet connection will be disconnected later with Socks5 outbound proxy.

I tested Telnet connection with Socks5 or HTTP outbound proxy.
<details><summary>Screenshot:</summary>

![image](https://i.imgur.com/vJWhO58.png)
</details><br/>

When I stayed on BBS via Telnet protocol, I could keep connection with **HTTP** out

[2019-09-01 19:49] carlylemiii commented on #2174
Rather than this (or maybe in addition to, I suppose), I'd love to see AdGuard follow Google's suggestions for handling dark themes, rather than the current implementation of an on/off toggle.

https://developer.android.com/preview/features/darktheme#changing_themes_in-app

[2019-09-01 23:36] lancelot-moon opened #3043 "A feature request for split proxy."
Is it possible to set some apps through outbound proxy but others not through outbound proxy? Those apps still have AG protection (adblock) in this situation (VPN mode) whether their traffic pass through outbound proxy or not.

[2019-09-02 05:21] patrickdrd commented on #2977
it still doesn't work on the latest nightly..
after filters update dns filtering didn't work,
please fix it because http proxy mode is unusable without dns filtering..

[2019-09-02 08:17] Eugene-Savenko opened #3044 "Provide the ability to edit outbound proxies even if the feature is disabled"
Currently (v. 3.3 nightly 2), it's grayed out when the outbound proxy is disabled, and long-tapping does not open the editing menu.

[2019-09-02 09:58] ameshkov commented on #3042
What about not using a proxy at all?

[2019-09-02 13:30] lancelot-moon commented on #3042
Did you maybe reply a wrong issue?

Here, I found a bug in Socks5 outbound proxy for Telnet connection.

[2019-09-02 13:35] lancelot-moon commented on #3043
@ameshkov
https://github.com/AdguardTeam/AdguardForAndroid/issues/3042#issuecomment-527086152

Do you mean this?

I wish some apps can use foreign ip but others can't use in VPN mode.
I also wish adblock in split proxy.

Ex:
A app (in the routed apps list) -> outbound proxy with adblock
B app -> not use outbound proxy but still with adblock

[2019-09-02 16:05] TPS opened #3045 "Searching, then "Edit Filter" shows overlay bug"
### Issue Details
While searching for any User Filter (either DNS or Content Blocking), choose "Edit Filter" from <kbd>__⋮__</kbd> menu.

- **AdGuard version:** v3.3η2 (5)
- **Filtering mode:** Local VPN
- **Device:** Moto G5+
- **Operating system and version:**
  - Android Oreo/8.1.0
- **Root access:**: No

### Expected Behavior
Edit view incorrectly overlays the seach view.

### Actual Behavior

[2019-09-03 08:42] ameshkov commented on #908
Done

[2019-09-03 08:42] #908 closed

[2019-09-03 10:52] TPS commented on #1104
@ameshkov Now that #908 is resolved, could the package names _here_ be blocked, also? 🙏🏾

[2019-09-03 11:04] Eugene-Savenko opened #3046 "Unchecked rules become checked after importing the content blocking user filter to the DNS user filter"
When exporting the regular user filter with certain rules disabled and importing it to the DNS User filter, all rules turn enabled. Some customers would like to have the status of the rules preserved. Reproduced with AdGuard 3.3 nightly 2.

<details> <summary> the content blocking user filter before exporting </summary>

![Screenshot_2019-09-03-13-53-27](https://user-images.githubusercontent.com/1

[2019-09-03 11:16] TheHasagi commented on #3046
Actually, it is not a but or issue. Logic is that those filters are storing only as a "text" and can not contain any states of enabled/disabled rules. It is working as you suppose only if you export whole settings from general - settings - 3dots - export settings.

[2019-09-03 12:40] TheHasagi commented on #3040
Seems ok from my side. Give another try with the latest release 3.2.150.

[2019-09-03 12:53] samsepiol59 commented on #3040
v3.2.150 is the one I'm using currently! Do I need to whitelist something by any chance?

I'm using every starred filter (only the Easy List Italy for language) + the nocoin one in Security! Using cloudflare dns-over-https, no extensions, using local vpn!

[2019-09-03 12:57] TheHasagi commented on #3045
@TPS

Can not reproduce, can you provide any screenshots?

[2019-09-03 13:28] artemiv4nov opened #3047 "Hide the bar above the button "Update application" on Update activity"
We need hide the bar if application has not any updates.

![2019-09-03 4.27.53 ПП.jpg](https://images.zenhubusercontent.com/5cb08f26d74bd07972ce5545/1365332e-afaa-48fb-827c-16af928048e6)

[2019-09-03 16:04] admitrevskiy commented on #2970
Done.

[2019-09-03 17:27] pdkpv opened #3048 "После нажатия "Quick Connect" для ProtonVPN - AdGuard не ставится на паузу, тем самым не позволяет ProtonVPN подключиться"
Предыстория: https://github.com/AdguardTeam/AdguardFilters/issues/39864

Устройство: Xiaomi Redmi 4X, MIUI 10 Global Beta, Android 7.1.2
Версия AdGuard: версия 3.3.5 от 31 августа 2019
Версия ProtonVPN: 2.0.3 (beta)

Сейчас отправлю логи через приложение, в письме добавлю линк на эту тему

[2019-09-03 18:48] TheHasagi commented on #3048
Проверил на релизной версии Proton VPN и с бета, проблема не повторяется. Скорее всего специфика прошивки MIUI. Нужны детальные логи.

[2019-09-03 19:04] TheHasagi commented on #3048
Повторяется, если запускать ProtonVPN из шторки.

[2019-09-03 21:22] TPS commented on #3045
![Screenshot_20190903-1343283!](https://user-images.githubusercontent.com/185902/64209718-407aeb80-ce6f-11e9-845a-d8336444b70a.png)

[2019-09-03 22:33] lancelot-moon opened #3049 "After changing AG's language but not enabling AG protection nor clearing AG app from the background and then opening it, it shows the previous language in long press shortcut."
After changing AG's language but **not enabling AG protection nor clearing AG app from the background and then opening it**, it shows the previous language in long press shortcut.

Ex:
1. Change AG's language from Russian to English.
2. Don't enable AG protection.
3. It shows Russian in long press shortcut.

For letting it show the selected language in long press shortcut, need to ever enable AG p

[2019-09-03 22:38] lancelot-moon commented on #3042
Waiting for report?
I have sent the log file (record everything) to devteam@adguard.com on 1st September.

[2019-09-04 08:51] admitrevskiy commented on #2972
Resolved in 3.3

[2019-09-04 08:51] admitrevskiy commented on #3047
Done.

[2019-09-04 18:01] akmLaVx commented on #2762
Logs available in ticket 1981369

[2019-09-04 20:45] akmLaVx commented on #3048
Logs from the OP are available in  ticket 2303082.

[2019-09-05 11:05] Chinaski1 opened #3050 "Protection doesn't start when using Shadowsocks"
### Issue Details

- **AdGuard version:**  v3.3 nightly 2(5)
- **Filtering mode:** HTTP Proxy Manual
- **Device:** ASUS ZB602KL
- **Operating system and version:** Android 9
- **Root access:** No

### Actual Behavior

1) Run Shadowsocks
2) Connect to the server
3) Setup AdGuard as the outbound proxy
4) Try to start AdGuard protection
5) Unable to activate AdGuard protection

### Screenshots

<deta

[2019-09-05 12:58] TheHasagi opened #3051 "Stealth mode set option issue"
### Steps to reproduce:

1. Open AdGuard - Settings - Stealth mode - Enable
2. Choose between High - Ultimate - Custom
3. Switch between these options rapidly

### Expected behaviour:

After a small delay option should be applied

### Actual behaviour:

Somehow you can enable all of those options at the same time

[2019-09-05 13:46] TheHasagi commented on #3040
@samsepiol59
To troubleshoot this issue, we need to get additional logs.

Here's what we need you to do:

1. Collect the debug log as it's [explained here](https://kb.adguard.com/en/android/solving-problems/log#debug).
2. Remember the exact time when the issue was reproduced, we will need it to find the corresponding records in the log file.
3. Additionally, capture the system bug report after rep

[2019-09-05 14:40] admitrevskiy commented on #2971
Done.

[2019-09-05 14:40] admitrevskiy commented on #2974
Done.

[2019-09-05 14:41] admitrevskiy commented on #2978
Done. Testing instructions for QA:

- Reinstall AG
- Examine new charts

[2019-09-05 16:43] TheHasagi opened #3052 "Suppress HTTPS filtering error notification for the apps that use pinning techniques"
Somehow from time to time user will receive a notification (see attachment)  about HTTPS filtering error that some application does not accept our certificate. It can not be reproduced easily but it does exist.

<details>

![image](https://user-images.githubusercontent.com/37797229/64361509-5cb88d00-d015-11e9-869b-f5bab4ed85d8.png)

</details>

[2019-09-06 07:27] ameshkov opened #3053 "Change the target SDK level to 29 (Android 10)"
Here's what we should do:

1. Dynamic theme: https://developer.android.com/guide/topics/ui/look-and-feel/darktheme
    We'll need to add the "System default" option to our themes.
2. Check that there are no issues with the [scoped storage access](https://developer.android.com/training/data-storage/files/external-scoped) in the cases when we download an update, export/import settings/filters, etc.

[2019-09-06 10:38] admitrevskiy commented on #3023
I've found the out root cause of this issue. We use `ipv4only.arpa.` as DNS question name. 2/3 of blah dns servers do not have records for this name and it's weird :)

AGHome uses `google-public-dns-a.google.com.` as a question name during upstreams test. @ameshkov should we use the same question name for mobile lib?

[2019-09-06 11:21] proton777 opened #3054 "Can't update version"
Running now on version 3.1 for Android.

There have been several recent updates and I have been unable to successfully do any of them. I download the apk file to my phone and try to run it but always get the same message "App Not Installed".

I tried many times and many ways but I always get the same message.  Installing from Unknown Sources has been enabled.

The only way to successfully install

[2019-09-06 11:47] artemiv4nov commented on #3054
@proton777 Android uninstalled application not all. You have to uninstall application from Settings -> Applications.

[2019-09-06 12:13] proton777 commented on #3054
Yes, that is how I uninstalled previous versions - Settings>Apps>AdGuard>Uninstall.

Now a new version can be installed but all the settings are gone and so is the license key.  I would like to install each new update on top of the existing one, without having to uninstall and start from the beginning like I do with a new app.

Thank you

[2019-09-06 12:42] TheHasagi opened #3055 "The update window appears on top of all activities"
We should wait until the user will follow the onboarding steps before we can show the update window.

### Steps to reproduce:

1. Install AdGuard
2. Launch it for the first time
3. Do not continue, just wait for 1 minute

### Expected behaviour:

Nothing will happen until the user will follow the onboarding

### Actual behaviour:

After ~ 1 minute you will see the update window

[2019-09-06 14:48] admitrevskiy commented on #3020
Done.

Testing instructions for QA:
- Reinstall AG
- Enable `Airplane mode`
- Go to `Updates` screen

[2019-09-06 15:42] ameshkov commented on #3023
Can they maybe fix this instead? It's really strange to not resolve it

[2019-09-06 15:43] ameshkov commented on #3023
@admitrevskiy plz report it there:
https://github.com/ookangzheng/blahdns

[2019-09-06 15:43] #3023 closed

[2019-09-06 16:04] admitrevskiy commented on #3023
Here is the report for Blah DNS: https://github.com/ookangzheng/blahdns/issues/60

[2019-09-07 02:55] AnthonyBe opened #3056 "WiFi network specific DNS settings (AGH integration)"
### Problem Description

First posed in Forums here - https://forum.adguard.com/index.php?threads/adguard-home-detection-integration.34691/

All of my family's Android phones and tablets run AdGuard for Android (AGforA) and at home I also run AdGuard Home (AGH).

The problem I now have is that by using the DNS capability in AGforA to enforce use of secure DNS, when those same devices are connected

[2019-09-07 08:16] Eugene-Savenko commented on #1327
One more:

[2019-09-07 09:31] Eugene-Savenko opened #3057 "Speedtest.net keeps detecting VPN even when filtering for the app is disabled"

[2019-09-07 09:37] Revertron commented on #3057
We cannot do anything with this.

[2019-09-07 09:37] #3057 closed

[2019-09-07 09:56] ocebir commented on #2842
How do I upload logs for this please?

[2019-09-07 09:57] ocebir commented on #2842
I have emailed them to support@adguard.com. but if there is another email address i can email them to please let me know. Thanks

[2019-09-07 12:09] TPS commented on #3045
Do let me know whether y'all need anything else from me.

[2019-09-07 14:14] domebacsi opened #3058 "Action bar with fixed position"
Make the navigation bar transparent on Android 10

AdGuard's implemantation:
![AdGuard](https://i.imgur.com/HUjMBu4.png)

Example of the transparent navigation bar on Google Calendar:
![Google Calendar](https://i.imgur.com/ya7VtEF.png)

[2019-09-07 16:09] gontazaka commented on #3056
I have the same system configuration at home as you.
My solution is to use "Automation" features.
 https://kb.adguard.com/en/android/solving-problems/tasker

I'm using Tasker app.
Send intent to AdGuard as a trigger for connecting and disconnecting to home Wi-Fi.
 Tasker: https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm

As you say, it's nice to be able to do it only wit

[2019-09-07 20:10] dnovitskyi opened #3059 "AdGuard is displayed in incorrect display mode(landscape instead of portrait)"
### Issue Details

- **AdGuard version:**
  - 3.2.150 release
- **Filtering mode:**
  - Local VPN
- **Device:**
  - Samsung SM-J500F
- **Operating system and version:**
  - 6.0.1
- **Root access:**
  - No

### Expected Behavior

The app should correctly detect screen position and switch to portrait/landscape mode correctly.

### Actual Behavior

The app ALWAYS goes to landscape mode even though Sc

[2019-09-08 00:23] AnthonyBe commented on #3056
Ahhhh! Thanks @gontazaka ! That's a really clever workaround for the problem!

I already use Automate and IFTTT for some basic automation. I'll take a look at Tasker. Thanks for sharing the details that work for you!

To the AG team - it would be nice to not have to use 3rd party tools for this. Then again, I can appreciate that the sort of people that will be running AGH in their home ARE the sor

[2019-09-08 07:59] Eugene-Savenko opened #3060 "AdGuard 3.3.5 crashes when exporting setting, creates empty file"
### Issue Details

- **AdGuard version:**
  - 3.3.5
- **Filtering mode:**
  - VPN
- **Device:**
  - Samsung SM-T555
- **Operating system and version:**
  - 7.1.1
- **Root access:**
  - n/a

### Expected Behavior

AdGuard does not crash

### Actual Behavior

It crashes during the process of exporting

### Additional Information

For logs, please check this ticket: 1394429

[2019-09-08 14:37] #2428 closed

[2019-09-08 17:47] ocebir commented on #2842
@ameshkov please let me know if there is anything else i can do. Thanks

[2019-09-08 19:37] ameshkov commented on #3039
@Koruy это все меняется в "настройках приложений", вам просто нужно для всех приложений включить фильтрацию там

[2019-09-08 19:38] ameshkov commented on #2842
@ocebir thank you!

Plz forward the same email to `devteam@adguard.com` - this is a shortcut to the developers:)

[2019-09-08 19:40] ameshkov commented on #3042
I mean is there a difference when you are not using any proxy?
Also, could you please try a different proxy, not nordvpn?

[2019-09-08 19:41] ameshkov commented on #2174
@carlylemiii yeah, we're going to as a part of this task: https://github.com/AdguardTeam/AdguardForAndroid/issues/3053

[2019-09-08 19:42] ameshkov commented on #3043
Duplicate, we already have such feature request here

[2019-09-08 19:42] #3043 closed

[2019-09-08 19:42] Koruy commented on #3039
Вот именно, что фильтрация для гугл, сервисов гугл плей, почты гугл фильтрация для них включена и не могут гугл приложения получить доступ к интернету, обновить ленту и так далее, баг программы, разработчики упорно не признают.

[2019-09-08 19:42] Koruy commented on #3039
Вот именно, что фильтрация для гугл, сервисов гугл плей, почты гугл фильтрация для них включена и не могут гугл приложения получить доступ к интернету, обновить ленту и так далее, баг программы, разработчики упорно не признают.

[2019-09-08 19:43] Koruy commented on #3039
That's it, that filtering for google, google play services, google mail filtering is turned on for them and google apps can’t access the internet, update the feed and so on, the program’s bug, the developers stubbornly do not recognize.

[2019-09-08 19:44] ameshkov commented on #1104
Yeah, I guess so. @Alex-302 could you plz take a look?

[2019-09-08 19:45] ameshkov commented on #3046
This is by design

[2019-09-08 19:45] #3046 closed

[2019-09-08 19:48] ameshkov commented on #3050
Well, this is not how it should work.

You should:
1. Configure Shadowsocks to run as a Socks proxy
2. Configure AdGuard to use Shadowsocks as a proxy (and not the way around)

[2019-09-08 19:48] #3050 closed

[2019-09-08 19:49] ameshkov commented on #3052
Does it have HTTPS filtering enabled for Outlook? We don't filter it by default

[2019-09-08 19:51] #3054 closed

[2019-09-08 20:04] ameshkov commented on #3056
We're going to do the same in AdGuard for iOS, and I guess it's logical to do it on Android as well.

[2019-09-08 20:06] ameshkov commented on #3058
Assigned to v3.5 for now, but first we'll need @AlikhanAliev's opinion on this.

[2019-09-08 20:25] ameshkov commented on #3039
@Koruy вы уверены что вообще для всех приложений включена фильтрация? Рекомендации эти могут грузиться каким-то отдельным системным приложением

[2019-09-08 21:58] ameshkov commented on #2842
@ocebir got the logs, thank you!

Unfortunately, it seems that the default AdGuard's logging level is not enough to figure what's going on. I see that connections are timing out, but I can't see why.

Could you please try using AdGuard with the logging level set to "record everything" for some time?

[2019-09-08 22:03] ocebir commented on #2842
@ameshkov no problem i will do this and get back with new logs, thanks

[2019-09-08 23:17] lancelot-moon commented on #3042
Without outbound proxy, AG had fixed the disconnection bug in the past.

You got it.
With Windscribe Socks5 proxy (port: 1080) in AG, Telnet connection won't be disconnected.

It seems that disconnection issue is with NordVPN Socks5 proxy.

[2019-09-09 06:09] TheHasagi commented on #3052
I guess not, can be reproduced with default settings (after a clean install of the application).

[2019-09-09 06:25] TheHasagi commented on #3059
This issue related to TouchWiz OS. Any chance we can fix this? @artemiv4nov

[2019-09-09 06:42] Eugene-Savenko commented on #3059
Bit of a correction in that thread. The app does not "always" go in landscape mode/show incorrect display. This error happens to the app "randomly" and "regularly".

[2019-09-09 06:54] Eugene-Savenko commented on #3052
![image](https://user-images.githubusercontent.com/15856304/64509116-b7890780-d2e7-11e9-92a9-aa8f56a85f05.png)

If this can help, please find the logs here: 2307731

[2019-09-09 07:12] SynergiAios commented on #2842
Just to inform everyone, for me, I was able to solve this issue with what the support sent me.
1) Ensure Battery Save Tasks don't kill/sleep the Adguard Service
2) Make sure Notifications are enabled

For my device:
OnePlus 6 - current OxygenOS

[2019-09-09 07:48] #2932 closed

[2019-09-09 08:53] ameshkov commented on #3042
Yeah, this is most likely the Nord's issue.

[2019-09-09 08:53] #3042 closed

[2019-09-09 09:31] Chinaski1 opened #3061 "Add Vivaldi to the list of supported browsers"
[Vivaldi](https://play.google.com/store/apps/details?id=com.vivaldi.browser) browser beta version was released on September 6.
Please add it to the list of supported applications.

[2019-09-09 09:35] artemiv4nov commented on #2983
@TheHasagi Check this issue, please

[2019-09-09 13:55] Chinaski1 opened #3062 "Wrong description of Cloudflare DNS"
In DNS server settings is specified that Cloudflare DNS can block malicious domains, Ads and Tracking.
But the official representative of the Team Cloudflare [denied this information](https://community.cloudflare.com/t/does-cloudflare-1-1-1-1-block-malicious-domains-ads-and-tracking/14870).
Please remove this tab.

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercon

[2019-09-09 14:22] TheHasagi commented on #2983
It is highlighted in the latest nightly.

[2019-09-09 14:30] Alex-302 commented on #1104
What package names should be blocked? And why?

[2019-09-09 17:44] TPS commented on #1104
@Alex-302 https://github.com/AdguardTeam/AdguardForAndroid/issues/1104#issue-214119788 → http://blog.checkpoint.com/2017/03/10/preinstalled-malware-targeting-mobile-users/

[2019-09-09 18:31] Koruy commented on #3039
Вот сейчас проверил, включил фильтрацию (защиту) полностью для всех приложений, кроме самого adguard, результат тот же самый. Не обновляется лента гугл, и к тому же ещё и по ссылке в почте я не смог перейти на сайт github.

[2019-09-09 18:50] Alex-302 commented on #1104
Two years old info. Do we really need it?

[2019-09-09 22:37] ameshkov commented on #3062
@Chinaski1 do we have this mistake in the iOS version? If so, please create an issue there as well

[2019-09-09 22:38] ameshkov opened #3063 "Extend the information written to `state.txt` when the logs are exported"
This is important to see full information about the app settings there.

Currently, a lot of things are missing from there.

For instance:
1. No info on stealth mode
2. No info on userscripts
3. Maybe there are more things missing from there

[2019-09-09 23:13] TPS commented on #1104
Unfortunately, that's how long the blocking issue has been open, & has just been resolved ~1 week ago.  Per https://success.trendmicro.com/solution/1117830-loki-malware-information & https://www.thethreatreport.com/lokibot-the-android-malware-problem-since-2016/, this is still an active, evolving problem.

[2019-09-10 04:27] SergeiShir commented on #3060
I experience the same issue
Nightly app version: 3.3.14, corelibs version: 1.4.138
I enabled Debug=Everything
Below is an excerpt from the log

07:11:56.647 [single-pool-3-thread-1] INFO  c.a.android.filtering.commons.e - Interface: rmnet_ipa0 (rmnet_ipa0)  mtu=2000 isUp=true
07:11:56.647 [single-pool-3-thread-1] INFO  c.a.a.r.NetworkStateReceiver - The connection did not really change, doing noth

[2019-09-10 08:03] patrickdrd commented on #3060
I tried to export the settings some days ago and it crashed and
I tried again, same results..
I didn't check to see if it created an empty file, because I was disappointed,
It seems that the settings exporting is a long-lasting pain..
anyway, thank god I've got titanium backup in all my phones these days..

[2019-09-10 11:09] admitrevskiy commented on #3045
Done.

Testing instructions for QA:
-Reinstall AG
-Go to User Filter
-Enable search and type smth
-Open Action Bar menu

Expected result:
-`Edit` mode is not available during search

[2019-09-10 13:38] Chinaski1 commented on #3062
Got it!

[2019-09-10 15:28] sviperz opened #3064 "Flamingo for Twitter can't load images"
**Flamingo for Twitter** can't load images in the feed. If **AG** is switched off or **Flamingo for Twitter** is excluded from the filtering, everything works as expected. It started about two nightlies back.

Please fix.

![Screenshot_20190910-114821](https://user-images.githubusercontent.com/11470610/64627790-efcc3b00-d3f8-11e9-85fe-3940a65ba2f5.png)

### Environment
* Adguard version: v3.3. nig

[2019-09-10 15:45] admitrevskiy commented on #3060
Done.

Testing instructions for QA:
-Reinstall AG on phone with Android 7- aboard
-Change notification type in General Settings
-Add some rules to: Whitelist/UserFilter/Dns UserFilter and disable some of them
-Try to export settings

Expected result:
-No crashes

[2019-09-10 15:48] admitrevskiy commented on #3051
Done.

[2019-09-10 17:27] carlylemiii commented on #3064
See also https://github.com/AdguardTeam/AdguardFilters/issues/40135

[2019-09-10 19:32] ameshkov commented on #3039
To troubleshoot this issue, we need to get additional logs.

Here's what we need you to do:

1. Open AdGuard -> Settings -> Advanced -> Set "Logging level" to "Record everything". It's desirable to close all background apps that don't concern the problem beforehand.
2. Reproduce the issue and set the logging level back to "Default".
3. Remember the exact time when the issue was reproduced, we will

[2019-09-10 19:33] ameshkov commented on #1104
Tbh, I'd still prefer blocking domains and not apps, this would help in the case if some package names are missing from that list.

[2019-09-10 20:06] Koruy commented on #3039
Отправил, а в названии темы в письме указал ссылку на данную страницу в github

[2019-09-10 20:23] ameshkov opened #3065 "Check if we really need to show an alert when private DNS is set to "automatic""
Here's how "automatic" private DNS works:

1. It gets the IP address of the current network DNS server
2. It tries to connect to port 853 (maybe, it will try port 443 as well in the newer versions)
3. If a DOT server is available and listens to this port, it will use it. Otherwise, it will continue using the regular DNS.

The question is -- what will it do when we override the DNS settings in our

[2019-09-10 20:31] Koruy commented on #3039
Дело в том, что не удаётся обновить не только ленту гугл, так же не
работает почта gmail и ещё какие то приложения не работали, я на вскидку
так не скажу play market вроде бы.

вт, 10 сент. 2019 г., 23:27 Andrey Meshkov <notifications@github.com>:

[2019-09-10 21:58] TPS commented on #1104
As I mentioned, if the packages aren't blocked, all they hafta do is switch domains (as designed for similar reasons), & they're back in business.

[2019-09-11 07:26] sviperz commented on #3064
Suddenly, the issue has been fixed by the dev of Flamingo in the latest beta version v18.1.1.

![Screenshot_20190911-065123](https://user-images.githubusercontent.com/11470610/64676564-8989fb80-d47e-11e9-8d70-211cb4b9fb8d.png)

[2019-09-11 07:26] #3064 closed

[2019-09-11 14:29] admitrevskiy commented on #3062
Done.

[2019-09-11 14:48] Chinaski1 opened #3066 "AdGuard DNS blocks Xbox Beta App"
### Issue Details

- **AdGuard version:**
  -  3.2.150
- **Filtering mode:**
  -  Local VPN
- **Device:**
  -  Samsung SM-G955U
- **Operating system and version:**
  -  Android 9
- **Root access:**
  -  No

### Actual Behavior

1) Open Xbox Beta settings
2) Configure dns.adguard.com as Private DNS sever
3) AdGuard DNS seems to block friends functionality in the Xbox Beta
Android App

### Screensho

[2019-09-11 22:25] TPS commented on #2781
I actually now prefer the _functionality_ of `pref.notify.on.unknown.ca`, though its _UI_ could do w/ a lotta work — is it possible to incorporate it into a feature that could _automatically_ handle HTTPS filtering, but w/ said behavior overridable per-app?

[2019-09-11 22:28] TPS commented on #2530
`pref.notify.on.unknown.ca` is actually quite good as a step toward this.

[2019-09-11 22:31] TPS commented on #3045
WFM, thanks! 🙇🏾‍♂️

[2019-09-12 09:09] Chinaski1 opened #3067 "Incorrect behavior of a function "Include license data" in Export settings"
- **AdGuard version:**
  -  Nightly 3.3.18
- **Filtering mode:**
  -  Local VPN
- **Device:**
  -  ASUS ZB602KL
- **Operating system and version:**
  -  Android 9
- **Root access:**
  -  No

### Actual Behavior
**Include license data** disabled, but license data is still saved.

### Screenshots

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/49645813/64

[2019-09-13 07:40] admitrevskiy commented on #3053
Done.

Testing instructions for QA:
-Reinstall AG on device with Android Q aboard

1)
-Go to Settings -> General -> Theme -> System default
-Go to device settings and select `Dark theme`

Expected result:
-App Theme equals system theme

2)
-Examine Export/Import (settings/userfilter/whitelist/etc)

3)
-Enable airplane mode
-Try to add Extension/Dns Filter/Custom filter via URL

Expected result:
-Y

[2019-09-13 10:38] lancelot-moon opened #3068 "A wrong Chinese date format in the label of Ads blocked, Trackers blocked, Threats blocked and Data saved & in the statistic graph's label of apps management."
1. For zh-TW and zh-CN locale,
ex: 1st September
1 9月 <- **wrong Chinese date format**
9月1日 <- correct Chinese date format
This can be for your reference:
https://github.com/AdguardTeam/AdguardForAndroid/issues/2356

<details><summary>Screenshots:</summary>

![image](https://i.imgur.com/1xUg1AI.jpg)

![image](https://i.imgur.com/Hyu2WKW.jpg)

![image](https://i.imgur.com/lBRDIJE.jpg)

![image](htt

[2019-09-13 12:42] carlylemiii commented on #3053
Are you not opting for System default to _be_ the default, per Google's recommendation? Or is that testing step to verify that the setting is set that way?

[2019-09-13 14:04] admitrevskiy commented on #2964
Yep, this issue is already fixed.

[2019-09-13 14:11] Chinaski1 opened #3069 "Whitelist export feature"
### Proposed Solution
Request to add the ability to export/import Whitelist/Blacklist data.

[2019-09-13 14:34] admitrevskiy commented on #3034
Done.

Testing instructions for QA:
-Clean install AG
-Do not pass `Quick Settings`
-Restart device (*)
-Expected result: no autostart, no notifications

-Pass onBoarding
-Do not start protection
-(*)
-Expected result: no autostart, notification `Please, configure application`
-Tap on notification lead to Main screen

-Select `Proxy` filtering mode
-(*)
-Expected result: AG starts on device boot

[2019-09-13 15:23] artemiv4nov opened #3070 "Backend integration: license activation via login to AdGuard Personal account"
This is a part of global task #2901

[2019-09-13 15:25] artemiv4nov opened #3071 "UI for license activation via login to AdGuard Personal account"
This is a part of global task #2901

[2019-09-13 17:17] artemiv4nov commented on #2174
Реализовано в 3.3 nightly 5

[2019-09-13 17:30] artemiv4nov commented on #2174
Необходимо доработать задачу, чтобы системная новая тема была по умолчанию для устройств с Android 10

[2019-09-13 18:44] ocebir commented on #2842
@ameshkov I have emailed new logs to devteam@adguard.com. I hope this helps. If anything further is required please let me know. Thanks

[2019-09-13 19:07] TheHasagi commented on #3052
New logs in ncloud.

[2019-09-14 16:39] ameshkov commented on #3066
Issue moved to [AdguardTeam/AdGuardSDNSFilter #127](https://github.com/AdguardTeam/AdGuardSDNSFilter/issues/127) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-14 16:39] #3066 closed

[2019-09-16 10:56] Alex-302 opened #3072 "com.udemy.android - app is broken"
@Alex-302 commented on [Mon Sep 16 2019](https://github.com/AdguardTeam/CoreLibs/issues/1127)

@adguard-bot commented on [Fri Sep 13 2019](https://github.com/AdguardTeam/AdguardFilters/issues/40416)

### Issue URL (Incorrect Blocking)
[https://play.google.com/store/apps/details?id=com.udemy.android](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fplay.google.com%2Fs

[2019-09-16 15:34] Chinaski1 commented on #3069
Information for clarification:
The request is to make a separate export of the white list.

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/49645813/64971535-85137780-d8b0-11e9-8599-a9e73ad9088a.png)

</details>

[2019-09-17 09:29] ameshkov opened #3073 "Userscripts updates are not tracked by the battery service"
See `UrlUtils.addDataUsageListener`
We need to check the project for alternative data downloading and fix them.

[2019-09-17 12:01] TheHasagi commented on #3040
Unable to reproduce the issue. Should be reopened if there will be more details.

[2019-09-17 12:01] #3040 closed

[2019-09-17 15:04] Alex-302 opened #3074 "il.co.pat.WhatsAppStickersIL - does not work when AdGuard protection running"
@adguard-bot commented on [Tue Sep 17 2019](https://github.com/AdguardTeam/AdguardFilters/issues/40641)

### Issue URL (Incorrect Blocking)
[NSFW][http://www.pat.co.il](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=http%3A%2F%2Fwww.pat.co.il)
### Comment

### Screenshots
<details>
  <summary>Screenshot 1</summary>

  ![Screenshot 1](https://reports-img.adguard.com/VJY6ZZs.png)

[2019-09-17 15:05] Alex-302 commented on #3074
URL: https://play.google.com/store/apps/details?id=il.co.pat.WhatsAppStickersIL&hl=en_US

It is not working even if protection is disabled for this app. Works only when AG is paused.

[2019-09-17 15:48] artemiv4nov opened #3075 "Fix the way long running tasks work"
We need to start track and cache results of long running tasks. For example, the task to check the license or reset it.

[2019-09-18 09:42] TheHasagi commented on #3005
Issue closed. Will be reopened if there will be more details.

[2019-09-18 09:42] #3005 closed

[2019-09-18 13:33] admitrevskiy commented on #3035
Done.

[2019-09-18 13:36] Chinaski1 opened #3076 "Adguard 3.2 does not launch"
### Issue Details

- **AdGuard version:**
  -  v3.3 nightly 5 / latest realese

### Actual Behavior
After installing version 3.2 the application does not start.

### Customer ID

2296943

MarkFrom4PDA

**Logcat in NCloud**

### Additional Information

Both users run AdGuard  without problems on version 3.1

[2019-09-18 17:39] Alex-302 opened #3077 "com.gsgroup.tricoloronline.mobile - app is broken"
@adguard-bot commented on [Sat Aug 17 2019](https://github.com/AdguardTeam/AdguardFilters/issues/38752)

### Issue URL (Incorrect Blocking)
[https://play.google.com/store/apps/details?id=com.gsgroup.tricoloronline.mobile](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.gsgroup.tricoloronline.mobile)
### Comment

##

[2019-09-18 17:40] Alex-302 commented on #3077
Probably a bug. Cannot check.

[2019-09-18 21:22] rakleed opened #3078 "Анимация включения защиты после применения настроек"
### Problem Description

При изменении настроек и переходе на главный экран переключатель защиты находится в выключенном положении, потом через несколько секунд включается. При этом нет никакой анимации, что сейчас идёт включение защиты. Из-за этого хочется вручную включить защиту, что не требуется.

### Proposed Solution
Добавьте анимацию при автоматическом отключении и включении защиты при измен

[2019-09-18 21:33] Rakleed opened #3079 "Support messages are automatically converted to lower case"
### Issue Details

- **AdGuard version:**
  - 3.2.150
- **Filtering mode:**
  - HTTP Proxy (Auto)
- **Device:**
  - OnePlus 3
- **Operating system and version:**
  - Android 9
- **Root access:**
  - Yes

### Expected Behavior
При написании текста в разделе Описание первое слово будет автоматически с заглавной буквы, а после точки и пробела тоже будет с заглавной буквы.

### Actual Behavior
При нап

[2019-09-19 08:38] slavaleleka commented on #3077
I've checked and filtering log was empty, so definitely a bug

[2019-09-19 12:11] admitrevskiy commented on #2174
Done.

[2019-09-19 18:54] akmLaVx opened #3080 "Incompatibility with com.yoha.ahoy"
### Issue Details

- **AdGuard version:**
  - 3.2.150
- **Filtering mode:**
  - Local VPN
- **Device:**
  - HTC U-2u
- **Operating system and version:**
  - Android 6
- **Root access:**
  - No

### Expected Behavior

AdGuard shouldn't interfere with the app.

### Actual Behavior

AdGuard blocks some in-app API calls.

### Screenshots

Not applicable

### Additional Information

Filtering & debus l

[2019-09-20 10:19] admitrevskiy commented on #3055
Cannot reproduce.

[2019-09-20 10:19] #3055 closed

[2019-09-21 14:06] ameshkov commented on #3072
This looks just like the case with the Facebook app

[2019-09-21 14:14] ameshkov commented on #3080
@akmLaVx is it a SIP app? Does it work with any other VPN app?

[2019-09-21 15:46] ameshkov opened #3081 "Request trial via OAuth"
Currently, we ask users to enter the email address when starting trial period. We should allow using social accounts as an option.

@AlikhanAliev we need a mockup for that.

[2019-09-23 06:40] 3xploiton3 commented on #3052
I move cert adguard to system,

￼

[2019-09-23 07:21] #2780 closed

[2019-09-23 08:01] artemiv4nov commented on #3072
@ameshkov you mean, Facebook Lite app? I think we can try to add an application to a special "VPN-reconfigure-if-app-installed" list.

[2019-09-23 09:51] TheHasagi opened #3082 "Add 'Citibank RU' app to exclusions"
@altokarev commented on [Tue Sep 17 2019](https://github.com/AdguardTeam/HttpsExclusions/issues/195)

That is a bank application, so we don't have to filter it.​
https://play.google.com/store/apps/details?id=com.citibank.mobile.ru

[2019-09-23 10:09] yohalabs commented on #3080
Hello,

It has nothing to do with sip, it's just a plain https api call.

If we:

* Uncheck "Ad blocking", things will work. 😀
* Check "Ad blocking" and check the sub option "HTTPS filtering", things will work😀
* Check "Ad blocking" but Uncheck the sub option "HTTPS filtering", things will NOT work 😫

Seems like AdGuard mis-recognized our api response as an ad or tracker, but if we tell AdGuard to

[2019-09-23 10:17] yohalabs commented on #3080
Below is AdGuard verbose log when the api failed. ( log everything )

You can see AdGuard bypassing the https request, and our server did received request from APP.
But the response from server dropped by AdGuard, the APP never got response and throws Network Failure.

Seems AdGuard bypassing https checks, but block it without checking, otherwise, if we told AdGuard to check https packet, AdGuard

[2019-09-23 12:35] Chinaski1 opened #3083 "Hide Referrer from third-parties function fails in that purpose"
### Issue Details

- **AdGuard version:**
  -  3.3 Nightly 5(25-1.4.138CL)
- **Filtering mode:**
  -  Local VPN
- **Operating system and version:**
  -  Android 9

### Expected Behavior

Function **Hide Referrer from third-parties** should conceal what website we visited.

### Actual Behavior

For example, I try to test in on [amiunique.org/fp](amiunique.org/fp)

### Screenshots

<details><summary

[2019-09-23 16:25] admitrevskiy commented on #2973
Done

[2019-09-24 11:16] admitrevskiy commented on #3019
Done.

[2019-09-24 12:09] dnovitskyi opened #3084 "Add proxy auto-switching"
### Problem Description

AdGuard is unable to automatically switch between proxies based on their speed / latency.

### Proposed Solution

Allow AdGuard to automatically switch between user-specified proxies depending on their speed.

### Alternatives Considered

None considered.

### Additional Information

Reported by helpdesk user 1553986

[2019-09-24 14:50] admitrevskiy commented on #3069
Done.

[2019-09-24 21:34] d0x360 commented on #3083
This was the issue I reported via the app a couple weeks ago so you probably have my logs.  If you need any more info from me just let me know.

[2019-09-25 06:18] SergeiShir opened #3085 "Option to export all settings has disappeared (v3.3 Nightly 5 (25))"
### Prerequisites

- [ x ] I am running the latest version
- [ x ] I checked the documentation and found no answer
- [ x ] I checked to make sure that this issue has not already been filed

### Issue Details
Option to export all settings has disappeared

- **AdGuard version:**
  - 3.3 nightly 5 (25)
- **Filtering mode:**
  - Local VPN
- **Device:**
  - Google Pixel 2 XL
- **Operating system and ve

[2019-09-25 08:27] admitrevskiy commented on #3085
@SergeiShir hi!
Export / Import settings has been moved to `General`

[2019-09-25 20:14] #3085 closed

[2019-09-25 20:14] SergeiShir commented on #3085
Thank you for quick response

[2019-09-26 06:21] yohalabs commented on #3080
We've also tried self-signed cert and other valid cert, it makes no difference.

Does AdGuard just drop the response due to an unknow domain name when it is not deep look into https?

Or does this can be fixed simply update the AdGuard maintained rule talbe?

[2019-09-26 09:07] akmLaVx opened #3086 "AdGuard crashes when pinging a domain via PingTools"
### Repro
1. Install PingTools from https://pingtools.org/
2. Attempt to ping any website (eg. example.com)
3. AdGuard crashes

### Issue Details

- **AdGuard version:**
  - 3.2.150 (Release)
- **Filtering mode:**
  - Local VPN, high-quality
- **Device:**
  - Motorola Moto G (5)
- **Operating system and version:**
  - Android 8.1.0
- **Root access:**
  - No

### Expected Behavior

PingTools pings

[2019-09-26 09:47] Chinaski1 commented on #3086
Login in *NCloud*
**Time: 16:17**

[2019-09-26 10:05] AlikhanAliev opened #3087 "Not good mimicry"
Our toasts mimic snacks but not exactly. We have to correct a font size and an align and an toast height. Also we should to remove a dot and use a short showing time for this element.

![image](https://user-images.githubusercontent.com/30260021/65679558-fe079180-e05d-11e9-9659-a3f4775b6096.png)

[2019-09-26 10:14] JonnyRedHed opened #3088 "Xiaomi Mi 9T Not always showing VPN badge - Android keeps turning it off."
- [ yes] I am running the latest version
- [ yes] I checked the documentation and found no answer
- [yes ] I checked to make sure that this issue has not already been filed

### Issue Details

Xiaomi Mi 9T  - New - Global version set to UK.

AdGuard version:  Latest as writing this.
Local VPN on
Xiaomi Mi 9T up to date Android 9,  10 coming next month.
Not Rooted.

Expected Behaviour

Adguard not

[2019-09-26 10:31] AlikhanAliev opened #3089 "Friendly snacks"
We should correct a font size, a snack's height etc. It should be same as on layout

https://share.goabstract.com/aed96260-9d1d-4cc4-827c-5661879cd8a2?sha=1a96533a1efc9c3ad3967deb358dd9d07e5a405c

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/30260021/65682602-eaf7c000-e063-11e9-9284-feda3901e462.png)

</details>

[2019-09-26 10:36] AlikhanAliev opened #3090 "в"
<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/30260021/65681950-9ef84b80-e062-11e9-867e-37104c0bcd91.png)

</details>

[2019-09-26 10:36] #3090 closed

[2019-09-26 10:40] sfionov opened #3091 "Update CoreLibs to 1.5.60"
* [Feature] urlfilter refactoring: AdguardTeam/CoreLibs#1106
* [Feature] Add $redirect modifier: AdguardTeam/CoreLibs#1043
* [Feature] Add support for domain.* TLD matching: AdguardTeam/CoreLibs#48
* [Feature] Domain restrictions semantics: AdguardTeam/CoreLibs#1113
* [Fix] Listen port "0" must lead to auto selecting port, not to use "0" port: AdguardTeam/CoreLibs#1028
* [Fix] $replace rules don't

[2019-09-26 11:00] AlikhanAliev opened #3092 "Proxy screen corrections"
We should use [this layout](https://share.goabstract.com/0296dcd9-a9e5-43e8-9b87-570c3b2453db?sha=977ce3f4913be876e6c902fca13f4fff82359999)

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/30260021/65683032-f0a1d580-e064-11e9-8b61-7b819f35912c.png)

</details>

[2019-09-26 11:08] admitrevskiy commented on #3082
Done

[2019-09-26 13:07] AlikhanAliev opened #3093 "Add a "Cancel" button"
In "Add proxy" dialog we don't have a "cancel" button

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/30260021/65690403-a37b2f00-e077-11e9-8f41-88d054ed089e.png)

</details>

[2019-09-26 15:06] admitrevskiy commented on #3037
Import / Export settings has been moved to `General`

[2019-09-26 15:07] #3037 closed

[2019-09-26 15:33] #3083 closed

[2019-09-26 15:33] TheHasagi commented on #3083
Issue moved to [AdguardTeam/CoreLibs #1136](https://github.com/AdguardTeam/CoreLibs/issues/1136) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-27 08:02] admitrevskiy commented on #3076
Done.

Testing instructions for QA: no needs

[2019-09-27 08:04] admitrevskiy commented on #3013
Done.

Testing instructions for QA: no needs

[2019-09-27 08:10] admitrevskiy commented on #3087
Done.

Testing instructions for QA:
- Reinstall AG
- Disable all filters
- Go to main screen
- You will see `Enable filters` snackbar
- Change configuration to trigger protection restart (enable/disable HTTPS or DNS filtering for example)
- Go back to the main screen
- You will see `New settings were applied` notification

Expected result:
- Notification font, sizes and margins are the same with t

[2019-09-27 09:00] TheHasagi commented on #3088
@JonnyRedHed

Hello, this issue is not related to AdGuard, the VPN icon is a system-based function that should be handled by MIUI. As it was already spoken in #2780 - unfortunately, we can not do anything here.

[2019-09-27 09:00] #3088 closed

[2019-09-27 10:45] akmLaVx opened #3094 "Allow local VPN to fixate packet TTL"
Requested by user 2324870

### Description
Не ли технической возможности
внедрить фиксацию TTL всех пактов во встроенный VPN? Это даст возможность
смартфонам, на котором установлено ваше приложение, невозбранно раздавать
интернет на тарифных планах, на которых раздача запрещена. Уверен, это
повысит популярность вашего приложения + может служить хорошим стимулом для
покупки полной версии.

[2019-09-27 11:19] akmLaVx opened #3095 "Wrong "Internet is not available" message on UpdatesActivity"
### Issue Details

- **AdGuard version:**
  - 3.3 n2
- **Filtering mode:**
  - Local VPN
- **Device:**
  - Samsung Galaxy Note 9 SM-N960F
- **Operating system and version:**
  - Android 9
- **Root access:**
  - None

### Expected Behavior

AdGuard application updates should be downloaded without any issues

### Actual Behavior

When using Wi-Fi, AdGuard is unable to download app updates. Filter up

[2019-09-27 11:42] akmLaVx opened #3096 "Soft reboots in Android 10"
## Issue Details

- **AdGuard version:**
  - 3.2.150
- **Filtering mode:**
  - Local VPN
- **Device:**
  - Google Pixel 3
- **Operating system and version:**
  - Android 10
- **Root access:**
  - No

### Expected Behavior

AdGuard should remain stable while filtering ads in the background

### Actual Behavior

AdGuard starts crashing after updating to Android 10

### Logs

See helpdesk ID 2077749

[2019-09-27 11:43] akmLaVx commented on #3096
The issue can be reproduced across a wide range of devices running Android 10. We will update the ticket with more cases.

[2019-09-27 13:29] admitrevskiy commented on #3095
As I see in logs, the user has 3.3 n5 installed. Update will be available after 3.3 n6 release.

[2019-09-27 14:28] admitrevskiy commented on #3092
Done.

[2019-09-27 14:46] Xophile commented on #3095
Correct, I have 3.3 n5. Is the issue fixed in n6?

[2019-09-27 15:12] admitrevskiy commented on #3095
@Xophile hi!
3.3 n6 version not released yet, thats why app can't be updated: there is just nothing to update.

[2019-09-27 15:49] JonnyRedHed commented on #3088
I understand, thanks for the reply.

[2019-09-27 18:46] Xophile commented on #3095
Ok, got that. But it still says "Internet not available" when there is no problem with my connection

[2019-09-27 20:44] admitrevskiy commented on #3095
Oh, now I see. We try to resolve `example.org` to check if internet connection is available and for some reason this check failed in your network 🤔
Can you give me more information about your wifi network? Maybe you have AGHome or other filtering app right in the router? Is `example.org` reachable via browser?

[2019-09-28 05:50] Xophile commented on #3095
I haven't done any changes at all in my network for over a year. This behavior happened solely after an AG update. Fiber connection, Technicolor TG799vac Xtream router.

I cannot access example.org from my Firefox browser on my phone.

Thanks

[2019-09-28 15:29] AnisKhanUK commented on #3096
I have a Pixel 2 and can confirm the crashing as well.

[2019-09-28 18:43] Xophile commented on #3095
Updated to n6 and went to a friend's house. Completely different location, router etc but the same error message.

[2019-09-28 21:02] admitrevskiy commented on #3095
Is `example.org` unreachable on this network too?

We should try to reproduce this issue on our side.
Please, enable `Record everything` in `Advanced` settings and try to reproduce the issue with n6. After that try to reach `example.org` via browser. Send this logs to `devteam@adguard.com` and specify time when issue happened.

You can enable DNS filtering and we will see some additional info in l

[2019-09-28 21:45] TPS commented on #1617
Now that the name is changed to "AdGuard Base filter," could this issue title be updated?  TIA! 🙇🏾‍♂️

[2019-09-29 05:34] Xophile commented on #3095
Hi!

I forgot to try example.org on my friends network.

I have already sent in logs with record everything and timestamps in helpdesk ticket 1456058.

Do you need more logs from n6 you mean?

Thanks

[2019-09-29 07:51] Xophile commented on #3095
Example.org does not work with any other phone in my house where AG is enabled. There are no errors on a Samsung Galaxy S8 when I try to update it on the very same network.

[2019-09-29 21:13] USAPaulQ commented on #3096
Someone in an AdGuard forum suggested turning off app filtering so I turned off "Block Ads in All Apps" (SETTINGS > CONTENT BLOCKING...).

My phone did not reboot for two days. That's very good. I had to shut down my phone to install a new screen protector so it was only two days but it used to reboot every 36 hours or so. I will continue to leave this setting off. If I make it to Wednesday with n

[2019-09-30 08:07] admitrevskiy commented on #3095
@Xophile  hi!
Yes, I ask you to record more logs with DNS filtering enabled.
The difference with previous logs is an explicitly attempt to reach `example.org` via browser. I'd like to find out what's wrong with this domain in your case :)

[2019-09-30 09:57] slavaleleka commented on #3087
I suggest to use Present Perfect for such notification — 'New settings have been applied' and 'Filtering rule has been added'. Also there're different shades of green

![slbdzd8l z2r3e](https://user-images.githubusercontent.com/45171506/65868421-df1c3e80-e380-11e9-9f12-93e30077a723.png)

***

In this case yellow notification is lower than green one, it has center alignment of text and it seems lik

[2019-09-30 10:21] slavaleleka commented on #3087
I guess 'The text's been copied to the clipboard' would be better here too
\+ one more different shade of green

![slbdzd8l wgbey](https://user-images.githubusercontent.com/45171506/65870346-b5fdad00-e384-11e9-88d3-345ea2cf43e7.png)

[2019-09-30 10:51] TheHasagi commented on #3096
@AnisKhanUK @USAPaulQ

Guys, can you go to the AdGuard - Settings - Advanced - Low-level settings - try to check the reboots with disabled pref.vpn.disable.reconfigure/pause. It would help us a lot with any results you can provide.

[2019-09-30 12:33] ameshkov commented on #3096
This issue is caused by a bug in Android's new VPN API: https://issuetracker.google.com/issues/141188490

The problem is that this API is crucial to AdGuard (and any other VPN app actually).
Once it's resolved by Google, reboots will go away.

[2019-09-30 12:36] TheHasagi commented on #3096
Update*

The problem is found. It is in Android 10, for more details follow this [link](https://at.e-tjanster.1177.se/samlsps)

[2019-09-30 12:41] ameshkov commented on #3096
The fix is currently on review in AOSP: https://android-review.googlesource.com/c/platform/frameworks/base/+/1129013

Hopefully, we'll get it with the next Android patch.

[2019-09-30 12:43] Chinaski1 commented on #2997
The same problem occurs on Custom filters

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/49645813/65879698-0ed74080-e399-11e9-9369-d71d8052f003.png)

</details>

[2019-09-30 13:07] AlikhanAliev opened #3097 "Implement the new version of the AdGuard Graph view"
We have to implement the new version of the AdGuard Graph view to remove all bugs from the current version, add a few new useful features, and make this view worked on all Android versions.
More about the implementation: @artemiv4nov.

---
### Archive
[image 1](https://images.zenhubusercontent.com/5bf2ddc398990d7460dcc261/3721cc66-6507-4600-ba3e-e03a3b73c997)

[image 2](https://user-images.githubu

[2019-09-30 13:10] artemiv4nov opened #3098 "Fix icon of application updates"
Icon of app updates on UpdatesActivity is wrong when app is up to date.

[2019-09-30 14:45] AlikhanAliev opened #3099 "Let's do Proxy list like in the Telegram app"
### Problem Description

Now we have to check Proxy availability manually

### Proposed Solution

Start availability checking on Proxy list view automatically
Show a status below each added Proxy
Remove "check" button

https://share.goabstract.com/0142e267-8d93-424a-a2c7-0a7667a083ec?sha=2d77621283131a7de16235e905bd236c879fec37

[2019-09-30 16:05] admitrevskiy commented on #3091
Done.

[2019-09-30 17:39] AlikhanAliev opened #3100 "We should change a behaviour of disabled cells"
We should just switch on a stealth mode and choose a tapped variant when user tapping a disabled cell.

![image.png](https://images.zenhubusercontent.com/5bf2ddc398990d7460dcc261/d79694fb-80c4-475c-9415-dbf3612d96f4)

[2019-09-30 17:43] USAPaulQ commented on #3096
Do you still want me to do this even though messages after this cite a Google VPN issue?

If so, do you want me to turn content blocking back on before I do it?

[2019-10-01 00:41] TPS commented on #1889
Since https://github.com/AdguardTeam/AdguardFilters/commit/59a4778bcdbfeb63a9b346164d48582e7264a5f0 was committed to close out #908, could there be a corresponding commit for _this_ issue?  The package list is [above](https://github.com/AdguardTeam/AdguardForAndroid/issues/1889#issue-326708947).

[2019-10-01 04:28] Xophile commented on #3095
New logs sent!

[2019-10-01 10:23] admitrevskiy commented on #2995
Done.

Testing instructions for QA:
- Reinstall AG
- Examine possible protection restart cases for different filtering methods and configurations

[2019-10-01 11:54] ameshkov commented on #3094
We have no access to the traffic from devices connected to hotspot

[2019-10-01 11:54] #3094 closed

[2019-10-01 14:52] slavaleleka opened #3101 "Error notification while custom local stored filter updates"
### Issue Details

**AdGuard version:** 3.3 nightly 7
**Operating system and version:** Android 9

### Actual Behavior

<details><summary>look at this:</summary>

![Screenshot_20191001-165121](https://user-images.githubusercontent.com/45171506/65972050-eec78000-e471-11e9-96fa-310d434195eb.png)

</details>

### Expected Behavior

There is notification bottom padding which shouldn't be.

I guess err

[2019-10-01 17:19] Alex-302 opened #3102 "com.nikkei.newspaper app is not working"
@adguard-bot commented on [Sat Sep 28 2019](https://github.com/AdguardTeam/AdguardFilters/issues/41362)

### Issue URL (Incorrect Blocking)
[https://play.google.com/store/apps/details?id=com.nikkei.newspaper](https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.nikkei.newspaper)
### Comment

### Screenshots
<details>

[2019-10-01 17:22] Alex-302 commented on #3102
On my device it is not working with AdGuard DNS only(with filters and with another DNS it works).
Not sure if it is broken by AdGuard app or AdGuard DNS, don't see network requests from this app in filtering log.

[2019-10-02 05:47] sviperz commented on #2836
The issue is easy reproducible on the latest Android 10 release and AG Nightly. You just take a new photo and watch Google Photos waiting for WiFi infinitely though it is definitely turned on.

![Google_Photos_WiFi_Issue](https://user-images.githubusercontent.com/11470610/66020692-908db200-e4f0-11e9-8ce3-0f34c86ff68e.png)

Please escalate as since backup using mobile data is usually turned off, th

[2019-10-02 13:22] Chinaski1 opened #3103 "AdGuard crashes when you choose a different type of DNS server. (DoT/DoH)"
### Issue Details

- **AdGuard version:**
  -  3.3.50
- **Filtering mode:**
  -  Local VPN
- **Device:**
  -  LENOVO A7010a48
- **Operating system and version:**
  -  6.0.
- **Root access:**
  -  Yes

### Actual Behavior

We need to keep implicit resources so let's turn `shrinkResources` off into build settings

### Screenshots

<details><summary>Screenshot:</summary>

![image](https://user-images